<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>1.0.1</string>
	<key>connections</key>
	<dict>
		<key>1D6433D5-341A-47E1-9A3E-EC4E76449DF4</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>5F222351-23DD-4832-B82B-8EC2095AC14E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>E09E0D9B-842E-4544-8D0C-D5A7A92DFD3E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>5F222351-23DD-4832-B82B-8EC2095AC14E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>PSiCKo</string>
	<key>description</key>
	<string>Desinstalar aplicaciones, widgets, plugins o preferencias con AppZapper</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>AppZapper</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>127</integer>
				<key>script</key>
				<string>open -a AppZapper {query}</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>5F222351-23DD-4832-B82B-8EC2095AC14E</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>anchorfields</key>
				<true/>
				<key>daterange</key>
				<integer>0</integer>
				<key>fields</key>
				<array>
					<dict>
						<key>field</key>
						<string>kMDItemDisplayName</string>
						<key>not</key>
						<false/>
						<key>split</key>
						<true/>
						<key>value</key>
						<string>{query}</string>
						<key>words</key>
						<true/>
					</dict>
					<dict>
						<key>field</key>
						<string>kMDItemAlternateNames</string>
						<key>not</key>
						<false/>
						<key>split</key>
						<true/>
						<key>value</key>
						<string>{query}</string>
						<key>words</key>
						<true/>
					</dict>
					<dict>
						<key>field</key>
						<string>kMDItemFinderComment</string>
						<key>not</key>
						<false/>
						<key>split</key>
						<true/>
						<key>value</key>
						<string>{query}</string>
						<key>words</key>
						<true/>
					</dict>
				</array>
				<key>includesystem</key>
				<false/>
				<key>keyword</key>
				<string>desinstalar</string>
				<key>scopes</key>
				<array>
					<string>/Applications</string>
				</array>
				<key>subtext</key>
				<string>Eliminar aplicación, widget, plugin o panel de preferencias con AppZapper</string>
				<key>title</key>
				<string>Desinstalar con AppZapper</string>
				<key>types</key>
				<array>
					<string>com.apple.application-bundle</string>
					<string>com.apple.dashboard-widget</string>
					<string>com.apple.plugin</string>
					<string>com.apple.systempreference.prefpane</string>
				</array>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.filefilter</string>
			<key>uid</key>
			<string>E09E0D9B-842E-4544-8D0C-D5A7A92DFD3E</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>acceptsmulti</key>
				<true/>
				<key>filetypes</key>
				<array>
					<string>com.apple.application-bundle</string>
					<string>com.apple.dashboard-widget</string>
					<string>com.apple.plugin</string>
					<string>com.apple.systempreference.prefpane</string>
				</array>
				<key>name</key>
				<string>Desinstalar con AppZapper</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.action</string>
			<key>uid</key>
			<string>1D6433D5-341A-47E1-9A3E-EC4E76449DF4</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>Uninstall app with AppZapper</string>
	<key>uidata</key>
	<dict>
		<key>1D6433D5-341A-47E1-9A3E-EC4E76449DF4</key>
		<dict>
			<key>ypos</key>
			<real>110</real>
		</dict>
		<key>5F222351-23DD-4832-B82B-8EC2095AC14E</key>
		<dict>
			<key>ypos</key>
			<real>20</real>
		</dict>
		<key>E09E0D9B-842E-4544-8D0C-D5A7A92DFD3E</key>
		<dict>
			<key>ypos</key>
			<real>20</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>www.twitter.com/PSiCK0</string>
</dict>
</plist>
