<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>jga.alfred.layouts</string>
	<key>connections</key>
	<dict>
		<key>2D9B5608-8924-44BB-ACE3-06F124842A7D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>4A3C9A90-372E-404D-AF8F-53F3F4FA6F61</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>3761243B-89C7-4838-8FBA-F867461E846B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>4A3C9A90-372E-404D-AF8F-53F3F4FA6F61</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>4A3C9A90-372E-404D-AF8F-53F3F4FA6F61</key>
		<array/>
		<key>4BBD7242-BD9D-4D8E-98F9-CB61E3FC3F39</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>4A3C9A90-372E-404D-AF8F-53F3F4FA6F61</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>58E90636-73B4-4C00-A127-681D45272BF0</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>4A3C9A90-372E-404D-AF8F-53F3F4FA6F61</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>5B360532-D9CC-4FE9-93FB-75AF82787F4E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>4A3C9A90-372E-404D-AF8F-53F3F4FA6F61</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>6FB3D7CB-E570-4171-8B47-B187079B14FD</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>4A3C9A90-372E-404D-AF8F-53F3F4FA6F61</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>7BEAB15D-9856-4ABD-AC0A-ACAC34A14F8D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>4A3C9A90-372E-404D-AF8F-53F3F4FA6F61</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>9A1C878F-2C40-4803-BF6D-3A4B00BB17DB</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>4A3C9A90-372E-404D-AF8F-53F3F4FA6F61</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>A4ED796E-D87A-4F4E-9CC0-07A67EAFC2C5</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>4A3C9A90-372E-404D-AF8F-53F3F4FA6F61</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>B35E46CC-D76A-4961-B412-23E2297299F1</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>4A3C9A90-372E-404D-AF8F-53F3F4FA6F61</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>D492AA39-6473-48DF-8C81-88FBEEC71368</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>4A3C9A90-372E-404D-AF8F-53F3F4FA6F61</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>E1455114-F18E-455A-B9E7-4F66E1A51C1F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>4A3C9A90-372E-404D-AF8F-53F3F4FA6F61</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>E916DFF6-3FE6-4FFD-BB58-4712FDA62E6F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>4A3C9A90-372E-404D-AF8F-53F3F4FA6F61</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>F4897C6D-A35C-467D-93C6-690D11710ED9</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>4A3C9A90-372E-404D-AF8F-53F3F4FA6F61</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>JGAui</string>
	<key>description</key>
	<string>Simple Window Manager v2.1.0</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Layouts</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>layouts</string>
				<key>subtext</key>
				<string>Resize Current Window</string>
				<key>text</key>
				<string>Layouts</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>E916DFF6-3FE6-4FFD-BB58-4712FDA62E6F</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>3</integer>
				<key>argumenttext</key>
				<string>left</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>A4ED796E-D87A-4F4E-9CC0-07A67EAFC2C5</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>3</integer>
				<key>argumenttext</key>
				<string>right</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>2D9B5608-8924-44BB-ACE3-06F124842A7D</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>3</integer>
				<key>argumenttext</key>
				<string>top</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>5B360532-D9CC-4FE9-93FB-75AF82787F4E</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>3</integer>
				<key>argumenttext</key>
				<string>bottom</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>6FB3D7CB-E570-4171-8B47-B187079B14FD</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>3</integer>
				<key>argumenttext</key>
				<string>zoom</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>3761243B-89C7-4838-8FBA-F867461E846B</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>62</integer>
				<key>script</key>
				<string>osascript layouts.scpt "{query}"</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>4A3C9A90-372E-404D-AF8F-53F3F4FA6F61</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>3</integer>
				<key>argumenttext</key>
				<string>center</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>F4897C6D-A35C-467D-93C6-690D11710ED9</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>3</integer>
				<key>argumenttext</key>
				<string>centersmall</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>B35E46CC-D76A-4961-B412-23E2297299F1</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>3</integer>
				<key>argumenttext</key>
				<string>topleft</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>7BEAB15D-9856-4ABD-AC0A-ACAC34A14F8D</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>3</integer>
				<key>argumenttext</key>
				<string>topright</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>58E90636-73B4-4C00-A127-681D45272BF0</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>3</integer>
				<key>argumenttext</key>
				<string>bottomleft</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>4BBD7242-BD9D-4D8E-98F9-CB61E3FC3F39</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>3</integer>
				<key>argumenttext</key>
				<string>bottomright</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>E1455114-F18E-455A-B9E7-4F66E1A51C1F</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>3</integer>
				<key>argumenttext</key>
				<string>0 0 .4 1</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>D492AA39-6473-48DF-8C81-88FBEEC71368</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>3</integer>
				<key>argumenttext</key>
				<string>.4 0 1 1</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>9A1C878F-2C40-4803-BF6D-3A4B00BB17DB</string>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>2D9B5608-8924-44BB-ACE3-06F124842A7D</key>
		<dict>
			<key>ypos</key>
			<real>280</real>
		</dict>
		<key>3761243B-89C7-4838-8FBA-F867461E846B</key>
		<dict>
			<key>ypos</key>
			<real>640</real>
		</dict>
		<key>4A3C9A90-372E-404D-AF8F-53F3F4FA6F61</key>
		<dict>
			<key>ypos</key>
			<real>760</real>
		</dict>
		<key>4BBD7242-BD9D-4D8E-98F9-CB61E3FC3F39</key>
		<dict>
			<key>ypos</key>
			<real>1240</real>
		</dict>
		<key>58E90636-73B4-4C00-A127-681D45272BF0</key>
		<dict>
			<key>ypos</key>
			<real>1120</real>
		</dict>
		<key>5B360532-D9CC-4FE9-93FB-75AF82787F4E</key>
		<dict>
			<key>ypos</key>
			<real>400</real>
		</dict>
		<key>6FB3D7CB-E570-4171-8B47-B187079B14FD</key>
		<dict>
			<key>ypos</key>
			<real>520</real>
		</dict>
		<key>7BEAB15D-9856-4ABD-AC0A-ACAC34A14F8D</key>
		<dict>
			<key>ypos</key>
			<real>1000</real>
		</dict>
		<key>9A1C878F-2C40-4803-BF6D-3A4B00BB17DB</key>
		<dict>
			<key>ypos</key>
			<real>1600</real>
		</dict>
		<key>A4ED796E-D87A-4F4E-9CC0-07A67EAFC2C5</key>
		<dict>
			<key>ypos</key>
			<real>160</real>
		</dict>
		<key>B35E46CC-D76A-4961-B412-23E2297299F1</key>
		<dict>
			<key>ypos</key>
			<real>880</real>
		</dict>
		<key>D492AA39-6473-48DF-8C81-88FBEEC71368</key>
		<dict>
			<key>ypos</key>
			<real>1480</real>
		</dict>
		<key>E1455114-F18E-455A-B9E7-4F66E1A51C1F</key>
		<dict>
			<key>ypos</key>
			<real>1360</real>
		</dict>
		<key>E916DFF6-3FE6-4FFD-BB58-4712FDA62E6F</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>F4897C6D-A35C-467D-93C6-690D11710ED9</key>
		<dict>
			<key>ypos</key>
			<real>760</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>http://twitter.com/jgaui</string>
</dict>
</plist>
