<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.foojin.dostounixpath</string>
	<key>connections</key>
	<dict>
		<key>7D6A4553-9DCC-40D0-9AB6-F60A5F99C4B8</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>3B3490FE-DE30-4DE1-A745-C6F0DC74E550</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>DA562B9A-23AE-4202-8F4D-349787021872</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>C60BDB06-C626-47D0-B8D8-E9799861BBA4</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>7D6A4553-9DCC-40D0-9AB6-F60A5F99C4B8</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>GoOz</string>
	<key>description</key>
	<string>…and reveal it with finder</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Translate DOS path to UNIX path</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>62</integer>
				<key>script</key>
				<string>echo -n '{query}' | sed -e 's,:,,; s,\\,/,g; s,^\(.*\)$,file:///Volumes/\1,; s,/$,,' | tr -d '\n'</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>7D6A4553-9DCC-40D0-9AB6-F60A5F99C4B8</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>path</string>
				<key>text</key>
				<string>Reveal path with Finder</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>C60BDB06-C626-47D0-B8D8-E9799861BBA4</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>3B3490FE-DE30-4DE1-A745-C6F0DC74E550</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>62</integer>
				<key>script</key>
				<string>open -R "{query}"</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.script</string>
			<key>uid</key>
			<string>DA562B9A-23AE-4202-8F4D-349787021872</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>3B3490FE-DE30-4DE1-A745-C6F0DC74E550</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>7D6A4553-9DCC-40D0-9AB6-F60A5F99C4B8</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>C60BDB06-C626-47D0-B8D8-E9799861BBA4</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>DA562B9A-23AE-4202-8F4D-349787021872</key>
		<dict>
			<key>ypos</key>
			<real>140</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>https://github.com/GoOz/Alfred-DOStoUNIXpath</string>
</dict>
</plist>
