<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>info.taylorludwig.alfred.resolutions</string>
	<key>connections</key>
	<dict>
		<key>6BBB2558-9811-424E-B6E9-F28917804968</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D899FB48-182E-4B8C-96D8-7DC2C356F12B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>7F513886-ECFF-455F-BDE2-78174BCF2E37</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A36C5E7F-9FDA-43F3-B908-A9D58DE2FAB0</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>967E8A70-F88F-4CA8-A53B-36F980C1EEA3</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E32371AC-F198-4DF9-9DDC-E66CE63F42FE</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>B7C7F012-CD31-4906-BE07-4D000FEBA7C3</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>7F513886-ECFF-455F-BDE2-78174BCF2E37</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>D899FB48-182E-4B8C-96D8-7DC2C356F12B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A36C5E7F-9FDA-43F3-B908-A9D58DE2FAB0</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>E32371AC-F198-4DF9-9DDC-E66CE63F42FE</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A36C5E7F-9FDA-43F3-B908-A9D58DE2FAB0</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Taylor Ludwig</string>
	<key>description</key>
	<string>Sets resolutions for primary monitor</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Set Resolutions</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string>from resolution import set_resolution
set_resolution({query})</string>
				<key>type</key>
				<integer>3</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>D899FB48-182E-4B8C-96D8-7DC2C356F12B</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>res set</string>
				<key>runningsubtext</key>
				<string>Loading Resolution</string>
				<key>script</key>
				<string>from resolution import show_options
show_options("{query}")</string>
				<key>title</key>
				<string>Displays Resolution Options</string>
				<key>type</key>
				<integer>3</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>6BBB2558-9811-424E-B6E9-F28917804968</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>output</key>
				<integer>0</integer>
				<key>removeextension</key>
				<false/>
				<key>sticky</key>
				<false/>
				<key>title</key>
				<string>{query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>A36C5E7F-9FDA-43F3-B908-A9D58DE2FAB0</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string>from resolution import res_up
res_up()</string>
				<key>type</key>
				<integer>3</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>7F513886-ECFF-455F-BDE2-78174BCF2E37</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>res up</string>
				<key>subtext</key>
				<string>Increases the resolution</string>
				<key>text</key>
				<string>Resolution Up</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>B7C7F012-CD31-4906-BE07-4D000FEBA7C3</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string>from resolution import res_down
res_down()</string>
				<key>type</key>
				<integer>3</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>E32371AC-F198-4DF9-9DDC-E66CE63F42FE</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>res down</string>
				<key>subtext</key>
				<string>Decreases the resolution</string>
				<key>text</key>
				<string>Resolution Down</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>967E8A70-F88F-4CA8-A53B-36F980C1EEA3</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>6BBB2558-9811-424E-B6E9-F28917804968</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>7F513886-ECFF-455F-BDE2-78174BCF2E37</key>
		<dict>
			<key>ypos</key>
			<real>130</real>
		</dict>
		<key>967E8A70-F88F-4CA8-A53B-36F980C1EEA3</key>
		<dict>
			<key>ypos</key>
			<real>250</real>
		</dict>
		<key>A36C5E7F-9FDA-43F3-B908-A9D58DE2FAB0</key>
		<dict>
			<key>ypos</key>
			<real>130</real>
		</dict>
		<key>B7C7F012-CD31-4906-BE07-4D000FEBA7C3</key>
		<dict>
			<key>ypos</key>
			<real>130</real>
		</dict>
		<key>D899FB48-182E-4B8C-96D8-7DC2C356F12B</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>E32371AC-F198-4DF9-9DDC-E66CE63F42FE</key>
		<dict>
			<key>ypos</key>
			<real>250</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>https://github.com/taylorludwig/Resolutions-Alfred</string>
</dict>
</plist>
