<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>benzi.battery2</string>
	<key>connections</key>
	<dict/>
	<key>createdby</key>
	<string>Benzi Ahamed</string>
	<key>description</key>
	<string>Displays battery levels of Apple devices</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Battery2</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>127</integer>
				<key>keyword</key>
				<string>battery</string>
				<key>script</key>
				<string>sh battery2.sh</string>
				<key>subtext</key>
				<string>Displays battery levels of Apple devices</string>
				<key>title</key>
				<string>Battery</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>FC4E82F4-DB56-4A65-A661-2E45C63F5743</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>FC4E82F4-DB56-4A65-A661-2E45C63F5743</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>benzi.site44.com</string>
</dict>
</plist>
