<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.joeworkman.kiwi.alfred2</string>
	<key>connections</key>
	<dict>
		<key>19F32426-F224-4264-A22A-BC5D4C3BDED8</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>EF725070-463E-490F-B4B9-4C76DF44E301</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>2C99F6F1-EF16-4CF1-9762-5D05A1FFAA4D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>5BCE9D24-6047-4DED-9DAA-44AAA665C9B9</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>98292A56-F2EB-41CC-BFEC-BEF61C80FCE2</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>089E29D2-709B-4D03-B151-8FD85BF4A5F7</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Joe Workman</string>
	<key>description</key>
	<string>Create new posts for App.net using Kiwi.app</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Kiwi</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string>open "kiwi://post?image=`echo "{query}" | perl -pe 's/\t/&amp;image=/g'`"
</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>089E29D2-709B-4D03-B151-8FD85BF4A5F7</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>plusspaces</key>
				<false/>
				<key>url</key>
				<string>kiwi://post?text={query}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>5BCE9D24-6047-4DED-9DAA-44AAA665C9B9</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>k!</string>
				<key>subtext</key>
				<string>Post directly to App.net through Kiwi</string>
				<key>text</key>
				<string>Kiwi - Post Now</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>19F32426-F224-4264-A22A-BC5D4C3BDED8</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>acceptsmulti</key>
				<true/>
				<key>filetypes</key>
				<array>
					<string>com.compuserve.gif</string>
					<string>public.jpeg</string>
					<string>public.png</string>
				</array>
				<key>name</key>
				<string>Kiwi - Post Image</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.action</string>
			<key>uid</key>
			<string>98292A56-F2EB-41CC-BFEC-BEF61C80FCE2</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>k</string>
				<key>subtext</key>
				<string>Create new draft post for App.net using Kiwi.app</string>
				<key>text</key>
				<string>Kiwi - Compose Post</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>2C99F6F1-EF16-4CF1-9762-5D05A1FFAA4D</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>plusspaces</key>
				<false/>
				<key>url</key>
				<string>kiwi://post?window=false&amp;text={query}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>EF725070-463E-490F-B4B9-4C76DF44E301</string>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>089E29D2-709B-4D03-B151-8FD85BF4A5F7</key>
		<dict>
			<key>ypos</key>
			<real>330</real>
		</dict>
		<key>19F32426-F224-4264-A22A-BC5D4C3BDED8</key>
		<dict>
			<key>ypos</key>
			<real>190</real>
		</dict>
		<key>2C99F6F1-EF16-4CF1-9762-5D05A1FFAA4D</key>
		<dict>
			<key>ypos</key>
			<real>60</real>
		</dict>
		<key>5BCE9D24-6047-4DED-9DAA-44AAA665C9B9</key>
		<dict>
			<key>ypos</key>
			<real>60</real>
		</dict>
		<key>98292A56-F2EB-41CC-BFEC-BEF61C80FCE2</key>
		<dict>
			<key>ypos</key>
			<real>330</real>
		</dict>
		<key>EF725070-463E-490F-B4B9-4C76DF44E301</key>
		<dict>
			<key>ypos</key>
			<real>190</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>http://joeworkman.net/</string>
</dict>
</plist>
