<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.evgeny.golubev.alfred.caffeinate</string>
	<key>connections</key>
	<dict>
		<key>1BFC807A-9BDB-400A-B61A-2E950D3A8622</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>70774624-F876-4A4B-9C92-A0EBEF4A56BB</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>EAF3EE98-97EC-4137-98F4-EDA613AACD00</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>1BFC807A-9BDB-400A-B61A-2E950D3A8622</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Evgeny Golubev</string>
	<key>description</key>
	<string>Controls system command "caffeinate" what prevents your Mac from sleeping.</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Caffeinate</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string>error_reporting(0); // This is set to off in order to escape an error for timezones not being set.

$query = "{query}";
$query = explode(" ",$query); // Separates commands from argument

$cmd = $query[0]; // Sets command
$arg = $query[1]; // Sets argument

if($cmd == "on"){
	$value = exec("ps -ef|grep caff|grep -v grep");
	$regex = "/^([\w\W]{0,})([0-9]){1,}([:]{1})([0-9]{2})([APM]{2})([\w\W]{1,})(caffeinate){1}([ \-tdbsi]]{0,})([0-9]{0,})/";

	$match = preg_match($regex, $value, $matches);
	if($match){
		echo "Caffeinate is already active.";
	}else{
		$message = "Caffeinate has now been activated ";

		if($arg != 'indefinitely'){
			$arg *= 60;
			shell_exec("caffeinate -dsit $arg  &gt;/dev/null 2&gt;&amp;1 &amp;");
			$message .= "for " . $arg/60 . " minutes.";
		}else{
			shell_exec("caffeinate -dsi &gt;/dev/null 2&gt;&amp;1 &amp;");
			$message .= "indefinitely.";
		}

		echo $message;
	}
}else{
	$value = shell_exec("ps -ef|grep caff|grep -v grep");
	$regex = "/^([\w\W]*)(caffeinate)([\w\W]*)$/";
	if ($value) {
		shell_exec("killall caffeinate");
		echo "Caffeinate is now disabled.";
	} else {
		echo "Caffeinate is already disabled.";
	}
}</string>
				<key>type</key>
				<integer>1</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>1BFC807A-9BDB-400A-B61A-2E950D3A8622</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<true/>
				<key>output</key>
				<integer>0</integer>
				<key>removeextension</key>
				<false/>
				<key>sticky</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>Caffeinate</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>70774624-F876-4A4B-9C92-A0EBEF4A56BB</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>escaping</key>
				<integer>127</integer>
				<key>keyword</key>
				<string>caffeinate</string>
				<key>runningsubtext</key>
				<string>Wait for status and actions...</string>
				<key>script</key>
				<string>php -f workflow.php</string>
				<key>subtext</key>
				<string>Prevents your Mac from sleeping.</string>
				<key>title</key>
				<string>Caffeinate</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>EAF3EE98-97EC-4137-98F4-EDA613AACD00</string>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>1BFC807A-9BDB-400A-B61A-2E950D3A8622</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>70774624-F876-4A4B-9C92-A0EBEF4A56BB</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>EAF3EE98-97EC-4137-98F4-EDA613AACD00</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>http://golubev.eu/</string>
</dict>
</plist>
