<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>me.alexw.pocket</string>
	<key>connections</key>
	<dict>
		<key>6CB1FEC7-2078-4E91-8E79-C1DF04ABFD01</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>75A6DD8D-AD65-42ED-9365-E086E930707B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>82FDCF4B-26D3-449F-BFE4-64A8C681A246</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>ABC0E741-3810-41EE-B8A5-944A84903C37</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>E5615ECF-D13E-4DBC-9CDC-906105A6CF12</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>E5615ECF-D13E-4DBC-9CDC-906105A6CF12</key>
		<array/>
		<key>FFE938E0-45E6-4D2D-8FED-C20D7B62A29A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>6CB1FEC7-2078-4E91-8E79-C1DF04ABFD01</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Alex Wolkov</string>
	<key>description</key>
	<string>pocket workflow</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Pocket workflow</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>escaping</key>
				<integer>127</integer>
				<key>keyword</key>
				<string>pocket_login</string>
				<key>runningsubtext</key>
				<string>Getting access token</string>
				<key>script</key>
				<string>python actions.py login ""</string>
				<key>subtext</key>
				<string>Login with Pocket</string>
				<key>title</key>
				<string>Pocket</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>82FDCF4B-26D3-449F-BFE4-64A8C681A246</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>plusspaces</key>
				<false/>
				<key>url</key>
				<string>https://getpocket.com/auth/authorize?request_token={query}&amp;redirect_uri=http://localhost:2222/resp.html</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>ABC0E741-3810-41EE-B8A5-944A84903C37</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>127</integer>
				<key>script</key>
				<string>python server.py {query} 123
</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>E5615ECF-D13E-4DBC-9CDC-906105A6CF12</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>127</integer>
				<key>script</key>
				<string>python actions.py post {query}
</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>6CB1FEC7-2078-4E91-8E79-C1DF04ABFD01</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>output</key>
				<integer>0</integer>
				<key>removeextension</key>
				<false/>
				<key>sticky</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>Saved article to pocket</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>75A6DD8D-AD65-42ED-9365-E086E930707B</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>escaping</key>
				<integer>127</integer>
				<key>keyword</key>
				<string>pocket_save</string>
				<key>runningsubtext</key>
				<string>getting urls...</string>
				<key>script</key>
				<string>python actions.py get_actions 123
</string>
				<key>subtext</key>
				<string>Save url to pocket</string>
				<key>title</key>
				<string>Pocket</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>FFE938E0-45E6-4D2D-8FED-C20D7B62A29A</string>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>6CB1FEC7-2078-4E91-8E79-C1DF04ABFD01</key>
		<dict>
			<key>ypos</key>
			<real>290</real>
		</dict>
		<key>75A6DD8D-AD65-42ED-9365-E086E930707B</key>
		<dict>
			<key>ypos</key>
			<real>290</real>
		</dict>
		<key>82FDCF4B-26D3-449F-BFE4-64A8C681A246</key>
		<dict>
			<key>ypos</key>
			<real>60</real>
		</dict>
		<key>ABC0E741-3810-41EE-B8A5-944A84903C37</key>
		<dict>
			<key>ypos</key>
			<real>60</real>
		</dict>
		<key>E5615ECF-D13E-4DBC-9CDC-906105A6CF12</key>
		<dict>
			<key>ypos</key>
			<real>180</real>
		</dict>
		<key>FFE938E0-45E6-4D2D-8FED-C20D7B62A29A</key>
		<dict>
			<key>ypos</key>
			<real>290</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>alexw.me</string>
</dict>
</plist>
