<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CallTrunk Call</key>
	<dict>
		<key>connections</key>
		<dict>
			<key>40A993D6-613C-4D0B-9083-E73ADD85C9B5</key>
			<array>
				<dict>
					<key>destinationuid</key>
					<string>16039760-F173-4AB8-9C73-DA7401D5DE23</string>
					<key>modifiers</key>
					<integer>0</integer>
					<key>modifiersubtext</key>
					<string></string>
				</dict>
			</array>
			<key>7C77EC82-6545-4451-AFFF-00A017A524B2</key>
			<array>
				<dict>
					<key>destinationuid</key>
					<string>C0388279-4206-43B1-B04E-AB8C66C6CA72</string>
					<key>modifiers</key>
					<integer>0</integer>
					<key>modifiersubtext</key>
					<string></string>
				</dict>
			</array>
		</dict>
		<key>objects</key>
		<array>
			<dict>
				<key>config</key>
				<dict>
					<key>name</key>
					<string>CallTrunk Call</string>
				</dict>
				<key>type</key>
				<string>alfred.workflow.trigger.contact</string>
				<key>uid</key>
				<string>7C77EC82-6545-4451-AFFF-00A017A524B2</string>
				<key>version</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>config</key>
				<dict>
					<key>escaping</key>
					<integer>127</integer>
					<key>script</key>
					<string>osascript bin/calltrunkcall.scpt {query}/US</string>
					<key>type</key>
					<integer>0</integer>
				</dict>
				<key>type</key>
				<string>alfred.workflow.action.script</string>
				<key>uid</key>
				<string>C0388279-4206-43B1-B04E-AB8C66C6CA72</string>
				<key>version</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>config</key>
				<dict>
					<key>argumenttype</key>
					<integer>0</integer>
					<key>escaping</key>
					<integer>102</integer>
					<key>keyword</key>
					<string>callk</string>
					<key>runningsubtext</key>
					<string>Searching...</string>
					<key>script</key>
					<string>./bin/Uni\ Call\ Basestation -k "{query}"</string>
					<key>subtext</key>
					<string>Make a CallTrunk call to your contact</string>
					<key>title</key>
					<string>CallTrunk Call</string>
					<key>type</key>
					<integer>0</integer>
					<key>withspace</key>
					<true/>
				</dict>
				<key>type</key>
				<string>alfred.workflow.input.scriptfilter</string>
				<key>uid</key>
				<string>40A993D6-613C-4D0B-9083-E73ADD85C9B5</string>
				<key>version</key>
				<integer>0</integer>
			</dict>
		</array>
		<key>uidata</key>
		<dict>
			<key>40A993D6-613C-4D0B-9083-E73ADD85C9B5</key>
			<dict>
				<key>ypos</key>
				<real>920</real>
			</dict>
			<key>7C77EC82-6545-4451-AFFF-00A017A524B2</key>
			<dict>
				<key>ypos</key>
				<real>980</real>
			</dict>
			<key>C0388279-4206-43B1-B04E-AB8C66C6CA72</key>
			<dict>
				<key>ypos</key>
				<real>980</real>
			</dict>
		</dict>
	</dict>
	<key>Dialogue Call</key>
	<dict>
		<key>connections</key>
		<dict>
			<key>08541403-BBB8-4F64-B149-5A52E3136F88</key>
			<array>
				<dict>
					<key>destinationuid</key>
					<string>28BBD4A6-F125-4651-A83C-B8BAD8685DF2</string>
					<key>modifiers</key>
					<integer>0</integer>
					<key>modifiersubtext</key>
					<string></string>
				</dict>
			</array>
			<key>D47F4C69-2F33-4974-AF4F-3027EF487BCB</key>
			<array>
				<dict>
					<key>destinationuid</key>
					<string>16039760-F173-4AB8-9C73-DA7401D5DE23</string>
					<key>modifiers</key>
					<integer>0</integer>
					<key>modifiersubtext</key>
					<string></string>
				</dict>
			</array>
		</dict>
		<key>objects</key>
		<array>
			<dict>
				<key>config</key>
				<dict>
					<key>name</key>
					<string>Dialogue Call</string>
				</dict>
				<key>type</key>
				<string>alfred.workflow.trigger.contact</string>
				<key>uid</key>
				<string>08541403-BBB8-4F64-B149-5A52E3136F88</string>
				<key>version</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>config</key>
				<dict>
					<key>escaping</key>
					<integer>127</integer>
					<key>script</key>
					<string>open "x-dialogue://{query}"</string>
					<key>type</key>
					<integer>0</integer>
				</dict>
				<key>type</key>
				<string>alfred.workflow.action.script</string>
				<key>uid</key>
				<string>28BBD4A6-F125-4651-A83C-B8BAD8685DF2</string>
				<key>version</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>config</key>
				<dict>
					<key>argumenttype</key>
					<integer>0</integer>
					<key>escaping</key>
					<integer>102</integer>
					<key>keyword</key>
					<string>calll</string>
					<key>runningsubtext</key>
					<string>Searching...</string>
					<key>script</key>
					<string>./bin/Uni\ Call\ Basestation -l "{query}"</string>
					<key>subtext</key>
					<string>Make a bluetooth phone call to your contact via Dialogue</string>
					<key>title</key>
					<string>Dialogue Call</string>
					<key>type</key>
					<integer>0</integer>
					<key>withspace</key>
					<true/>
				</dict>
				<key>type</key>
				<string>alfred.workflow.input.scriptfilter</string>
				<key>uid</key>
				<string>D47F4C69-2F33-4974-AF4F-3027EF487BCB</string>
				<key>version</key>
				<integer>0</integer>
			</dict>
		</array>
		<key>uidata</key>
		<dict>
			<key>08541403-BBB8-4F64-B149-5A52E3136F88</key>
			<dict>
				<key>ypos</key>
				<real>1220</real>
			</dict>
			<key>28BBD4A6-F125-4651-A83C-B8BAD8685DF2</key>
			<dict>
				<key>ypos</key>
				<real>1220</real>
			</dict>
			<key>D47F4C69-2F33-4974-AF4F-3027EF487BCB</key>
			<dict>
				<key>ypos</key>
				<real>1160</real>
			</dict>
		</dict>
	</dict>
	<key>FaceTime Call</key>
	<dict>
		<key>connections</key>
		<dict>
			<key>4BFCA6E8-65B9-4A44-9550-75E7319D88D1</key>
			<array>
				<dict>
					<key>destinationuid</key>
					<string>F5F02C46-B0CD-4244-86B8-7302D9CFAE57</string>
					<key>modifiers</key>
					<integer>0</integer>
					<key>modifiersubtext</key>
					<string></string>
				</dict>
			</array>
			<key>674DE779-72F5-4632-932B-FD1404CBE0FA</key>
			<array>
				<dict>
					<key>destinationuid</key>
					<string>16039760-F173-4AB8-9C73-DA7401D5DE23</string>
					<key>modifiers</key>
					<integer>0</integer>
					<key>modifiersubtext</key>
					<string></string>
				</dict>
			</array>
		</dict>
		<key>objects</key>
		<array>
			<dict>
				<key>config</key>
				<dict>
					<key>name</key>
					<string>FaceTime Call</string>
				</dict>
				<key>type</key>
				<string>alfred.workflow.trigger.contact</string>
				<key>uid</key>
				<string>4BFCA6E8-65B9-4A44-9550-75E7319D88D1</string>
			</dict>
			<dict>
				<key>config</key>
				<dict>
					<key>escaping</key>
					<integer>127</integer>
					<key>script</key>
					<string>open "facetime:{query}"</string>
					<key>type</key>
					<integer>0</integer>
				</dict>
				<key>type</key>
				<string>alfred.workflow.action.script</string>
				<key>uid</key>
				<string>F5F02C46-B0CD-4244-86B8-7302D9CFAE57</string>
			</dict>
			<dict>
				<key>config</key>
				<dict>
					<key>argumenttype</key>
					<integer>0</integer>
					<key>escaping</key>
					<integer>102</integer>
					<key>keyword</key>
					<string>callf</string>
					<key>runningsubtext</key>
					<string>Searching...</string>
					<key>script</key>
					<string>./bin/Uni\ Call\ Basestation -f "{query}"</string>
					<key>subtext</key>
					<string>Make a FaceTime call to your contact</string>
					<key>title</key>
					<string>FaceTime Call</string>
					<key>type</key>
					<integer>0</integer>
					<key>withspace</key>
					<true/>
				</dict>
				<key>type</key>
				<string>alfred.workflow.input.scriptfilter</string>
				<key>uid</key>
				<string>674DE779-72F5-4632-932B-FD1404CBE0FA</string>
			</dict>
		</array>
		<key>uidata</key>
		<dict>
			<key>4BFCA6E8-65B9-4A44-9550-75E7319D88D1</key>
			<dict>
				<key>ypos</key>
				<real>380</real>
			</dict>
			<key>674DE779-72F5-4632-932B-FD1404CBE0FA</key>
			<dict>
				<key>ypos</key>
				<real>320</real>
			</dict>
			<key>F5F02C46-B0CD-4244-86B8-7302D9CFAE57</key>
			<dict>
				<key>ypos</key>
				<real>380</real>
			</dict>
		</dict>
	</dict>
	<key>Fritz!Box Call</key>
	<dict>
		<key>connections</key>
		<dict>
			<key>05088DC0-D882-4E8B-B130-F087F7C04FC2</key>
			<array>
				<dict>
					<key>destinationuid</key>
					<string>16039760-F173-4AB8-9C73-DA7401D5DE23</string>
					<key>modifiers</key>
					<integer>0</integer>
					<key>modifiersubtext</key>
					<string></string>
				</dict>
			</array>
			<key>B3FB4D6B-48F3-4418-BC4A-0ECA50FA8F82</key>
			<array>
				<dict>
					<key>destinationuid</key>
					<string>44DE1718-7C29-419B-8B73-EED948E778C6</string>
					<key>modifiers</key>
					<integer>0</integer>
					<key>modifiersubtext</key>
					<string></string>
				</dict>
			</array>
		</dict>
		<key>objects</key>
		<array>
			<dict>
				<key>config</key>
				<dict>
					<key>escaping</key>
					<integer>127</integer>
					<key>script</key>
					<string>osascript bin/fritz!boxcall.scpt {query}</string>
					<key>type</key>
					<integer>0</integer>
				</dict>
				<key>type</key>
				<string>alfred.workflow.action.script</string>
				<key>uid</key>
				<string>44DE1718-7C29-419B-8B73-EED948E778C6</string>
				<key>version</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>config</key>
				<dict>
					<key>name</key>
					<string>Fritz!Box Call</string>
				</dict>
				<key>type</key>
				<string>alfred.workflow.trigger.contact</string>
				<key>uid</key>
				<string>B3FB4D6B-48F3-4418-BC4A-0ECA50FA8F82</string>
				<key>version</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>config</key>
				<dict>
					<key>argumenttype</key>
					<integer>0</integer>
					<key>escaping</key>
					<integer>102</integer>
					<key>keyword</key>
					<string>callz</string>
					<key>runningsubtext</key>
					<string>Searching...</string>
					<key>script</key>
					<string>./bin/Uni\ Call\ Basestation -z "{query}"</string>
					<key>subtext</key>
					<string>Make a Fritz!Box call to your contact via Frizzix</string>
					<key>title</key>
					<string>Fritz!Box Call</string>
					<key>type</key>
					<integer>0</integer>
					<key>withspace</key>
					<true/>
				</dict>
				<key>type</key>
				<string>alfred.workflow.input.scriptfilter</string>
				<key>uid</key>
				<string>05088DC0-D882-4E8B-B130-F087F7C04FC2</string>
				<key>version</key>
				<integer>0</integer>
			</dict>
		</array>
		<key>uidata</key>
		<dict>
			<key>05088DC0-D882-4E8B-B130-F087F7C04FC2</key>
			<dict>
				<key>ypos</key>
				<real>1040</real>
			</dict>
			<key>44DE1718-7C29-419B-8B73-EED948E778C6</key>
			<dict>
				<key>ypos</key>
				<real>1100</real>
			</dict>
			<key>B3FB4D6B-48F3-4418-BC4A-0ECA50FA8F82</key>
			<dict>
				<key>ypos</key>
				<real>1100</real>
			</dict>
		</dict>
	</dict>
	<key>GrowlVoice Call</key>
	<dict>
		<key>connections</key>
		<dict>
			<key>07913B02-FCA2-4435-B010-A160ECC14BDF</key>
			<array>
				<dict>
					<key>destinationuid</key>
					<string>16039760-F173-4AB8-9C73-DA7401D5DE23</string>
					<key>modifiers</key>
					<integer>0</integer>
					<key>modifiersubtext</key>
					<string></string>
				</dict>
			</array>
			<key>67053939-F8A0-4809-9769-EB70B68F425A</key>
			<array>
				<dict>
					<key>destinationuid</key>
					<string>AF3F83A1-92BE-4FE4-A15D-4AADD5D5038A</string>
					<key>modifiers</key>
					<integer>0</integer>
					<key>modifiersubtext</key>
					<string></string>
				</dict>
			</array>
		</dict>
		<key>objects</key>
		<array>
			<dict>
				<key>config</key>
				<dict>
					<key>name</key>
					<string>GrowlVoice Call</string>
				</dict>
				<key>type</key>
				<string>alfred.workflow.trigger.contact</string>
				<key>uid</key>
				<string>67053939-F8A0-4809-9769-EB70B68F425A</string>
			</dict>
			<dict>
				<key>config</key>
				<dict>
					<key>escaping</key>
					<integer>127</integer>
					<key>script</key>
					<string>open "growlvoice:${query}?call"</string>
					<key>type</key>
					<integer>0</integer>
				</dict>
				<key>type</key>
				<string>alfred.workflow.action.script</string>
				<key>uid</key>
				<string>AF3F83A1-92BE-4FE4-A15D-4AADD5D5038A</string>
			</dict>
			<dict>
				<key>config</key>
				<dict>
					<key>argumenttype</key>
					<integer>0</integer>
					<key>escaping</key>
					<integer>102</integer>
					<key>keyword</key>
					<string>callg</string>
					<key>runningsubtext</key>
					<string>Searching...</string>
					<key>script</key>
					<string>./bin/Uni\ Call\ Basestation -g "{query}"</string>
					<key>subtext</key>
					<string>Make a Google Voice call to your contact via GrowlVoice</string>
					<key>title</key>
					<string>GrowlVoice Call</string>
					<key>type</key>
					<integer>0</integer>
					<key>withspace</key>
					<true/>
				</dict>
				<key>type</key>
				<string>alfred.workflow.input.scriptfilter</string>
				<key>uid</key>
				<string>07913B02-FCA2-4435-B010-A160ECC14BDF</string>
			</dict>
		</array>
		<key>uidata</key>
		<dict>
			<key>07913B02-FCA2-4435-B010-A160ECC14BDF</key>
			<dict>
				<key>ypos</key>
				<real>800</real>
			</dict>
			<key>67053939-F8A0-4809-9769-EB70B68F425A</key>
			<dict>
				<key>ypos</key>
				<real>860</real>
			</dict>
			<key>AF3F83A1-92BE-4FE4-A15D-4AADD5D5038A</key>
			<dict>
				<key>ypos</key>
				<real>860</real>
			</dict>
		</dict>
	</dict>
	<key>New</key>
	<dict>
		<key>connections</key>
		<dict/>
		<key>objects</key>
		<array/>
		<key>uidata</key>
		<dict/>
	</dict>
	<key>Phone Amego Call</key>
	<dict>
		<key>connections</key>
		<dict>
			<key>54C2F3DC-1B4B-476D-9E47-214A16D51F39</key>
			<array>
				<dict>
					<key>destinationuid</key>
					<string>16039760-F173-4AB8-9C73-DA7401D5DE23</string>
					<key>modifiers</key>
					<integer>0</integer>
					<key>modifiersubtext</key>
					<string></string>
				</dict>
			</array>
			<key>7667D1EB-1962-4049-A475-472CCB778F4B</key>
			<array>
				<dict>
					<key>destinationuid</key>
					<string>981DEDD4-2F6E-41C6-AF93-DFAECAB74618</string>
					<key>modifiers</key>
					<integer>0</integer>
					<key>modifiersubtext</key>
					<string></string>
				</dict>
			</array>
		</dict>
		<key>objects</key>
		<array>
			<dict>
				<key>config</key>
				<dict>
					<key>name</key>
					<string>Phone Amego Call</string>
				</dict>
				<key>type</key>
				<string>alfred.workflow.trigger.contact</string>
				<key>uid</key>
				<string>7667D1EB-1962-4049-A475-472CCB778F4B</string>
			</dict>
			<dict>
				<key>config</key>
				<dict>
					<key>escaping</key>
					<integer>127</integer>
					<key>script</key>
					<string>open "phoneAmego:{query};alert=no"</string>
					<key>type</key>
					<integer>0</integer>
				</dict>
				<key>type</key>
				<string>alfred.workflow.action.script</string>
				<key>uid</key>
				<string>981DEDD4-2F6E-41C6-AF93-DFAECAB74618</string>
			</dict>
			<dict>
				<key>config</key>
				<dict>
					<key>argumenttype</key>
					<integer>0</integer>
					<key>escaping</key>
					<integer>102</integer>
					<key>keyword</key>
					<string>callp</string>
					<key>runningsubtext</key>
					<string>Searching...</string>
					<key>script</key>
					<string>./bin/Uni\ Call\ Basestation -p "{query}"</string>
					<key>subtext</key>
					<string>Make a bluetooth phone call to your contact via Phone Amego</string>
					<key>title</key>
					<string>Phone Amego Call</string>
					<key>type</key>
					<integer>0</integer>
					<key>withspace</key>
					<true/>
				</dict>
				<key>type</key>
				<string>alfred.workflow.input.scriptfilter</string>
				<key>uid</key>
				<string>54C2F3DC-1B4B-476D-9E47-214A16D51F39</string>
			</dict>
		</array>
		<key>uidata</key>
		<dict>
			<key>54C2F3DC-1B4B-476D-9E47-214A16D51F39</key>
			<dict>
				<key>ypos</key>
				<real>440</real>
			</dict>
			<key>7667D1EB-1962-4049-A475-472CCB778F4B</key>
			<dict>
				<key>ypos</key>
				<real>500</real>
			</dict>
			<key>981DEDD4-2F6E-41C6-AF93-DFAECAB74618</key>
			<dict>
				<key>ypos</key>
				<real>500</real>
			</dict>
		</dict>
	</dict>
	<key>PushDialer Call</key>
	<dict>
		<key>connections</key>
		<dict>
			<key>146CA72B-6714-450E-BD75-A6E79A333EB9</key>
			<array>
				<dict>
					<key>destinationuid</key>
					<string>8CC9ECE8-1459-49B8-8CCB-FD3A38956348</string>
					<key>modifiers</key>
					<integer>0</integer>
					<key>modifiersubtext</key>
					<string></string>
				</dict>
			</array>
			<key>4E251686-06AC-44A9-8C74-C6A03158E9DC</key>
			<array>
				<dict>
					<key>destinationuid</key>
					<string>16039760-F173-4AB8-9C73-DA7401D5DE23</string>
					<key>modifiers</key>
					<integer>0</integer>
					<key>modifiersubtext</key>
					<string></string>
				</dict>
			</array>
		</dict>
		<key>objects</key>
		<array>
			<dict>
				<key>config</key>
				<dict>
					<key>name</key>
					<string>PushDialer Call</string>
				</dict>
				<key>type</key>
				<string>alfred.workflow.trigger.contact</string>
				<key>uid</key>
				<string>146CA72B-6714-450E-BD75-A6E79A333EB9</string>
			</dict>
			<dict>
				<key>config</key>
				<dict>
					<key>escaping</key>
					<integer>127</integer>
					<key>script</key>
					<string>open "pushdialer://{query}"</string>
					<key>type</key>
					<integer>0</integer>
				</dict>
				<key>type</key>
				<string>alfred.workflow.action.script</string>
				<key>uid</key>
				<string>8CC9ECE8-1459-49B8-8CCB-FD3A38956348</string>
			</dict>
			<dict>
				<key>config</key>
				<dict>
					<key>argumenttype</key>
					<integer>0</integer>
					<key>escaping</key>
					<integer>102</integer>
					<key>keyword</key>
					<string>calld</string>
					<key>runningsubtext</key>
					<string>Searching...</string>
					<key>script</key>
					<string>./bin/Uni\ Call\ Basestation -d "{query}"</string>
					<key>subtext</key>
					<string>Make a PushDialer call to your contact</string>
					<key>title</key>
					<string>PushDialer Call</string>
					<key>type</key>
					<integer>0</integer>
					<key>withspace</key>
					<true/>
				</dict>
				<key>type</key>
				<string>alfred.workflow.input.scriptfilter</string>
				<key>uid</key>
				<string>4E251686-06AC-44A9-8C74-C6A03158E9DC</string>
			</dict>
		</array>
		<key>uidata</key>
		<dict>
			<key>146CA72B-6714-450E-BD75-A6E79A333EB9</key>
			<dict>
				<key>ypos</key>
				<real>740</real>
			</dict>
			<key>4E251686-06AC-44A9-8C74-C6A03158E9DC</key>
			<dict>
				<key>ypos</key>
				<real>680</real>
			</dict>
			<key>8CC9ECE8-1459-49B8-8CCB-FD3A38956348</key>
			<dict>
				<key>ypos</key>
				<real>740</real>
			</dict>
		</dict>
	</dict>
	<key>SIP Call</key>
	<dict>
		<key>connections</key>
		<dict>
			<key>25F387AB-A1A0-4844-B137-32E950156EF1</key>
			<array>
				<dict>
					<key>destinationuid</key>
					<string>85348601-CC11-42E7-978C-6B419BEB8B12</string>
					<key>modifiers</key>
					<integer>0</integer>
					<key>modifiersubtext</key>
					<string></string>
				</dict>
			</array>
			<key>D825394C-284F-4BC0-A8C8-3A00988225E5</key>
			<array>
				<dict>
					<key>destinationuid</key>
					<string>16039760-F173-4AB8-9C73-DA7401D5DE23</string>
					<key>modifiers</key>
					<integer>0</integer>
					<key>modifiersubtext</key>
					<string></string>
				</dict>
			</array>
		</dict>
		<key>objects</key>
		<array>
			<dict>
				<key>config</key>
				<dict>
					<key>name</key>
					<string>SIP Call</string>
				</dict>
				<key>type</key>
				<string>alfred.workflow.trigger.contact</string>
				<key>uid</key>
				<string>25F387AB-A1A0-4844-B137-32E950156EF1</string>
			</dict>
			<dict>
				<key>config</key>
				<dict>
					<key>escaping</key>
					<integer>127</integer>
					<key>script</key>
					<string>query={query}

if [[ "$query" == *"@"* ]]; then
	open "sip:${query#'sip:'}"
else
	query="${query#'tel:'}"
	open "tel:${query//[ -()]/}"
fi</string>
					<key>type</key>
					<integer>0</integer>
				</dict>
				<key>type</key>
				<string>alfred.workflow.action.script</string>
				<key>uid</key>
				<string>85348601-CC11-42E7-978C-6B419BEB8B12</string>
			</dict>
			<dict>
				<key>config</key>
				<dict>
					<key>argumenttype</key>
					<integer>0</integer>
					<key>escaping</key>
					<integer>102</integer>
					<key>keyword</key>
					<string>calli</string>
					<key>runningsubtext</key>
					<string>Searching...</string>
					<key>script</key>
					<string>./bin/Uni\ Call\ Basestation -i "{query}"</string>
					<key>subtext</key>
					<string>Make a SIP call to your contact via Telephone</string>
					<key>title</key>
					<string>SIP Call</string>
					<key>type</key>
					<integer>0</integer>
					<key>withspace</key>
					<true/>
				</dict>
				<key>type</key>
				<string>alfred.workflow.input.scriptfilter</string>
				<key>uid</key>
				<string>D825394C-284F-4BC0-A8C8-3A00988225E5</string>
			</dict>
		</array>
		<key>uidata</key>
		<dict>
			<key>25F387AB-A1A0-4844-B137-32E950156EF1</key>
			<dict>
				<key>ypos</key>
				<real>620</real>
			</dict>
			<key>85348601-CC11-42E7-978C-6B419BEB8B12</key>
			<dict>
				<key>ypos</key>
				<real>620</real>
			</dict>
			<key>D825394C-284F-4BC0-A8C8-3A00988225E5</key>
			<dict>
				<key>ypos</key>
				<real>560</real>
			</dict>
		</dict>
	</dict>
	<key>Skype Call</key>
	<dict>
		<key>connections</key>
		<dict>
			<key>7016D8DA-6748-4E96-BDA2-FBF05F0BAD5B</key>
			<array>
				<dict>
					<key>destinationuid</key>
					<string>16039760-F173-4AB8-9C73-DA7401D5DE23</string>
					<key>modifiers</key>
					<integer>0</integer>
					<key>modifiersubtext</key>
					<string></string>
				</dict>
			</array>
			<key>824B81E3-2C65-454B-86A7-033401A2223F</key>
			<array>
				<dict>
					<key>destinationuid</key>
					<string>837858F2-B0C0-4662-A51C-DD4135810516</string>
					<key>modifiers</key>
					<integer>0</integer>
					<key>modifiersubtext</key>
					<string></string>
				</dict>
			</array>
		</dict>
		<key>objects</key>
		<array>
			<dict>
				<key>config</key>
				<dict>
					<key>argumenttype</key>
					<integer>0</integer>
					<key>escaping</key>
					<integer>102</integer>
					<key>keyword</key>
					<string>calls</string>
					<key>runningsubtext</key>
					<string>Searching...</string>
					<key>script</key>
					<string>./bin/Uni\ Call\ Basestation -s "{query}"</string>
					<key>subtext</key>
					<string>Make a Skype call to your contact</string>
					<key>title</key>
					<string>Skype Call</string>
					<key>type</key>
					<integer>0</integer>
					<key>withspace</key>
					<true/>
				</dict>
				<key>type</key>
				<string>alfred.workflow.input.scriptfilter</string>
				<key>uid</key>
				<string>7016D8DA-6748-4E96-BDA2-FBF05F0BAD5B</string>
			</dict>
			<dict>
				<key>config</key>
				<dict>
					<key>name</key>
					<string>Skype Call</string>
				</dict>
				<key>type</key>
				<string>alfred.workflow.trigger.contact</string>
				<key>uid</key>
				<string>824B81E3-2C65-454B-86A7-033401A2223F</string>
			</dict>
			<dict>
				<key>config</key>
				<dict>
					<key>escaping</key>
					<integer>127</integer>
					<key>script</key>
					<string>./bin/Skype\ Call {query}</string>
					<key>type</key>
					<integer>0</integer>
				</dict>
				<key>type</key>
				<string>alfred.workflow.action.script</string>
				<key>uid</key>
				<string>837858F2-B0C0-4662-A51C-DD4135810516</string>
			</dict>
		</array>
		<key>uidata</key>
		<dict>
			<key>7016D8DA-6748-4E96-BDA2-FBF05F0BAD5B</key>
			<dict>
				<key>ypos</key>
				<real>200</real>
			</dict>
			<key>824B81E3-2C65-454B-86A7-033401A2223F</key>
			<dict>
				<key>ypos</key>
				<real>260</real>
			</dict>
			<key>837858F2-B0C0-4662-A51C-DD4135810516</key>
			<dict>
				<key>ypos</key>
				<real>260</real>
			</dict>
		</dict>
	</dict>
</dict>
</plist>
