<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>it.cowtech.pincerna</string>
	<key>connections</key>
	<dict>
		<key>03017D41-A81A-4BC6-843F-C1423A7E0CBE</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F7CA07DE-6AD4-412B-B40B-AA03B0A4DD82</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>07821F09-3DFB-4D17-B3D0-1B2DE18D040E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A1CB5BBC-1B37-404A-AD35-09EBD651790D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>37937AA8-DB0B-4482-B595-D88FA9116370</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>07821F09-3DFB-4D17-B3D0-1B2DE18D040E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>3D9EDB97-E47C-4144-B1EA-4D0293018412</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>038591D6-1AE1-47C1-BE18-2E4E41160227</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>4E4A4ECD-E3F1-41D9-BFD9-5836DC960B35</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>41F9370A-C1E9-45D3-8291-ACBE43220748</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>707CAF0F-4BD3-4313-8E10-B4022A81E1A9</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>CD325FA1-A62C-4913-8A47-A89E6F8CD93E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>71E16FF8-8C71-4B62-A1E6-02077F90C0B6</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>41F9370A-C1E9-45D3-8291-ACBE43220748</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>753DD6C1-121F-4CBE-8980-10056B1AF812</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>16A5B7E1-9759-4E53-A23C-68D5296F0C6B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>9967EDFE-D834-4205-AC47-D5DA3172C221</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>2AF6DAE2-BD50-4E45-A1F9-24FD003468D2</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>A18D79E4-6922-4D6A-B0A0-65182DB3554C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>7AF0D3CC-3708-4958-9D37-E4563735FA89</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>AC358C4D-4A41-4D15-A1EA-3159E9318E7D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>7AF0D3CC-3708-4958-9D37-E4563735FA89</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>BA756DD6-930D-4BF3-AAE1-9E43D9A03351</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>DCB1455D-91B7-42B2-B61F-CD141CF204C0</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>CB129197-F1F3-47B8-AE13-CAAA8195B1BA</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>8634DB2E-3ED7-41A0-8084-B9E21FFBB9D2</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>D19DC3B9-7080-4FED-81FE-2BAE6047F55D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>2AF6DAE2-BD50-4E45-A1F9-24FD003468D2</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>D1AD056E-EA13-47AD-BFD2-8E4B97A1DEEA</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>CCCE8103-8F1B-4DBE-BB44-ED430927994D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>FCCEC733-B741-4055-9398-571DE2096168</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F7CA07DE-6AD4-412B-B40B-AA03B0A4DD82</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>ShogunPanda</string>
	<key>description</key>
	<string>A bunch of useful Alfred workflows.</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Pincerna</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>127</integer>
				<key>keyword</key>
				<string>convert</string>
				<key>runningsubtext</key>
				<string>Performing conversion ...</string>
				<key>script</key>
				<string>./pincerna.sh convert {query}</string>
				<key>subtext</key>
				<string>Enter an amount to convert ...</string>
				<key>title</key>
				<string>Convert between units</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>FCCEC733-B741-4055-9398-571DE2096168</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>F7CA07DE-6AD4-412B-B40B-AA03B0A4DD82</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>127</integer>
				<key>keyword</key>
				<string>c</string>
				<key>runningsubtext</key>
				<string>Performing conversion ...</string>
				<key>script</key>
				<string>./pincerna.sh convert {query}</string>
				<key>subtext</key>
				<string>Enter an amount to convert ...</string>
				<key>title</key>
				<string>Convert between units</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>03017D41-A81A-4BC6-843F-C1423A7E0CBE</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>127</integer>
				<key>keyword</key>
				<string>currency</string>
				<key>runningsubtext</key>
				<string>Performing conversion ...</string>
				<key>script</key>
				<string>./pincerna.sh currency {query}</string>
				<key>subtext</key>
				<string>Enter an expression to convert ...</string>
				<key>title</key>
				<string>Convert currencies</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>AC358C4D-4A41-4D15-A1EA-3159E9318E7D</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>7AF0D3CC-3708-4958-9D37-E4563735FA89</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>127</integer>
				<key>keyword</key>
				<string>cc</string>
				<key>runningsubtext</key>
				<string>Performing conversion ...</string>
				<key>script</key>
				<string>./pincerna.sh currency {query}</string>
				<key>subtext</key>
				<string>Enter an expression to convert ...</string>
				<key>title</key>
				<string>Convert currencies</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>A18D79E4-6922-4D6A-B0A0-65182DB3554C</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>127</integer>
				<key>keyword</key>
				<string>translate</string>
				<key>runningsubtext</key>
				<string>Performing translation ...</string>
				<key>script</key>
				<string>./pincerna.sh translate {query}</string>
				<key>subtext</key>
				<string>Enter a text to translate ...</string>
				<key>title</key>
				<string>Translate text using Google Translate</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>D19DC3B9-7080-4FED-81FE-2BAE6047F55D</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>2AF6DAE2-BD50-4E45-A1F9-24FD003468D2</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>127</integer>
				<key>keyword</key>
				<string>t</string>
				<key>runningsubtext</key>
				<string>Performing translation ...</string>
				<key>script</key>
				<string>./pincerna.sh translate {query}</string>
				<key>subtext</key>
				<string>Enter text to translate ...</string>
				<key>title</key>
				<string>Translate text using Google Translate</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>9967EDFE-D834-4205-AC47-D5DA3172C221</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>127</integer>
				<key>keyword</key>
				<string>map</string>
				<key>runningsubtext</key>
				<string>Searching location ...</string>
				<key>script</key>
				<string>./pincerna.sh map {query}</string>
				<key>subtext</key>
				<string>Enter a location or coordinates ...</string>
				<key>title</key>
				<string>Show locations on Google Maps</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>71E16FF8-8C71-4B62-A1E6-02077F90C0B6</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string>open "https://www.google.com/maps/preview#!q={query}"</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>41F9370A-C1E9-45D3-8291-ACBE43220748</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>127</integer>
				<key>keyword</key>
				<string>m</string>
				<key>runningsubtext</key>
				<string>Searching location ...</string>
				<key>script</key>
				<string>./pincerna.sh map {query}</string>
				<key>subtext</key>
				<string>Enter a location or coordinates ...</string>
				<key>title</key>
				<string>Show locations on Google Maps</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>4E4A4ECD-E3F1-41D9-BFD9-5836DC960B35</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>127</integer>
				<key>keyword</key>
				<string>forecast</string>
				<key>runningsubtext</key>
				<string>Getting weather forecast ...</string>
				<key>script</key>
				<string>./pincerna.sh forecast {query}</string>
				<key>subtext</key>
				<string>Enter a location or a location code ...</string>
				<key>title</key>
				<string>Weather forecast</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>CB129197-F1F3-47B8-AE13-CAAA8195B1BA</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string>open "{query}"</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>8634DB2E-3ED7-41A0-8084-B9E21FFBB9D2</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>127</integer>
				<key>keyword</key>
				<string>ip</string>
				<key>runningsubtext</key>
				<string>Fetching IPs …</string>
				<key>script</key>
				<string>./pincerna.sh ip {query}</string>
				<key>subtext</key>
				<string>Show the list of local and remote IPs of this computer</string>
				<key>title</key>
				<string>Show the list of IP</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>D1AD056E-EA13-47AD-BFD2-8E4B97A1DEEA</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>CCCE8103-8F1B-4DBE-BB44-ED430927994D</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string>tell application "System Events" to {query} of current location of network preferences
</string>
				<key>type</key>
				<integer>6</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>038591D6-1AE1-47C1-BE18-2E4E41160227</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>127</integer>
				<key>keyword</key>
				<string>vpn</string>
				<key>runningsubtext</key>
				<string>Fetching VPNs statuses ...</string>
				<key>script</key>
				<string>./pincerna.sh vpn {query}</string>
				<key>subtext</key>
				<string>Connect or disconnect to your VPNs ...</string>
				<key>title</key>
				<string>Manage VPNs ...</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>3D9EDB97-E47C-4144-B1EA-4D0293018412</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>127</integer>
				<key>keyword</key>
				<string>bc</string>
				<key>runningsubtext</key>
				<string>Searching boomarks ...</string>
				<key>script</key>
				<string>./pincerna.sh chrome-bookmark {query}</string>
				<key>subtext</key>
				<string>Open a bookmark in Google Chrome</string>
				<key>title</key>
				<string>Open Chrome Bookmark</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>753DD6C1-121F-4CBE-8980-10056B1AF812</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string>com.google.chrome</string>
				<key>plusspaces</key>
				<false/>
				<key>url</key>
				<string>{query}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>16A5B7E1-9759-4E53-A23C-68D5296F0C6B</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string>org.mozilla.firefox</string>
				<key>plusspaces</key>
				<false/>
				<key>url</key>
				<string>{query}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>CD325FA1-A62C-4913-8A47-A89E6F8CD93E</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>127</integer>
				<key>keyword</key>
				<string>bf</string>
				<key>runningsubtext</key>
				<string>Searching boomarks ...</string>
				<key>script</key>
				<string>./pincerna.sh firefox-bookmark {query}</string>
				<key>subtext</key>
				<string>Open a bookmark in Mozilla Firefox</string>
				<key>title</key>
				<string>Open Firefox Bookmark</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>707CAF0F-4BD3-4313-8E10-B4022A81E1A9</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>127</integer>
				<key>keyword</key>
				<string>bs</string>
				<key>runningsubtext</key>
				<string>Searching boomarks ...</string>
				<key>script</key>
				<string>./pincerna.sh safari-bookmark {query}</string>
				<key>subtext</key>
				<string>Open a bookmark in Apple Safari</string>
				<key>title</key>
				<string>Open Safari Bookmark</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>BA756DD6-930D-4BF3-AAE1-9E43D9A03351</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string>com.apple.Safari</string>
				<key>plusspaces</key>
				<false/>
				<key>url</key>
				<string>{query}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>DCB1455D-91B7-42B2-B61F-CD141CF204C0</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>keyword</key>
				<string>pincernad</string>
				<key>subtext</key>
				<string>Send a command to the pincernad server.</string>
				<key>text</key>
				<string>Call Pincerna</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>07821F09-3DFB-4D17-B3D0-1B2DE18D040E</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>1</integer>
				<key>argument</key>
				<integer>2</integer>
				<key>leftcursor</key>
				<true/>
				<key>modsmode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>37937AA8-DB0B-4482-B595-D88FA9116370</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>For more information, see: https://sw.cow.tc/pincerna.</string>
	<key>uidata</key>
	<dict>
		<key>03017D41-A81A-4BC6-843F-C1423A7E0CBE</key>
		<dict>
			<key>ypos</key>
			<real>130</real>
		</dict>
		<key>038591D6-1AE1-47C1-BE18-2E4E41160227</key>
		<dict>
			<key>ypos</key>
			<real>1210</real>
		</dict>
		<key>07821F09-3DFB-4D17-B3D0-1B2DE18D040E</key>
		<dict>
			<key>ypos</key>
			<real>1690</real>
		</dict>
		<key>16A5B7E1-9759-4E53-A23C-68D5296F0C6B</key>
		<dict>
			<key>ypos</key>
			<real>1330</real>
		</dict>
		<key>2AF6DAE2-BD50-4E45-A1F9-24FD003468D2</key>
		<dict>
			<key>ypos</key>
			<real>550</real>
		</dict>
		<key>37937AA8-DB0B-4482-B595-D88FA9116370</key>
		<dict>
			<key>ypos</key>
			<real>1690</real>
		</dict>
		<key>3D9EDB97-E47C-4144-B1EA-4D0293018412</key>
		<dict>
			<key>ypos</key>
			<real>1210</real>
		</dict>
		<key>41F9370A-C1E9-45D3-8291-ACBE43220748</key>
		<dict>
			<key>ypos</key>
			<real>780</real>
		</dict>
		<key>4E4A4ECD-E3F1-41D9-BFD9-5836DC960B35</key>
		<dict>
			<key>ypos</key>
			<real>850</real>
		</dict>
		<key>707CAF0F-4BD3-4313-8E10-B4022A81E1A9</key>
		<dict>
			<key>ypos</key>
			<real>1450</real>
		</dict>
		<key>71E16FF8-8C71-4B62-A1E6-02077F90C0B6</key>
		<dict>
			<key>ypos</key>
			<real>730</real>
		</dict>
		<key>753DD6C1-121F-4CBE-8980-10056B1AF812</key>
		<dict>
			<key>ypos</key>
			<real>1330</real>
		</dict>
		<key>7AF0D3CC-3708-4958-9D37-E4563735FA89</key>
		<dict>
			<key>ypos</key>
			<real>300</real>
		</dict>
		<key>8634DB2E-3ED7-41A0-8084-B9E21FFBB9D2</key>
		<dict>
			<key>ypos</key>
			<real>970</real>
		</dict>
		<key>9967EDFE-D834-4205-AC47-D5DA3172C221</key>
		<dict>
			<key>ypos</key>
			<real>610</real>
		</dict>
		<key>A18D79E4-6922-4D6A-B0A0-65182DB3554C</key>
		<dict>
			<key>ypos</key>
			<real>370</real>
		</dict>
		<key>A1CB5BBC-1B37-404A-AD35-09EBD651790D</key>
		<dict>
			<key>ypos</key>
			<real>1690</real>
		</dict>
		<key>AC358C4D-4A41-4D15-A1EA-3159E9318E7D</key>
		<dict>
			<key>ypos</key>
			<real>250</real>
		</dict>
		<key>BA756DD6-930D-4BF3-AAE1-9E43D9A03351</key>
		<dict>
			<key>ypos</key>
			<real>1570</real>
		</dict>
		<key>CB129197-F1F3-47B8-AE13-CAAA8195B1BA</key>
		<dict>
			<key>ypos</key>
			<real>970</real>
		</dict>
		<key>CCCE8103-8F1B-4DBE-BB44-ED430927994D</key>
		<dict>
			<key>ypos</key>
			<real>1090</real>
		</dict>
		<key>CD325FA1-A62C-4913-8A47-A89E6F8CD93E</key>
		<dict>
			<key>ypos</key>
			<real>1450</real>
		</dict>
		<key>D19DC3B9-7080-4FED-81FE-2BAE6047F55D</key>
		<dict>
			<key>ypos</key>
			<real>490</real>
		</dict>
		<key>D1AD056E-EA13-47AD-BFD2-8E4B97A1DEEA</key>
		<dict>
			<key>ypos</key>
			<real>1090</real>
		</dict>
		<key>DCB1455D-91B7-42B2-B61F-CD141CF204C0</key>
		<dict>
			<key>ypos</key>
			<real>1570</real>
		</dict>
		<key>F7CA07DE-6AD4-412B-B40B-AA03B0A4DD82</key>
		<dict>
			<key>ypos</key>
			<real>60</real>
		</dict>
		<key>FCCEC733-B741-4055-9398-571DE2096168</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>http://sw.cow.tc/pincerna</string>
</dict>
</plist>
