<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.jp.mpd</string>
	<key>connections</key>
	<dict>
		<key>2880792D-91B4-48D2-A632-88B1536EEBFF</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>80F218F2-5AA7-4CE4-8954-200C8075D435</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>35E1589A-1DAA-4544-BD4D-2284ADEA3165</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>80F218F2-5AA7-4CE4-8954-200C8075D435</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>418A2486-7A19-4BDA-9D36-1C72CD77A8B2</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>80F218F2-5AA7-4CE4-8954-200C8075D435</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>jProductivity</string>
	<key>description</key>
	<string>Sends Phone, SMS, URL, Files to iPhone or iPad via myPhoneDesktop service</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Send to iPhone</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>send</string>
				<key>subtext</key>
				<string>Sends Phone, SMS, URL and Text to iPhone or iPad via myPhoneDesktop service</string>
				<key>text</key>
				<string>Send to iPhone</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>2880792D-91B4-48D2-A632-88B1536EEBFF</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>acceptsmulti</key>
				<false/>
				<key>filetypes</key>
				<array/>
				<key>name</key>
				<string>Send to iPhone</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.action</string>
			<key>uid</key>
			<string>418A2486-7A19-4BDA-9D36-1C72CD77A8B2</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>name</key>
				<string>Send to iPhone</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.contact</string>
			<key>uid</key>
			<string>35E1589A-1DAA-4544-BD4D-2284ADEA3165</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>63</integer>
				<key>script</key>
				<string>#!/usr/bin/env ruby
# encoding: utf-8

# myPhoneDesktop for Alfred extension
# v2.0, 03/14/2013
# Author: jProductivity
# Copyright © 2013 jProductivity, LLC
# http://www.myphonedesktop.com/

# visit http://support.myphonedesktop.com/entries/20929458-myphonedesktop-for-alfred-app-extension-send-to-iphone 
# for instructions on how to install and use this extension

# To control how phone number and SMS text will be processed set property AUTO_SEND to "true" or "false"

# "true" - will send selected phone number and SMS text to iPhone and will automatically launch iPhone's Messages.app;
# NOTE: iPhone's Messages.app will auto open only if myPhoneDesktop's iPhone app | Settings | View Options | Auto Respond | SMS option is set to ON

# "false" - will only copy this phone number and SMS text to myPhoneDesktop's desktop client and will not send it to iPhone

# NOTE: in order for AUTO_SEND property to have an effect the USE_DESKTOP_AUTO_SEND_RULES property must be set to "false"

# If AUTO_SEND property is set to either "true" or "false"
# it will override all "Auto Send" options set in "Phone Options" of myPhoneDesktop's desktop client.
# You can control this by setting USE_DESKTOP_AUTO_SEND_RULES property to "true" or "false".
# If USE_DESKTOP_AUTO_SEND_RULES property is set to "true" then script will honor all "Auto Send" options set in
# "Phone Options" of myPhoneDesktop's desktop client


APP_NAME = "mpd"
APP_PATH = "/Applications/myPhoneDesktop.app"
USE_DESKTOP_AUTO_SEND_RULES = true
AUTO_SEND = true

def mpd_installed?
  File.exist?("#{APP_PATH}") ? true : false
end

def mpd_running?(app_name)
  `ps aux` =~ /#{app_name}/ ? true : false
end

def can_send_to_mpd?
  unless mpd_installed?
    `osascript -e 'tell application "System Events"' -e 'display dialog "There is no myPhoneDesktop installed on your computer. Visit the myPhoneDesktop site to download and install myPhoneDesktop on your computer, iPhone, iPad or iPod touch." with title "myPhoneDesktop is not installed" with icon 2 buttons {"OK"} default button 1' -e 'open location "http://www.myphonedesktop.com/"' -e 'end tell'`
    puts "myPhoneDesktop extension for Alfred :: myPhoneDesktop is not installed! Download from http://www.myphonedesktop.com/"
    Process.exit
  end

  unless mpd_running?("myPhoneDesktop.app")
    `open -a \"#{APP_PATH}\"`
    sleep(5)
  end
  mpd_running?("myPhoneDesktop.app")
end

def is_phone?
  #get data before the pipe
  result = "{query}".split(/\|/i)

  #Strip all chars except alphanumeric and +
  clean_phone_number = result[0].gsub(/[^0-9a-z\+]/i, '')

  #Check if first parameter is the phone number matching NANP Format
  # NANP Format: http://www.nanpa.com/about_us/abt_nanp.html
  nanp_format = clean_phone_number =~ /\A(?:(?x)^((\*?|\#?)[0-9]+\#{1})?(?:\+?1[-.\x20]?)?\(?([2-9][0-8][0-9])\)?[-.\x20]?([2-9][0-9]{2})[-.\x20]?([0-9]{4})$)\Z/i ? true : false

  # Check if first parameter is the phone number matching N11 Format
  # http://en.wikipedia.org/wiki/N11_code
  n11_format = clean_phone_number =~ /\A(?:(?x)^(?:\+?(?:211|311|411|511|611|711|811|911))$)\Z/i ? true : false

  # Check if first parameter is the phone number matching Generic International Format
  international_format = clean_phone_number =~ /\A((?x)^((\*?|\#?)[0-9]+\#{1})?\+(?:[0-9]\x20?){6,14}[0-9]$)\Z/i ? true : false

  # Check if first parameter is the phone number matching format of Vanity numbers in the United States
  #http://en.wikipedia.org/wiki/Phoneword#Vanity_numbers_in_the_United_States
  vanity_format = clean_phone_number =~ /\A(?:(?x)^((\*?|\#?)[0-9]+\#{1})?(?:\+?1[-.]?)?\(?(800|888|877|866|855|844|833|822|880|887|889)\)?([-.0-9a-z]{7,})$)\Z/i ? true : false

  nanp_format || n11_format || international_format || vanity_format ? true : false
end

def is_sms?
  "{query}" =~ /\|/i ? true : false
end

def process_query(data)
  is_file = File.exist?(data) &amp;&amp; ! File.directory?(data)

  if is_file
    t = Thread.new do
        `osascript -e 'set the clipboard to POSIX file "#{data}"'`
      end
      t.join
  else
    if is_phone? &amp;&amp; is_sms? then
      if USE_DESKTOP_AUTO_SEND_RULES then
        data = "${command=phoneSMS}|#{data}"
      else
        data = "${command=phoneSMS; autoSend=#{AUTO_SEND}}|#{data}"
      end
    end

    data = data.gsub(/["]/i, '\\"')
    t = Thread.new do
      `osascript -e 'set the clipboard to "#{data}" as Unicode text'`
    end
    t.join
  end

  send_to_mpd
end

def send_to_mpd
  `osascript -e 'tell application "System Events"' -e 'key code 113 using {shift down, control down, option down, command down}' -e 'end tell'`
end

unless "{query}".nil? || "{query}" == 0
  if can_send_to_mpd?
 	#`syslog -s -l notice "{query}"`
    process_query("{query}".strip)
  else
    puts "myPhoneDesktop workflow for Alfred :: myPhoneDesktop is not running. Unable to send data to myPhoneDesktop"
  end
end</string>
				<key>type</key>
				<integer>2</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>80F218F2-5AA7-4CE4-8954-200C8075D435</string>
		</dict>
	</array>
	<key>readme</key>
	<string>myPhoneDesktop for Alfred workflow
v2.0, 03/14/2013
Author: jProductivity
Copyright © 2013 jProductivity, LLC
http://www.myphonedesktop.com/

&lt;TBD&gt; visit http://bit.ly/wKjfV2 
for instructions on how to install and use this extension</string>
	<key>uidata</key>
	<dict>
		<key>2880792D-91B4-48D2-A632-88B1536EEBFF</key>
		<dict>
			<key>ypos</key>
			<real>190</real>
		</dict>
		<key>35E1589A-1DAA-4544-BD4D-2284ADEA3165</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>418A2486-7A19-4BDA-9D36-1C72CD77A8B2</key>
		<dict>
			<key>ypos</key>
			<real>130</real>
		</dict>
		<key>80F218F2-5AA7-4CE4-8954-200C8075D435</key>
		<dict>
			<key>ypos</key>
			<real>390</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>http://www.myphonedesktop.com/</string>
</dict>
</plist>
