<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.palobo.mailactions</string>
	<key>connections</key>
	<dict>
		<key>19442E09-0CCE-45B4-897A-DD3E35409BF9</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>25DCB64F-1E2B-42EA-8A08-1E5C4E59E7F2</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>21C041DA-6DD5-4ADA-A9EA-E4EF45DCECE2</key>
		<array/>
		<key>25DCB64F-1E2B-42EA-8A08-1E5C4E59E7F2</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>391E7933-3D32-4068-9EF8-B51394779F12</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>81C0864A-69AD-4D1D-9E86-DF73D86A8616</string>
				<key>modifiers</key>
				<integer>524288</integer>
				<key>modifiersubtext</key>
				<string>Copy The Selected Messages</string>
			</dict>
		</array>
		<key>391E7933-3D32-4068-9EF8-B51394779F12</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>FDEE20EF-386A-40D3-BA75-A2A9DFBF92D6</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>4633E564-3237-4315-BD7D-2D05F860B0DC</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>BBD32B97-FCA0-4D02-83DC-5F48E5B6C897</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>81C0864A-69AD-4D1D-9E86-DF73D86A8616</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>FDEE20EF-386A-40D3-BA75-A2A9DFBF92D6</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>91222E63-F8AB-4999-A0C1-B83B5D133F06</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>DBDEAD31-0C34-43C9-8E06-CF59B3E2926A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>BBD32B97-FCA0-4D02-83DC-5F48E5B6C897</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>21C041DA-6DD5-4ADA-A9EA-E4EF45DCECE2</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>BD5E9CD4-F1FB-48C0-895C-BD0ACA31B38C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>CE408544-895C-4723-A89C-E8847E72CDAD</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>CE408544-895C-4723-A89C-E8847E72CDAD</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>21C041DA-6DD5-4ADA-A9EA-E4EF45DCECE2</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>E9E6AF8A-5CBE-4C2E-A402-2D33CBD238C3</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>DB66C558-D3C9-47F3-B773-6EE7BB082F3A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>EF752BA1-D709-4A16-BC6E-685CA7B9AF2A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>DBDEAD31-0C34-43C9-8E06-CF59B3E2926A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Pedro Lobo</string>
	<key>description</key>
	<string>A Workflow for Working With Mail.app</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Mail Actions</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>62</integer>
				<key>normalisation</key>
				<integer>0</integer>
				<key>script</key>
				<string>osascript copyMsg.scpt "{query}"</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>81C0864A-69AD-4D1D-9E86-DF73D86A8616</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>62</integer>
				<key>keyword</key>
				<string>mm</string>
				<key>normalisation</key>
				<integer>0</integer>
				<key>runningsubtext</key>
				<string>Generating Mailbox List</string>
				<key>script</key>
				<string>osascript getList.scpt {query} 2&gt; error.log</string>
				<key>title</key>
				<string>Move Selected Messages</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>25DCB64F-1E2B-42EA-8A08-1E5C4E59E7F2</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>19442E09-0CCE-45B4-897A-DD3E35409BF9</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>BD5E9CD4-F1FB-48C0-895C-BD0ACA31B38C</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>62</integer>
				<key>normalisation</key>
				<integer>0</integer>
				<key>script</key>
				<string>osascript goto.scpt "{query}"</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>21C041DA-6DD5-4ADA-A9EA-E4EF45DCECE2</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>escaping</key>
				<integer>63</integer>
				<key>keyword</key>
				<string>mgu</string>
				<key>normalisation</key>
				<integer>0</integer>
				<key>script</key>
				<string>osascript getUnread.scpt {query} </string>
				<key>subtext</key>
				<string>Go To Mailbox</string>
				<key>title</key>
				<string>Mailboxes With Unread Messages</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>BBD32B97-FCA0-4D02-83DC-5F48E5B6C897</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>62</integer>
				<key>keyword</key>
				<string>mg</string>
				<key>normalisation</key>
				<integer>0</integer>
				<key>runningsubtext</key>
				<string>Generating Mailbox List</string>
				<key>script</key>
				<string>osascript moveList.scpt "{query}" 2&gt; error.log</string>
				<key>title</key>
				<string>Go To Mailbox</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>CE408544-895C-4723-A89C-E8847E72CDAD</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>63</integer>
				<key>normalisation</key>
				<integer>0</integer>
				<key>script</key>
				<string>if [[ "{query}" = "info" ]]; then
if ! $(open -a Marked doc/README.md &gt;/dev/null 2&gt;&amp;1); then open README.md ;fi;
elif [[ "{query}" = "change" ]]; then
if ! $(open -a Marked doc/CHANGE.md &gt;/dev/null 2&gt;&amp;1); then open CHANGE.md ;fi;
fi</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>DB66C558-D3C9-47F3-B773-6EE7BB082F3A</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>output</key>
				<integer>0</integer>
				<key>removeextension</key>
				<false/>
				<key>sticky</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>Mail Actions</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>FDEE20EF-386A-40D3-BA75-A2A9DFBF92D6</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>4633E564-3237-4315-BD7D-2D05F860B0DC</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>63</integer>
				<key>normalisation</key>
				<integer>0</integer>
				<key>script</key>
				<string>osascript actions.scpt {query}</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>DBDEAD31-0C34-43C9-8E06-CF59B3E2926A</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>escaping</key>
				<integer>63</integer>
				<key>keyword</key>
				<string>minfo</string>
				<key>normalisation</key>
				<integer>0</integer>
				<key>script</key>
				<string>echo "&lt;?xml version='1.0'?&gt;
&lt;items&gt;
	&lt;item uid='ma-info' arg='info'&gt;
		&lt;title&gt;Mail Actions Info&lt;/title&gt;
		&lt;subtitle&gt;Display Mail Actions Info &amp;amp; Usage&lt;/subtitle&gt;
	&lt;/item&gt;
	&lt;item uid='ma-change' arg='change'&gt;
		&lt;title&gt;Mail Actions Change Log&lt;/title&gt;
		&lt;subtitle&gt;Display Mail Actions Change Log&lt;/subtitle&gt;		
	&lt;/item&gt;
&lt;/items&gt;"</string>
				<key>subtext</key>
				<string>Display Mail Actions README</string>
				<key>title</key>
				<string>Display Mail Actions README</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>E9E6AF8A-5CBE-4C2E-A402-2D33CBD238C3</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>3</integer>
				<key>argumenttext</key>
				<string>del</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>EF752BA1-D709-4A16-BC6E-685CA7B9AF2A</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>62</integer>
				<key>normalisation</key>
				<integer>0</integer>
				<key>script</key>
				<string>osascript moveMsg.scpt "{query}"</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>391E7933-3D32-4068-9EF8-B51394779F12</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>3</integer>
				<key>argumenttext</key>
				<string>read</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>91222E63-F8AB-4999-A0C1-B83B5D133F06</string>
		</dict>
	</array>
	<key>uidata</key>
	<dict>
		<key>19442E09-0CCE-45B4-897A-DD3E35409BF9</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>21C041DA-6DD5-4ADA-A9EA-E4EF45DCECE2</key>
		<dict>
			<key>ypos</key>
			<real>210</real>
		</dict>
		<key>25DCB64F-1E2B-42EA-8A08-1E5C4E59E7F2</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>391E7933-3D32-4068-9EF8-B51394779F12</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>4633E564-3237-4315-BD7D-2D05F860B0DC</key>
		<dict>
			<key>ypos</key>
			<real>310</real>
		</dict>
		<key>81C0864A-69AD-4D1D-9E86-DF73D86A8616</key>
		<dict>
			<key>ypos</key>
			<real>110</real>
		</dict>
		<key>91222E63-F8AB-4999-A0C1-B83B5D133F06</key>
		<dict>
			<key>ypos</key>
			<real>410</real>
		</dict>
		<key>BBD32B97-FCA0-4D02-83DC-5F48E5B6C897</key>
		<dict>
			<key>ypos</key>
			<real>310</real>
		</dict>
		<key>BD5E9CD4-F1FB-48C0-895C-BD0ACA31B38C</key>
		<dict>
			<key>ypos</key>
			<real>210</real>
		</dict>
		<key>CE408544-895C-4723-A89C-E8847E72CDAD</key>
		<dict>
			<key>ypos</key>
			<real>210</real>
		</dict>
		<key>DB66C558-D3C9-47F3-B773-6EE7BB082F3A</key>
		<dict>
			<key>ypos</key>
			<real>620</real>
		</dict>
		<key>DBDEAD31-0C34-43C9-8E06-CF59B3E2926A</key>
		<dict>
			<key>ypos</key>
			<real>410</real>
		</dict>
		<key>E9E6AF8A-5CBE-4C2E-A402-2D33CBD238C3</key>
		<dict>
			<key>ypos</key>
			<real>620</real>
		</dict>
		<key>EF752BA1-D709-4A16-BC6E-685CA7B9AF2A</key>
		<dict>
			<key>ypos</key>
			<real>510</real>
		</dict>
		<key>FDEE20EF-386A-40D3-BA75-A2A9DFBF92D6</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>palobo.tumblr.com</string>
</dict>
</plist>
