<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.evgeny.golubev.alfred.terminaltips</string>
	<key>connections</key>
	<dict>
		<key>1F330C5D-13EB-4607-8DB0-44F40EDAB7E9</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A57079F0-ABB2-4258-8D42-CBD58A646DB1</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>250C1545-C28B-47CB-A4C4-7D25DEAD10F4</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>3CB6C97B-3F1D-45A6-BF3D-852EF6A61B0B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>3CB6C97B-3F1D-45A6-BF3D-852EF6A61B0B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>731CF669-CFAF-43EF-B614-273786D7E473</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>5A984BD7-36C9-40EB-8959-453FFEE8F61C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>731CF669-CFAF-43EF-B614-273786D7E473</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>9290E1C5-FD31-4E5A-9297-E36CDEF00A0B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>731CF669-CFAF-43EF-B614-273786D7E473</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>A57079F0-ABB2-4258-8D42-CBD58A646DB1</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>731CF669-CFAF-43EF-B614-273786D7E473</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>D617EE88-9475-4E33-9DB4-B5C83E047639</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>9290E1C5-FD31-4E5A-9297-E36CDEF00A0B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>E05E0D88-8E48-43AD-B25E-73B1BD3C31A4</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E8300333-F824-414D-9DE1-9304DA327451</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>E5DF6D58-CD65-466B-A72F-EBE358E86DD8</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>5A984BD7-36C9-40EB-8959-453FFEE8F61C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>E8300333-F824-414D-9DE1-9304DA327451</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>731CF669-CFAF-43EF-B614-273786D7E473</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Evgeny Golubev</string>
	<key>description</key>
	<string>Some tips for console</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Terminal Tips</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>purge</string>
				<key>text</key>
				<string>Purge Some Memory</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>E5DF6D58-CD65-466B-A72F-EBE358E86DD8</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>63</integer>
				<key>script</key>
				<string>man -t {query} | open -f -a /Applications/Preview.app</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>3CB6C97B-3F1D-45A6-BF3D-852EF6A61B0B</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>63</integer>
				<key>script</key>
				<string>dscacheutil -flushcache</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>9290E1C5-FD31-4E5A-9297-E36CDEF00A0B</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>manlook</string>
				<key>text</key>
				<string>Open Command Manual in PDF</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>250C1545-C28B-47CB-A4C4-7D25DEAD10F4</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>63</integer>
				<key>script</key>
				<string>/System/Library/Frameworks/CoreServices.framework/Versions/A/Frameworks/LaunchServices.framework/Versions/A/Support/lsregister -kill -r -domain local -domain user
killall Finder</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>A57079F0-ABB2-4258-8D42-CBD58A646DB1</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>flushdns</string>
				<key>text</key>
				<string>Flush DNS Cache</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>D617EE88-9475-4E33-9DB4-B5C83E047639</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>output</key>
				<integer>0</integer>
				<key>removeextension</key>
				<false/>
				<key>sticky</key>
				<false/>
				<key>title</key>
				<string>Applied</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>731CF669-CFAF-43EF-B614-273786D7E473</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>63</integer>
				<key>script</key>
				<string>purge</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>5A984BD7-36C9-40EB-8959-453FFEE8F61C</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>trash force</string>
				<key>text</key>
				<string>Empty Trash Force</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>E05E0D88-8E48-43AD-B25E-73B1BD3C31A4</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>repair launchservices</string>
				<key>subtext</key>
				<string>Repair multiple entries in the “Open With” menu</string>
				<key>text</key>
				<string>Repair LaunchServices</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>1F330C5D-13EB-4607-8DB0-44F40EDAB7E9</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>63</integer>
				<key>script</key>
				<string>rm -Rf ~/.Trash/*</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>E8300333-F824-414D-9DE1-9304DA327451</string>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>1F330C5D-13EB-4607-8DB0-44F40EDAB7E9</key>
		<dict>
			<key>ypos</key>
			<real>130</real>
		</dict>
		<key>250C1545-C28B-47CB-A4C4-7D25DEAD10F4</key>
		<dict>
			<key>ypos</key>
			<real>250</real>
		</dict>
		<key>3CB6C97B-3F1D-45A6-BF3D-852EF6A61B0B</key>
		<dict>
			<key>ypos</key>
			<real>250</real>
		</dict>
		<key>5A984BD7-36C9-40EB-8959-453FFEE8F61C</key>
		<dict>
			<key>ypos</key>
			<real>370</real>
		</dict>
		<key>731CF669-CFAF-43EF-B614-273786D7E473</key>
		<dict>
			<key>ypos</key>
			<real>250</real>
		</dict>
		<key>9290E1C5-FD31-4E5A-9297-E36CDEF00A0B</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>A57079F0-ABB2-4258-8D42-CBD58A646DB1</key>
		<dict>
			<key>ypos</key>
			<real>130</real>
		</dict>
		<key>D617EE88-9475-4E33-9DB4-B5C83E047639</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>E05E0D88-8E48-43AD-B25E-73B1BD3C31A4</key>
		<dict>
			<key>ypos</key>
			<real>490</real>
		</dict>
		<key>E5DF6D58-CD65-466B-A72F-EBE358E86DD8</key>
		<dict>
			<key>ypos</key>
			<real>370</real>
		</dict>
		<key>E8300333-F824-414D-9DE1-9304DA327451</key>
		<dict>
			<key>ypos</key>
			<real>490</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>http://golubev.eu/</string>
</dict>
</plist>
