<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.adamsimpson.sof</string>
	<key>connections</key>
	<dict>
		<key>0FDD3155-FA7B-47A4-B6C5-F382DC717DBB</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D279BEBC-2949-466B-BE27-9F5499BC8EE4</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>26B17CDB-CE46-4049-8562-EB0DAC85D937</key>
		<array/>
		<key>7DD3BDE5-A157-42E5-9376-F681FB50A4EE</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>26B17CDB-CE46-4049-8562-EB0DAC85D937</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>91888BC2-EF73-40D5-AF9E-0BC1EE5DF74A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>0FDD3155-FA7B-47A4-B6C5-F382DC717DBB</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Adam Simpson</string>
	<key>description</key>
	<string>List your favorited StackOverflow questions</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>StackOverflow Favorites</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>127</integer>
				<key>script</key>
				<string>open {query}</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>26B17CDB-CE46-4049-8562-EB0DAC85D937</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>4</integer>
				<key>keyword</key>
				<string>sof</string>
				<key>runningsubtext</key>
				<string>(fetching)…</string>
				<key>script</key>
				<string>php -f app.php "{query}"
</string>
				<key>subtext</key>
				<string>Questions</string>
				<key>title</key>
				<string>StackOverflow Favorites</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>7DD3BDE5-A157-42E5-9376-F681FB50A4EE</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>output</key>
				<integer>0</integer>
				<key>removeextension</key>
				<false/>
				<key>sticky</key>
				<false/>
				<key>text</key>
				<string>ID Set</string>
				<key>title</key>
				<string>StackOverflow Favorites</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>D279BEBC-2949-466B-BE27-9F5499BC8EE4</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string>echo {query} &gt; userid.txt</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>0FDD3155-FA7B-47A4-B6C5-F382DC717DBB</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>sof setid</string>
				<key>subtext</key>
				<string>Grab the ID from your profile page URL</string>
				<key>text</key>
				<string>Set StackOverflow User ID</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>91888BC2-EF73-40D5-AF9E-0BC1EE5DF74A</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>0FDD3155-FA7B-47A4-B6C5-F382DC717DBB</key>
		<dict>
			<key>ypos</key>
			<real>130</real>
		</dict>
		<key>26B17CDB-CE46-4049-8562-EB0DAC85D937</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>7DD3BDE5-A157-42E5-9376-F681FB50A4EE</key>
		<dict>
			<key>ypos</key>
			<real>50</real>
		</dict>
		<key>91888BC2-EF73-40D5-AF9E-0BC1EE5DF74A</key>
		<dict>
			<key>ypos</key>
			<real>170</real>
		</dict>
		<key>D279BEBC-2949-466B-BE27-9F5499BC8EE4</key>
		<dict>
			<key>ypos</key>
			<real>100</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>http://adamsimpson.net</string>
</dict>
</plist>
