/*
@name: AlfredWorkflow.com
@author: hzlzh(hzlzh.dev@gmail.com)
*/
/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */
/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
html,
button,
input,
select,
textarea {
  color: #222;
}
body {
  font-size: 1em;
  line-height: 1.4;
}
/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection declarations have to be separate.
 * Customize the background color to match your design.
 */
::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}
::selection {
  background: #b3d4fc;
  text-shadow: none;
}
/*
 * A better looking default horizontal rule
 */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}
/*
 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 */
img {
  vertical-align: middle;
}
/*
 * Remove default fieldset styles.
 */
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}
/*
 * Allow only vertical resizing of textareas.
 */
textarea {
  resize: vertical;
}
/* ==========================================================================
   Chrome Frame prompt
   ========================================================================== */
.chromeframe {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}
/* ==========================================================================
   Author's custom styles
   ========================================================================== */
/* ==========================================================================
   Helper classes
   ========================================================================== */
/*
 * Image replacement
 */
.ir {
  background-color: transparent;
  border: 0;
  overflow: hidden;
  /* IE 6/7 fallback */

  *text-indent: -9999px;
}
.ir:before {
  content: "";
  display: block;
  width: 0;
  height: 100%;
}
/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */
.hidden {
  display: none !important;
  visibility: hidden;
}
/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}
/*
 * Hide visually and from screenreaders, but maintain layout
 */
.invisible {
  visibility: hidden;
}
/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */

  display: table;
  /* 2 */

}
.clearfix:after {
  clear: both;
}
/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.clearfix {
  *zoom: 1;
}
/*---------------------------------------------------
    LESS Elements 0.6
  ---------------------------------------------------
    A set of useful LESS mixins by Dmitry Fadeyev
    Special thanks for mixin suggestions to:
      Kris Van Herzeele,
      Benoit Adam,
      Portenart Emile-Victor,
      Ryan Faerman

    More info at: http://lesselements.com
-----------------------------------------------------*/
html {
  background: url("images/bg.jpg") repeat fixed 0 0 transparent;
}
body {
  background-color: #9B59B6;
  max-width: 1024px;
  width: 100%;
  font-size: 14px;
  border-radius: 10px;
  position: relative;
  margin: 30px auto 30px;
  color: #fff;
  background-color: #9168b5;
  background-color: rgba(255, 255, 255, 0.3);
}
body .logo {
  background-image: url("images/logo.png");
  height: 309px;
  left: 0;
  position: fixed;
  top: 0;
  width: 372px;
  z-index: -1;
}
body .description {
  display: block;
  margin: 0 auto;
  width: 20%;
  height: 10px;
}
.header {
  background-color: rgba(66, 33, 108, 0.8);
  height: 55px;
  padding: 20px 2%;
  position: relative;
}
.header .title {
  margin: 0;
  color: #FFFFFF;
  font-size: 28px;
}
.header .title > span {
  background: none repeat scroll 0 0 #37A5CB;
  display: inline-block;
  font-size: 23px;
  line-height: 33px;
  margin: 0 10px;
  padding: 2px 5px;
  position: relative;
  text-align: center;
  top: -10px;
  width: 100px;
}
.header .title > span > span {
  background: none repeat scroll 0 0 #37CB3A;
  bottom: -24px;
  display: inline-block;
  font-size: 14px;
  line-height: 24px;
  padding: 2px 11px;
  position: absolute;
  right: -10px;
  text-align: center;
  width: 40px;
}
.header .title > span > span > span {
  background: none repeat scroll 0 0 #ED8641;
  bottom: -10px;
  display: inline-block;
  left: -25px;
  padding: 1px 5px;
  position: absolute;
  width: 25px;
}
.header .add-source {
  background: none repeat scroll 0 0 #4EAF51;
  bottom: 0;
  color: #FFFFFF;
  padding: 2px 5px;
  text-decoration: none;
  position: absolute;
  right: 0;
}
.header .add-source:hover {
  background-color: #469d49;
}
.article {
  border-top: 1px solid #FFFFFF;
  padding: 0 2%;
}
.article h2 {
  text-shadow: 1px 1px 2px #000;
}
.article a {
  color: #fff;
}
.article table {
  margin: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  table-layout: fixed;
}
.article table thead {
  background-color: #69448B;
}
.article table tbody {
  background-color: #8356AC;
}
.article table tbody tr:nth-of-type(odd) > td {
  background-color: #9260BF;
  text-overflow: ellipsis;
}
.article table tbody tr:hover > td {
  background-color: #37a5cb;
  text-overflow: ellipsis;
}
.footer {
  height: 20px;
  overflow: hidden;
}
.footer .copyright {
  bottom: -28px;
  display: block;
  left: 50%;
  margin: 0 auto 0 -100px;
  padding-bottom: 5px;
  position: absolute;
  text-align: center;
  width: 200px;
}
