<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.sztoltz.markdowtobbcode</string>
	<key>connections</key>
	<dict>
		<key>43CD3B41-558B-4589-B8BB-F7CFBACA7025</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>BC3737C0-1C41-4FA7-8211-539A66F1E6E5</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>BC3737C0-1C41-4FA7-8211-539A66F1E6E5</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>401BD73B-0A09-412C-BC21-6D49A21AA04B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Carlos Alberto Sztoltz</string>
	<key>description</key>
	<string>Convert basic Markdown text to BBCode</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Markdown to BBCode 1.0</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>1</integer>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>43CD3B41-558B-4589-B8BB-F7CFBACA7025</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>4</integer>
				<key>script</key>
				<string>osascript markdowtobbcode.scpt "{query}"</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>BC3737C0-1C41-4FA7-8211-539A66F1E6E5</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>output</key>
				<integer>0</integer>
				<key>removeextension</key>
				<false/>
				<key>sticky</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>Markdown to BBCode</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>401BD73B-0A09-412C-BC21-6D49A21AA04B</string>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>401BD73B-0A09-412C-BC21-6D49A21AA04B</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>43CD3B41-558B-4589-B8BB-F7CFBACA7025</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>BC3737C0-1C41-4FA7-8211-539A66F1E6E5</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
