<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>net.jeeker.awf.ChineseDictionary</string>
	<key>connections</key>
	<dict>
		<key>09204506-9016-4039-8240-6AE53530988C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>7B9A4F01-98AB-43DB-905D-8CDF5FA00525</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>BB562D1A-B800-4206-A35F-125D201B91A9</string>
				<key>modifiers</key>
				<integer>524288</integer>
				<key>modifiersubtext</key>
				<string>发音（取决于你系统的Text to Speech）</string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>45A93E3D-F638-4DF9-9FE6-94571F195A96</string>
				<key>modifiers</key>
				<integer>262144</integer>
				<key>modifiersubtext</key>
				<string>在爱词霸中搜索...</string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>JinnLynn</string>
	<key>description</key>
	<string>使用在线词典进行中英互查 Look up words by online dictionary</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Chinese Dictionary</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>63</integer>
				<key>script</key>
				<string>say "{query}"</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>BB562D1A-B800-4206-A35F-125D201B91A9</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>62</integer>
				<key>keyword</key>
				<string>cd</string>
				<key>runningsubtext</key>
				<string>Searching...</string>
				<key>script</key>
				<string>python cndict.py "{query}"</string>
				<key>subtext</key>
				<string>使用在线词典进行中英互查 Look up word by online dictionary</string>
				<key>title</key>
				<string>中英词典</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>09204506-9016-4039-8240-6AE53530988C</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>plusspaces</key>
				<true/>
				<key>url</key>
				<string>http://www.iciba.com/{query}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>45A93E3D-F638-4DF9-9FE6-94571F195A96</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>plusspaces</key>
				<true/>
				<key>url</key>
				<string>http://dict.qq.com/dict?f=cloudmore&amp;q={query}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>7B9A4F01-98AB-43DB-905D-8CDF5FA00525</string>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>09204506-9016-4039-8240-6AE53530988C</key>
		<dict>
			<key>ypos</key>
			<real>160</real>
		</dict>
		<key>45A93E3D-F638-4DF9-9FE6-94571F195A96</key>
		<dict>
			<key>ypos</key>
			<real>310</real>
		</dict>
		<key>7B9A4F01-98AB-43DB-905D-8CDF5FA00525</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>BB562D1A-B800-4206-A35F-125D201B91A9</key>
		<dict>
			<key>ypos</key>
			<real>160</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>http://jeeker.net/</string>
</dict>
</plist>
