<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>tylereich.colors</string>
	<key>connections</key>
	<dict>
		<key>1AE64A87-60D0-4230-B457-4609571FCA1F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>DCF950C0-BEB0-4CFD-A79B-BA403852D463</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>85D1E110-A191-4FF5-9CFD-BB3B884C576F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>2256D9F2-F0F1-4543-8893-622DDFA83A5E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>1AE64A87-60D0-4230-B457-4609571FCA1F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>6C80A2CD-4BBE-4E27-8BF5-FA913A95D604</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>1AE64A87-60D0-4230-B457-4609571FCA1F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>A1AB2B83-C8EF-4022-97B8-E20B3D6CBDF8</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>1AE64A87-60D0-4230-B457-4609571FCA1F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>F2BEC6F7-52A4-43DA-83F9-438006D28B56</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>1AE64A87-60D0-4230-B457-4609571FCA1F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Tyler Eich</string>
	<key>description</key>
	<string>Convert CSS colors to various formats</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Colors</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>4</integer>
				<key>script</key>
				<string>php -f colors.php -- '{query}' 'pick'</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>1AE64A87-60D0-4230-B457-4609571FCA1F</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>32</integer>
				<key>keyword</key>
				<string>c</string>
				<key>runningsubtext</key>
				<string>Processing color data...</string>
				<key>script</key>
				<string>php -f colors.php -- '{query}' 'name'</string>
				<key>subtext</key>
				<string>Convert CSS3 extended colors</string>
				<key>title</key>
				<string>Named Color</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>A1AB2B83-C8EF-4022-97B8-E20B3D6CBDF8</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>32</integer>
				<key>keyword</key>
				<string>hsl</string>
				<key>runningsubtext</key>
				<string>Processing color data...</string>
				<key>script</key>
				<string>php -f colors.php -- '{query}' 'hsl'</string>
				<key>subtext</key>
				<string>Convert HSL colors to other formats</string>
				<key>title</key>
				<string>Convert HSL color</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>F2BEC6F7-52A4-43DA-83F9-438006D28B56</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>DCF950C0-BEB0-4CFD-A79B-BA403852D463</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>32</integer>
				<key>keyword</key>
				<string>rgb</string>
				<key>runningsubtext</key>
				<string>Processing color data...</string>
				<key>script</key>
				<string>php -f colors.php -- '{query}' 'rgb'</string>
				<key>subtext</key>
				<string>Convert RGB colors to other formats</string>
				<key>title</key>
				<string>RGB Color</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>6C80A2CD-4BBE-4E27-8BF5-FA913A95D604</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<true/>
				<key>output</key>
				<integer>0</integer>
				<key>removeextension</key>
				<false/>
				<key>sticky</key>
				<false/>
				<key>text</key>
				<string>'{query}' copied to clipboard</string>
				<key>title</key>
				<string>Colors</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>85D1E110-A191-4FF5-9CFD-BB3B884C576F</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>32</integer>
				<key>keyword</key>
				<string>#</string>
				<key>runningsubtext</key>
				<string>Processing color data...</string>
				<key>script</key>
				<string>php -f colors.php -- '{query}' 'hex'</string>
				<key>subtext</key>
				<string>Convert hexadecimal colors</string>
				<key>title</key>
				<string>Hexadecimal</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>2256D9F2-F0F1-4543-8893-622DDFA83A5E</string>
		</dict>
	</array>
	<key>readme</key>
	<string>Array of CSS3 extended color names ported from the spectrum color picker (bgrins.github.com/spectrum/)

HSL conversion formulas by Michael Jackson; port to PHP by Tyler Eich (http://mjijackson.com/2008/02/rgb-to-hsl-and-rgb-to-hsv-color-model-conversion-algorithms-in-javascript)</string>
	<key>uidata</key>
	<dict>
		<key>1AE64A87-60D0-4230-B457-4609571FCA1F</key>
		<dict>
			<key>ypos</key>
			<real>190</real>
		</dict>
		<key>2256D9F2-F0F1-4543-8893-622DDFA83A5E</key>
		<dict>
			<key>ypos</key>
			<real>370</real>
		</dict>
		<key>6C80A2CD-4BBE-4E27-8BF5-FA913A95D604</key>
		<dict>
			<key>ypos</key>
			<real>250</real>
		</dict>
		<key>85D1E110-A191-4FF5-9CFD-BB3B884C576F</key>
		<dict>
			<key>ypos</key>
			<real>250</real>
		</dict>
		<key>A1AB2B83-C8EF-4022-97B8-E20B3D6CBDF8</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>DCF950C0-BEB0-4CFD-A79B-BA403852D463</key>
		<dict>
			<key>ypos</key>
			<real>130</real>
		</dict>
		<key>F2BEC6F7-52A4-43DA-83F9-438006D28B56</key>
		<dict>
			<key>ypos</key>
			<real>130</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
