<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string></string>
	<key>connections</key>
	<dict>
		<key>D638F628-55F9-44AA-917F-78EDDFE68659</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F1986780-1EDF-4B96-8EF3-745F7F76AEAB</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>x1a0</string>
	<key>description</key>
	<string>Status codes</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>HTTP codes</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>plusspaces</key>
				<false/>
				<key>url</key>
				<string>{query}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>F1986780-1EDF-4B96-8EF3-745F7F76AEAB</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>http</string>
				<key>script</key>
				<string>php -f http.php -- "{query}"</string>
				<key>subtext</key>
				<string>type a status code</string>
				<key>title</key>
				<string>HTTP {query}</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>D638F628-55F9-44AA-917F-78EDDFE68659</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>D638F628-55F9-44AA-917F-78EDDFE68659</key>
		<dict>
			<key>ypos</key>
			<real>150</real>
		</dict>
		<key>F1986780-1EDF-4B96-8EF3-745F7F76AEAB</key>
		<dict>
			<key>ypos</key>
			<real>150</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
