<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>alfredapp.voidman.cnbeta</string>
	<key>connections</key>
	<dict>
		<key>E9562F9A-920A-45F8-A406-4B83E69FB004</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>1C3A03CF-BDAF-4BFA-A9AF-0068E9396190</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>David Lin</string>
	<key>description</key>
	<string>查看 cnBeta 网站新闻</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>cnBeta News</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>plusspaces</key>
				<false/>
				<key>url</key>
				<string>{query}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>1C3A03CF-BDAF-4BFA-A9AF-0068E9396190</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>63</integer>
				<key>keyword</key>
				<string>cb</string>
				<key>runningsubtext</key>
				<string>请稍后...</string>
				<key>script</key>
				<string>/**
 * a workflow for cnBeta.
 * @version 1.0
 * @author David Lin(voidman.me@gmail.com)
 */

$query = urlencode("{query}");
require 'CnbetaWorkflow.php';</string>
				<key>subtext</key>
				<string>请输入命令，如 new 或 top10；查看帮助请输入 help</string>
				<key>title</key>
				<string>cnBeta News</string>
				<key>type</key>
				<integer>1</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>E9562F9A-920A-45F8-A406-4B83E69FB004</string>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>1C3A03CF-BDAF-4BFA-A9AF-0068E9396190</key>
		<dict>
			<key>ypos</key>
			<real>50</real>
		</dict>
		<key>5C4FC63D-35F4-4A2B-8BEF-5CD0FA5F7F9B</key>
		<dict>
			<key>ypos</key>
			<real>300</real>
		</dict>
		<key>E9562F9A-920A-45F8-A406-4B83E69FB004</key>
		<dict>
			<key>ypos</key>
			<real>50</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>https://github.com/voidman/Alfred-Workflows</string>
</dict>
</plist>
