<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>florian.convert</string>
	<key>connections</key>
	<dict>
		<key>3AC97BC7-B4D4-42AB-A95D-9F06B7F0DA07</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>0B15F93C-F24D-4A2B-BE21-D553DEA3063A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>09537431-99F7-47F3-B0A0-318E63B98530</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>77EA7E5C-A9B6-4646-B62F-2ACA3CB58EC8</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>0B15F93C-F24D-4A2B-BE21-D553DEA3063A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>09537431-99F7-47F3-B0A0-318E63B98530</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Florian Pellet</string>
	<key>description</key>
	<string>Find exchange rate using Google Finance Currency Converter</string>
	<key>name</key>
	<string>Currency Converter</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>output</key>
				<integer>0</integer>
				<key>removeextension</key>
				<false/>
				<key>sticky</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>Result copied to clipboard.</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>09537431-99F7-47F3-B0A0-318E63B98530</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>63</integer>
				<key>keyword</key>
				<string>convert</string>
				<key>script</key>
				<string>AMOUNT={query};

RESULT=`curl -s "http://www.google.com/finance/converter?a=$AMOUNT&amp;from=EUR&amp;to=USD" | awk '/&lt;span/{print}' | sed -e 's/&lt;[^&gt;][^&gt;]*&gt;//g' -e '/^ *$/d'`

RESULT=${RESULT/EUR/€}
RESULT=${RESULT/USD/\$}

echo '&lt;?xml version="1.0"?&gt;&lt;items&gt;
  			&lt;item uid="convert" arg="'$RESULT'"&gt;
				&lt;title&gt;'$RESULT'&lt;/title&gt;
				&lt;icon&gt;icon.png&lt;/icon&gt;
				&lt;subtitle&gt;&lt;/subtitle&gt;
  			&lt;/item&gt;
		&lt;/items&gt;'</string>
				<key>title</key>
				<string>Convert € to $</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>77EA7E5C-A9B6-4646-B62F-2ACA3CB58EC8</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>63</integer>
				<key>keyword</key>
				<string>convert</string>
				<key>script</key>
				<string>AMOUNT={query};

RESULT=`curl -s "http://www.google.com/finance/converter?a=$AMOUNT&amp;from=USD&amp;to=EUR" | awk '/&lt;span/{print}' | sed -e 's/&lt;[^&gt;][^&gt;]*&gt;//g' -e '/^ *$/d'`

RESULT=${RESULT/EUR/€}
RESULT=${RESULT/USD/\$}

echo '&lt;?xml version="1.0"?&gt;&lt;items&gt;
  			&lt;item uid="convert" arg="'{query}'"&gt;
				&lt;title&gt;'$RESULT'&lt;/title&gt;
				&lt;icon&gt;icon.png&lt;/icon&gt;
				&lt;subtitle&gt;&lt;/subtitle&gt;
  			&lt;/item&gt;
		&lt;/items&gt;'</string>
				<key>title</key>
				<string>Convert $ to €</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>3AC97BC7-B4D4-42AB-A95D-9F06B7F0DA07</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>0B15F93C-F24D-4A2B-BE21-D553DEA3063A</string>
		</dict>
	</array>
	<key>uidata</key>
	<dict>
		<key>09537431-99F7-47F3-B0A0-318E63B98530</key>
		<dict>
			<key>ypos</key>
			<real>250</real>
		</dict>
		<key>0B15F93C-F24D-4A2B-BE21-D553DEA3063A</key>
		<dict>
			<key>ypos</key>
			<real>130</real>
		</dict>
		<key>3AC97BC7-B4D4-42AB-A95D-9F06B7F0DA07</key>
		<dict>
			<key>ypos</key>
			<real>250</real>
		</dict>
		<key>77EA7E5C-A9B6-4646-B62F-2ACA3CB58EC8</key>
		<dict>
			<key>ypos</key>
			<real>130</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
