<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.alfredapp.martem.image2base64</string>
	<key>connections</key>
	<dict>
		<key>1469283F-C798-4472-84C9-C3E0A12344A7</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>2A5CD7A8-41D7-4D6D-BBED-34DE4063820B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>323F0637-CB5D-44B9-A551-E3236C31D4EC</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>091B5765-2455-41EE-BF5D-C37051DA7C42</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>7891EBC6-8304-4765-B823-36F2BB720C8E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>1469283F-C798-4472-84C9-C3E0A12344A7</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>323F0637-CB5D-44B9-A551-E3236C31D4EC</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Artem Maksimenko</string>
	<key>description</key>
	<string>Copy to clipboard base64 string of an image</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>image to base64 to clipboard</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>2A5CD7A8-41D7-4D6D-BBED-34DE4063820B</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>63</integer>
				<key>script</key>
				<string>$file = '{query}';
$base64string = `openssl base64 &lt; $file | tr -d '\n'`;
$pathinfo = pathinfo($file);
echo 'data:image/' . $pathinfo['extension'] . ';base64,' . $base64string;
</string>
				<key>type</key>
				<integer>1</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>1469283F-C798-4472-84C9-C3E0A12344A7</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>output</key>
				<integer>0</integer>
				<key>removeextension</key>
				<false/>
				<key>sticky</key>
				<false/>
				<key>text</key>
				<string>{query} converted</string>
				<key>title</key>
				<string>base64</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>091B5765-2455-41EE-BF5D-C37051DA7C42</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>acceptsmulti</key>
				<false/>
				<key>filetypes</key>
				<array>
					<string>com.compuserve.gif</string>
					<string>public.jpeg</string>
					<string>public.png</string>
				</array>
				<key>name</key>
				<string>base64</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.action</string>
			<key>uid</key>
			<string>7891EBC6-8304-4765-B823-36F2BB720C8E</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>63</integer>
				<key>script</key>
				<string>$file = pathinfo('{query}');
echo $file['basename'];</string>
				<key>type</key>
				<integer>1</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>323F0637-CB5D-44B9-A551-E3236C31D4EC</string>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>091B5765-2455-41EE-BF5D-C37051DA7C42</key>
		<dict>
			<key>ypos</key>
			<real>130</real>
		</dict>
		<key>1469283F-C798-4472-84C9-C3E0A12344A7</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>2A5CD7A8-41D7-4D6D-BBED-34DE4063820B</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>323F0637-CB5D-44B9-A551-E3236C31D4EC</key>
		<dict>
			<key>ypos</key>
			<real>130</real>
		</dict>
		<key>7891EBC6-8304-4765-B823-36F2BB720C8E</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
