<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>nimblingchromebookmarksearch</string>
	<key>connections</key>
	<dict>
		<key>BC3D802E-B06F-4C34-9D76-C232F2E7010C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>336DEDA2-7251-4B4C-A68D-A5D49A541733</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Herman van Boeijen</string>
	<key>description</key>
	<string></string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Chrome Bookmarks</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>bm</string>
				<key>text</key>
				<string>Bookmarks</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>BC3D802E-B06F-4C34-9D76-C232F2E7010C</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string>com.google.chrome</string>
				<key>plusspaces</key>
				<false/>
				<key>url</key>
				<string>chrome://bookmarks/?#q={query}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>336DEDA2-7251-4B4C-A68D-A5D49A541733</string>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>336DEDA2-7251-4B4C-A68D-A5D49A541733</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>BC3D802E-B06F-4C34-9D76-C232F2E7010C</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>www.nimbling.com</string>
</dict>
</plist>
