<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.jrodl3r.alfred.desktopTodos</string>
	<key>connections</key>
	<dict>
		<key>15299C7A-CDEA-4359-8898-446F2892DB7C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>FF316160-82F1-4AC1-8D82-72A1F0AC9ED6</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>7AF363FF-3780-46B0-9A3E-3DCEA2515AB0</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F6FF60C8-358E-48BF-BD14-825B72DACDFC</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>F6FF60C8-358E-48BF-BD14-825B72DACDFC</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>207058C8-956C-43B1-9CA5-9AB2E9FF74CA</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>FF316160-82F1-4AC1-8D82-72A1F0AC9ED6</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A70A4E1E-712E-4575-967A-0AA64960904D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Jrodl3r</string>
	<key>description</key>
	<string>Desktop Todo-Item Manager</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Desktop Todo's</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>todo</string>
				<key>subtext</key>
				<string>Desktop Todo's</string>
				<key>text</key>
				<string>Add Todo Item</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>15299C7A-CDEA-4359-8898-446F2892DB7C</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<true/>
				<key>output</key>
				<integer>0</integer>
				<key>removeextension</key>
				<false/>
				<key>sticky</key>
				<false/>
				<key>text</key>
				<string>item added</string>
				<key>title</key>
				<string>Desktop Todo's</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>A70A4E1E-712E-4575-967A-0AA64960904D</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>127</integer>
				<key>script</key>
				<string>set -e
cd ~/Desktop &amp;&amp; curl -O http://media.jrod.io/images/todo-list/icon.png &amp;&amp; sips -i ~/Desktop/icon.png &amp;&amp; mv icon.png ~/Desktop/{query}</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>FF316160-82F1-4AC1-8D82-72A1F0AC9ED6</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>todo remove</string>
				<key>subtext</key>
				<string>Desktop Todo's</string>
				<key>text</key>
				<string>Remove Todo Item</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>7AF363FF-3780-46B0-9A3E-3DCEA2515AB0</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>127</integer>
				<key>script</key>
				<string>set -e
rm ~/Desktop/{query}</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>F6FF60C8-358E-48BF-BD14-825B72DACDFC</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>output</key>
				<integer>0</integer>
				<key>removeextension</key>
				<false/>
				<key>sticky</key>
				<false/>
				<key>text</key>
				<string>item removed</string>
				<key>title</key>
				<string>Desktop Todo's</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>207058C8-956C-43B1-9CA5-9AB2E9FF74CA</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>#Desktop Todo's
Desktop Todo-List Manager by @Jrodl3r (http://github.com/jrodl3r/alfred-todos.git)</string>
	<key>uidata</key>
	<dict>
		<key>15299C7A-CDEA-4359-8898-446F2892DB7C</key>
		<dict>
			<key>ypos</key>
			<real>60</real>
		</dict>
		<key>207058C8-956C-43B1-9CA5-9AB2E9FF74CA</key>
		<dict>
			<key>ypos</key>
			<real>190</real>
		</dict>
		<key>7AF363FF-3780-46B0-9A3E-3DCEA2515AB0</key>
		<dict>
			<key>ypos</key>
			<real>190</real>
		</dict>
		<key>A70A4E1E-712E-4575-967A-0AA64960904D</key>
		<dict>
			<key>ypos</key>
			<real>60</real>
		</dict>
		<key>F6FF60C8-358E-48BF-BD14-825B72DACDFC</key>
		<dict>
			<key>ypos</key>
			<real>190</real>
		</dict>
		<key>FF316160-82F1-4AC1-8D82-72A1F0AC9ED6</key>
		<dict>
			<key>ypos</key>
			<real>60</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>jrod.io</string>
</dict>
</plist>
