<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>im.dalang.alfred.FarboxSync</string>
	<key>connections</key>
	<dict>
		<key>6E4EEBD5-0AB8-4986-8EC0-1CD707F41689</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>7CF3F554-649A-41C2-82C6-9B54918D968E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>7CF3F554-649A-41C2-82C6-9B54918D968E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>9DC1690B-34E8-46CC-8FFF-7F32A400154A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>dalang</string>
	<key>description</key>
	<string>Enforce Farbox to Sync with Your Date</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Farbox Sync</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>farbox</string>
				<key>text</key>
				<string>Farbox 同步</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>6E4EEBD5-0AB8-4986-8EC0-1CD707F41689</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>127</integer>
				<key>script</key>
				<string># Replace with your.farbox.sync.url with YOURS
sync_url=your.farbox.sync.url
ret=$(curl $sync_url | grep -e "syncing now" -e "同步")

if [ -z $ret ]; then
    echo "Farbox Sync ERROR!"
else
    echo $ret
fi</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>7CF3F554-649A-41C2-82C6-9B54918D968E</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<true/>
				<key>output</key>
				<integer>0</integer>
				<key>removeextension</key>
				<false/>
				<key>sticky</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>Farbox</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>9DC1690B-34E8-46CC-8FFF-7F32A400154A</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>通过访问url来手动同步你的farbox
Farbox的调用说明
http://help.farbox.com/post/docs/2-jin-jie-zhi-nan/6sync</string>
	<key>uidata</key>
	<dict>
		<key>6E4EEBD5-0AB8-4986-8EC0-1CD707F41689</key>
		<dict>
			<key>ypos</key>
			<real>60</real>
		</dict>
		<key>7CF3F554-649A-41C2-82C6-9B54918D968E</key>
		<dict>
			<key>ypos</key>
			<real>60</real>
		</dict>
		<key>9DC1690B-34E8-46CC-8FFF-7F32A400154A</key>
		<dict>
			<key>ypos</key>
			<real>60</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>http://dalang.im</string>
</dict>
</plist>
