<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>net.upblog.F4Trigger</string>
	<key>connections</key>
	<dict>
		<key>B13EE19E-6F56-4236-8367-D2B3261A8936</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>185CDED9-9582-428E-8182-08C88C21030F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Cheng Yao</string>
	<key>description</key>
	<string>use “F4″ key on your Mac to activate Launchpad</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>F4Trigger</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>B13EE19E-6F56-4236-8367-D2B3261A8936</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>paths</key>
				<array>
					<string>/Applications/Launchpad.app</string>
				</array>
				<key>toggle</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.launchfiles</string>
			<key>uid</key>
			<string>185CDED9-9582-428E-8182-08C88C21030F</string>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>185CDED9-9582-428E-8182-08C88C21030F</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>B13EE19E-6F56-4236-8367-D2B3261A8936</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>upblog.net</string>
</dict>
</plist>
