<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.benzi.a2w.radium3</string>
	<key>connections</key>
	<dict>
		<key>BC40F6F4-5619-42C8-B97F-37FF8AA47ECB</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>AF8D7A55-5C79-44E1-B83B-7E79C49B0AD8</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Benzi Ahamed</string>
	<key>description</key>
	<string>Control Radium via Alfred. Chocolatey goodness :-)</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Radium</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>63</integer>
				<key>keyword</key>
				<string>radium</string>
				<key>script</key>
				<string>cat &lt;&lt; EOB

&lt;?xml version="1.0"?&gt;

&lt;items&gt;

  &lt;item uid="radium.play" autocomplete="play" arg="play"&gt; 
    &lt;title&gt;Play&lt;/title&gt; 
    &lt;subtitle&gt;Play/resume the currently-selected station&lt;/subtitle&gt; 
	&lt;icon&gt;icon.png&lt;/icon&gt;
  &lt;/item&gt;

  &lt;item uid="radium.pause" autocomplete="pause" arg="pause"&gt; 
    &lt;title&gt;Pause&lt;/title&gt; 
    &lt;subtitle&gt;Pause playback&lt;/subtitle&gt; 
	&lt;icon&gt;icon.png&lt;/icon&gt;
  &lt;/item&gt; 

  &lt;item uid="radium.playpause" autocomplete="playpause" arg="playpause"&gt; 
    &lt;title&gt;Play/Pause&lt;/title&gt; 
    &lt;subtitle&gt;Toggle Radium's playing/paused state&lt;/subtitle&gt; 
	&lt;icon&gt;icon.png&lt;/icon&gt;
  &lt;/item&gt; 


  &lt;item uid="radium.stop" autocomplete="stop" arg="stop"&gt; 
    &lt;title&gt;Stop&lt;/title&gt; 
    &lt;subtitle&gt;Stop playback and disconnect from station&lt;/subtitle&gt; 
	&lt;icon&gt;icon.png&lt;/icon&gt;
  &lt;/item&gt; 

  &lt;item uid="radium.quit" autocomplete="quit" arg="quit"&gt; 
    &lt;title&gt;Quit&lt;/title&gt; 
    &lt;subtitle&gt;Quits Radium&lt;/subtitle&gt; 
	&lt;icon&gt;icon.png&lt;/icon&gt;
  &lt;/item&gt; 

&lt;/items&gt;

EOB</string>
				<key>subtext</key>
				<string>Control Radium using Alfred</string>
				<key>title</key>
				<string>Radium</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>BC40F6F4-5619-42C8-B97F-37FF8AA47ECB</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>63</integer>
				<key>script</key>
				<string>tell application "System Events"	set radiumIsUp to ¬		(count of (every process whose name is "Radium")) &gt; 0end tellif radiumIsUp is false then	tell application "Radium"		activate	end tell
	do shell script "sleep 5"end iftell application "Radium"	{query}end tell</string>
				<key>type</key>
				<integer>6</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.script</string>
			<key>uid</key>
			<string>AF8D7A55-5C79-44E1-B83B-7E79C49B0AD8</string>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>AF8D7A55-5C79-44E1-B83B-7E79C49B0AD8</key>
		<dict>
			<key>ypos</key>
			<real>130</real>
		</dict>
		<key>BC40F6F4-5619-42C8-B97F-37FF8AA47ECB</key>
		<dict>
			<key>ypos</key>
			<real>130</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>benzi-ahamed.tumblr.com</string>
</dict>
</plist>
