<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>smzds</string>
	<key>connections</key>
	<dict>
		<key>88AEC9FC-47FF-40CA-BEE8-23638E344105</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>18ADB3A9-3B9C-4C60-A2BB-CAFFF78927FE</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Henter</string>
	<key>description</key>
	<string>获取“什么值得扫”网站最新商品</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>什么值得扫</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>plusspaces</key>
				<false/>
				<key>url</key>
				<string>{query}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>18ADB3A9-3B9C-4C60-A2BB-CAFFF78927FE</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>63</integer>
				<key>keyword</key>
				<string>smzds</string>
				<key>runningsubtext</key>
				<string>loading...</string>
				<key>script</key>
				<string>python smzds.py "{query}"</string>
				<key>title</key>
				<string>输入new，获取最新商品信息</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>88AEC9FC-47FF-40CA-BEE8-23638E344105</string>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>18ADB3A9-3B9C-4C60-A2BB-CAFFF78927FE</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>88AEC9FC-47FF-40CA-BEE8-23638E344105</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>http://henter.me</string>
</dict>
</plist>
