<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>designandsuch.alfred.units.0.5</string>
	<key>connections</key>
	<dict>
		<key>A98AC766-44B3-4203-8268-4045449D6522</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C8B4B420-6A2B-4978-9BFA-F52C9425C82A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>E64B228E-6FC2-4981-BBAB-204427E4D79E</string>
				<key>modifiers</key>
				<integer>131072</integer>
				<key>modifiersubtext</key>
				<string>{query}</string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Thijs de Jong</string>
	<key>description</key>
	<string>convert units</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Units (beta)</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<true/>
				<key>output</key>
				<integer>0</integer>
				<key>removeextension</key>
				<false/>
				<key>sticky</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>{query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>C8B4B420-6A2B-4978-9BFA-F52C9425C82A</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>4</integer>
				<key>keyword</key>
				<string>units</string>
				<key>runningsubtext</key>
				<string>pleasewait</string>
				<key>script</key>
				<string>require_once 'units.php';
units("{query}");</string>
				<key>subtext</key>
				<string>by Design and Such</string>
				<key>title</key>
				<string>Units</string>
				<key>type</key>
				<integer>1</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>A98AC766-44B3-4203-8268-4045449D6522</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>plusspaces</key>
				<false/>
				<key>url</key>
				<string>{query}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>E64B228E-6FC2-4981-BBAB-204427E4D79E</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>A98AC766-44B3-4203-8268-4045449D6522</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>C8B4B420-6A2B-4978-9BFA-F52C9425C82A</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>E64B228E-6FC2-4981-BBAB-204427E4D79E</key>
		<dict>
			<key>ypos</key>
			<real>100</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>www.designandsuch.com</string>
</dict>
</plist>
