<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.fusijie.one</string>
	<key>category</key>
	<string>Internet</string>
	<key>connections</key>
	<dict>
		<key>1C2C06CF-96BF-44DE-8D8C-F1F631D22E4C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>59361554-5040-4E3D-A45A-8CA88CDD0502</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>7DD3BDE5-A157-42E5-9376-F681FB50A4EE</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>59361554-5040-4E3D-A45A-8CA88CDD0502</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>EF4C90DF-C3BC-47BE-AA6D-A3AE1C78A9EC</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>59361554-5040-4E3D-A45A-8CA88CDD0502</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>fusijie</string>
	<key>description</key>
	<string>每天只为你准备一张图片、一篇文字和一个问答</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>ONE「一个」</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>127</integer>
				<key>keyword</key>
				<string>one</string>
				<key>runningsubtext</key>
				<string>App「一个」短篇更新中</string>
				<key>script</key>
				<string>python one.py essay</string>
				<key>subtext</key>
				<string>每天只为你准备一张图片、一篇文字和一个问答
每天只为你准备一张图片、一篇文字和一个问答</string>
				<key>title</key>
				<string>App「一个」短篇</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>7DD3BDE5-A157-42E5-9376-F681FB50A4EE</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>plusspaces</key>
				<false/>
				<key>url</key>
				<string>{query}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>59361554-5040-4E3D-A45A-8CA88CDD0502</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>127</integer>
				<key>keyword</key>
				<string>one</string>
				<key>runningsubtext</key>
				<string>ONE「一个」连载更新中</string>
				<key>script</key>
				<string>python one.py serial</string>
				<key>subtext</key>
				<string>每天只为你准备一张图片、一篇文字和一个问答</string>
				<key>title</key>
				<string>ONE「一个」连载</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>EF4C90DF-C3BC-47BE-AA6D-A3AE1C78A9EC</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>127</integer>
				<key>keyword</key>
				<string>one</string>
				<key>runningsubtext</key>
				<string>ONE「一个」问答更新中</string>
				<key>script</key>
				<string>python one.py question</string>
				<key>subtext</key>
				<string>每天只为你准备一张图片、一篇文字和一个问答</string>
				<key>title</key>
				<string>ONE「一个」问答</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>1C2C06CF-96BF-44DE-8D8C-F1F631D22E4C</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>1C2C06CF-96BF-44DE-8D8C-F1F631D22E4C</key>
		<dict>
			<key>ypos</key>
			<real>300</real>
		</dict>
		<key>59361554-5040-4E3D-A45A-8CA88CDD0502</key>
		<dict>
			<key>ypos</key>
			<real>180</real>
		</dict>
		<key>7DD3BDE5-A157-42E5-9376-F681FB50A4EE</key>
		<dict>
			<key>ypos</key>
			<real>60</real>
		</dict>
		<key>EF4C90DF-C3BC-47BE-AA6D-A3AE1C78A9EC</key>
		<dict>
			<key>ypos</key>
			<real>180</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>http://fusijie.github.io</string>
</dict>
</plist>
