<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string></string>
	<key>connections</key>
	<dict>
		<key>D9413737-68AF-44E7-8F3D-214676DFD4EF</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>967B18E7-BA96-4F09-B4E5-A773DE0FD3DC</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>77AA5EBA-F831-4E9E-9E7D-FD7665B66FD1</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>F0F03219-0C30-4884-A6C9-9465D512B11C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>3387B057-FF89-44FF-8D81-1C1CB554C09C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Vítor Galvão</string>
	<key>description</key>
	<string>Sets a label color for selected files and directories</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>LabelColor</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string>cat file_list | xargs -0 ./labelcolor {query}

rm file_list

exit 0</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>3387B057-FF89-44FF-8D81-1C1CB554C09C</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>labelcolor</string>
				<key>subtext</key>
				<string>none (removes label), orange, red, yellow, blue, purple, green, gray</string>
				<key>text</key>
				<string>labelcolor</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>F0F03219-0C30-4884-A6C9-9465D512B11C</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>applescript</key>
				<string>on alfred_script(q)
	tell application "Alfred 2" to search "labelcolor "
end alfred_script</string>
				<key>cachescript</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.applescript</string>
			<key>uid</key>
			<string>967B18E7-BA96-4F09-B4E5-A773DE0FD3DC</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string>echo "{query}" | perl -pe 's/[\t\n]/\0/g' &gt; file_list</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>77AA5EBA-F831-4E9E-9E7D-FD7665B66FD1</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>acceptsmulti</key>
				<true/>
				<key>filetypes</key>
				<array/>
				<key>name</key>
				<string>Label</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.action</string>
			<key>uid</key>
			<string>D9413737-68AF-44E7-8F3D-214676DFD4EF</string>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>3387B057-FF89-44FF-8D81-1C1CB554C09C</key>
		<dict>
			<key>ypos</key>
			<real>250</real>
		</dict>
		<key>77AA5EBA-F831-4E9E-9E7D-FD7665B66FD1</key>
		<dict>
			<key>ypos</key>
			<real>130</real>
		</dict>
		<key>967B18E7-BA96-4F09-B4E5-A773DE0FD3DC</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>D9413737-68AF-44E7-8F3D-214676DFD4EF</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>F0F03219-0C30-4884-A6C9-9465D512B11C</key>
		<dict>
			<key>ypos</key>
			<real>250</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>http://vitorgalvao.com/</string>
</dict>
</plist>
