<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.daveboyle.airplane</string>
	<key>connections</key>
	<dict>
		<key>6B71D91F-5887-44AC-9586-714381034D08</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>305E3D5B-079B-42EF-9358-E1549F8BD7A9</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>C07D3235-6510-42CA-80D5-D544B5AA1B6A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>6B71D91F-5887-44AC-9586-714381034D08</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Dave Boyle</string>
	<key>description</key>
	<string>Airplane mode on</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Airplane Mode</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>127</integer>
				<key>script</key>
				<string>response="{query}"
if [ $response = "on" ]
then
	/usr/local/bin/blueutil off;networksetup -setairportpower en1 off
	echo "Airplane Mode Activated"

elif [ $response = "off" ]
then

	/usr/local/bin/blueutil on;networksetup -setairportpower en1 on
	echo "Airplane Mode Deactivated"
fi</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>6B71D91F-5887-44AC-9586-714381034D08</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<true/>
				<key>output</key>
				<integer>0</integer>
				<key>removeextension</key>
				<false/>
				<key>sticky</key>
				<false/>
				<key>title</key>
				<string>Airplane Mode ON</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>305E3D5B-079B-42EF-9358-E1549F8BD7A9</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>ap</string>
				<key>subtext</key>
				<string>ON or OFF</string>
				<key>text</key>
				<string>Airplane Mode</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>C07D3235-6510-42CA-80D5-D544B5AA1B6A</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>Type AP then ON or OFF to turn bluetooth and airport on/off</string>
	<key>uidata</key>
	<dict>
		<key>305E3D5B-079B-42EF-9358-E1549F8BD7A9</key>
		<dict>
			<key>ypos</key>
			<real>180</real>
		</dict>
		<key>6B71D91F-5887-44AC-9586-714381034D08</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>C07D3235-6510-42CA-80D5-D544B5AA1B6A</key>
		<dict>
			<key>ypos</key>
			<real>270</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>http://daveboyle.net</string>
</dict>
</plist>
