<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>me.zhaowu.alfred-workflow-gem</string>
	<key>connections</key>
	<dict>
		<key>21557827-8003-42B7-A042-16D4C9278FEC</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>42D05639-3F0F-4760-8214-317167E4173D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>BA17BE41-176A-4E9A-B958-A3F0BEA36829</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>42D05639-3F0F-4760-8214-317167E4173D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Zhao Cai</string>
	<key>description</key>
	<string>A starting place for developing Ruby based workflow in Alfred</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Ruby Based Workflow Template</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>62</integer>
				<key>keyword</key>
				<string>test feedback</string>
				<key>runningsubtext</key>
				<string>working...</string>
				<key>script</key>
				<string>/usr/bin/ruby ./main.rb {query}</string>
				<key>subtext</key>
				<string>Ruby Based Workflow Template</string>
				<key>title</key>
				<string>Test Alfred Feedback</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>21557827-8003-42B7-A042-16D4C9278FEC</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<true/>
				<key>output</key>
				<integer>0</integer>
				<key>removeextension</key>
				<false/>
				<key>sticky</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>Ruby Script</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>42D05639-3F0F-4760-8214-317167E4173D</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>escaping</key>
				<integer>63</integer>
				<key>keyword</key>
				<string>test rescue feedback</string>
				<key>runningsubtext</key>
				<string>...</string>
				<key>script</key>
				<string>/usr/bin/ruby ./main_with_rescue_feedback.rb {query}</string>
				<key>subtext</key>
				<string>Ruby Based Workflow Template</string>
				<key>title</key>
				<string>Test Alfred Rescue Feedback</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>BA17BE41-176A-4E9A-B958-A3F0BEA36829</string>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>21557827-8003-42B7-A042-16D4C9278FEC</key>
		<dict>
			<key>ypos</key>
			<real>250</real>
		</dict>
		<key>42D05639-3F0F-4760-8214-317167E4173D</key>
		<dict>
			<key>ypos</key>
			<real>140</real>
		</dict>
		<key>BA17BE41-176A-4E9A-B958-A3F0BEA36829</key>
		<dict>
			<key>ypos</key>
			<real>370</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>http://github.com/zhaocai/alfred2-ruby-template</string>
</dict>
</plist>
