<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string></string>
	<key>connections</key>
	<dict>
		<key>1A173B75-090A-42F4-B3F8-1122BA785989</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>91228244-59ED-4581-82E8-739661FE1E5C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Jeroen van der Waal</string>
	<key>description</key>
	<string>Opens the selected folder in Adobe Bridge</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Browse Folder in Adobe Bridge</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>acceptsmulti</key>
				<false/>
				<key>filetypes</key>
				<array>
					<string>public.folder</string>
				</array>
				<key>name</key>
				<string>Browse Folder in Adobe Bridge</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.action</string>
			<key>uid</key>
			<string>1A173B75-090A-42F4-B3F8-1122BA785989</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>applescript</key>
				<string>on alfred_script(q)		tell application "Adobe Bridge CS5"		open q		activate	end tell	end alfred_script</string>
				<key>cachescript</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.applescript</string>
			<key>uid</key>
			<string>91228244-59ED-4581-82E8-739661FE1E5C</string>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>1A173B75-090A-42F4-B3F8-1122BA785989</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>91228244-59ED-4581-82E8-739661FE1E5C</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
