<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string></string>
	<key>connections</key>
	<dict>
		<key>37406BFB-E797-4115-AED4-D2CC320EF8B2</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>36B87C86-3D84-4F18-99C4-84B1313F3E1F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>46C96A45-773C-4E2A-A82B-89E9454EF652</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>37406BFB-E797-4115-AED4-D2CC320EF8B2</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>ABFACFBF-46A8-4306-821B-841A62D0E5A6</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>37406BFB-E797-4115-AED4-D2CC320EF8B2</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>PSiCK0</string>
	<key>description</key>
	<string>Erase apps, plugins, preference pane and widgets with AppZapper</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Uninstall with AppZapper</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>127</integer>
				<key>script</key>
				<string>open -a AppZapper {query}</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>37406BFB-E797-4115-AED4-D2CC320EF8B2</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>output</key>
				<integer>0</integer>
				<key>removeextension</key>
				<false/>
				<key>sticky</key>
				<false/>
				<key>text</key>
				<string>Item ready to uninstall. Press "Zapp" to proceed or "Cancel" to abort.</string>
				<key>title</key>
				<string>AppZapper</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>36B87C86-3D84-4F18-99C4-84B1313F3E1F</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>anchorfields</key>
				<true/>
				<key>daterange</key>
				<integer>0</integer>
				<key>fields</key>
				<array>
					<dict>
						<key>field</key>
						<string>kMDItemDisplayName</string>
						<key>not</key>
						<false/>
						<key>split</key>
						<true/>
						<key>value</key>
						<string>{query}</string>
						<key>words</key>
						<true/>
					</dict>
					<dict>
						<key>field</key>
						<string>kMDItemAlternateNames</string>
						<key>not</key>
						<false/>
						<key>split</key>
						<true/>
						<key>value</key>
						<string>{query}</string>
						<key>words</key>
						<true/>
					</dict>
					<dict>
						<key>field</key>
						<string>kMDItemFinderComment</string>
						<key>not</key>
						<false/>
						<key>split</key>
						<true/>
						<key>value</key>
						<string>{query}</string>
						<key>words</key>
						<true/>
					</dict>
				</array>
				<key>includesystem</key>
				<false/>
				<key>keyword</key>
				<string>uwa</string>
				<key>scopes</key>
				<array/>
				<key>subtext</key>
				<string>Uninstall an app, preference pane, widget or plugin with AppZapper</string>
				<key>title</key>
				<string>Uninstall with AppZapper</string>
				<key>types</key>
				<array>
					<string>com.apple.application-bundle</string>
					<string>com.apple.dashboard-widget</string>
					<string>com.apple.plugin</string>
					<string>com.apple.systempreference.prefpane</string>
				</array>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.filefilter</string>
			<key>uid</key>
			<string>ABFACFBF-46A8-4306-821B-841A62D0E5A6</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>acceptsmulti</key>
				<false/>
				<key>filetypes</key>
				<array>
					<string>com.apple.application-bundle</string>
					<string>com.apple.dashboard-widget</string>
					<string>com.apple.plugin</string>
					<string>com.apple.systempreference.prefpane</string>
				</array>
				<key>name</key>
				<string>Uninstall with AppZapper</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.action</string>
			<key>uid</key>
			<string>46C96A45-773C-4E2A-A82B-89E9454EF652</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>36B87C86-3D84-4F18-99C4-84B1313F3E1F</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>37406BFB-E797-4115-AED4-D2CC320EF8B2</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>46C96A45-773C-4E2A-A82B-89E9454EF652</key>
		<dict>
			<key>ypos</key>
			<real>90</real>
		</dict>
		<key>ABFACFBF-46A8-4306-821B-841A62D0E5A6</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
