<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.alfredapp.sruml.kippt</string>
	<key>connections</key>
	<dict>
		<key>162CC3BB-4580-4E5B-8753-07646F3E6B61</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A3A34FB5-DED4-4512-8309-61B41088232E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>1C0CBD7C-0B91-4FA4-AA4F-7A4B3B7FE4AC</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>3B4B7014-676B-4FD9-9988-E2789181264A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>3B4B7014-676B-4FD9-9988-E2789181264A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>BD2DF55B-8E33-4654-BCD0-0E346C8AB6B0</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>42C5A7BA-A93C-4412-A79A-A124BB0F2EC0</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>43D26494-2618-4960-B451-F0744E8B3CD3</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>A3A34FB5-DED4-4512-8309-61B41088232E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>51C066A9-522D-47E1-87CF-A8499BF017E7</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>ACE587D2-2651-4E4A-BFBA-9F1C5BBAA7EA</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C2075F69-E505-4430-88EF-3DCC91F224B3</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>C2075F69-E505-4430-88EF-3DCC91F224B3</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B7E11250-D7A2-42B1-A16A-0DAE5646F452</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Sebastian Ruml</string>
	<key>description</key>
	<string>Search clips on Kippt</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Search Kippt</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>127</integer>
				<key>keyword</key>
				<string>kp</string>
				<key>runningsubtext</key>
				<string>Finding Clips...</string>
				<key>script</key>
				<string>python search.py "{query}"</string>
				<key>subtext</key>
				<string>Search clips in Kippt</string>
				<key>title</key>
				<string>Search Kippt</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>42C5A7BA-A93C-4412-A79A-A124BB0F2EC0</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>plusspaces</key>
				<false/>
				<key>url</key>
				<string>{query}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>43D26494-2618-4960-B451-F0744E8B3CD3</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>output</key>
				<integer>0</integer>
				<key>removeextension</key>
				<false/>
				<key>sticky</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>Kippt</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>BD2DF55B-8E33-4654-BCD0-0E346C8AB6B0</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>126</integer>
				<key>script</key>
				<string>python utils.py username "{query}"</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>3B4B7014-676B-4FD9-9988-E2789181264A</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>kpuser</string>
				<key>subtext</key>
				<string>Set your Kippt Username</string>
				<key>text</key>
				<string>Set Kippt Username</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>1C0CBD7C-0B91-4FA4-AA4F-7A4B3B7FE4AC</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>kppassword</string>
				<key>subtext</key>
				<string>Set your Kippt Password</string>
				<key>text</key>
				<string>Set Kippt Password</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>ACE587D2-2651-4E4A-BFBA-9F1C5BBAA7EA</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>126</integer>
				<key>script</key>
				<string>python utils.py password "{query}"</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>C2075F69-E505-4430-88EF-3DCC91F224B3</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>output</key>
				<integer>0</integer>
				<key>removeextension</key>
				<false/>
				<key>sticky</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>Kippt</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>B7E11250-D7A2-42B1-A16A-0DAE5646F452</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>126</integer>
				<key>script</key>
				<string>python utils.py update</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>A3A34FB5-DED4-4512-8309-61B41088232E</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>kpupdate</string>
				<key>subtext</key>
				<string>Update Clips From Kippt</string>
				<key>text</key>
				<string>Update Clips</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>162CC3BB-4580-4E5B-8753-07646F3E6B61</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>output</key>
				<integer>0</integer>
				<key>removeextension</key>
				<false/>
				<key>sticky</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>Kippt</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>51C066A9-522D-47E1-87CF-A8499BF017E7</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>162CC3BB-4580-4E5B-8753-07646F3E6B61</key>
		<dict>
			<key>ypos</key>
			<real>380</real>
		</dict>
		<key>1C0CBD7C-0B91-4FA4-AA4F-7A4B3B7FE4AC</key>
		<dict>
			<key>ypos</key>
			<real>140</real>
		</dict>
		<key>3B4B7014-676B-4FD9-9988-E2789181264A</key>
		<dict>
			<key>ypos</key>
			<real>140</real>
		</dict>
		<key>42C5A7BA-A93C-4412-A79A-A124BB0F2EC0</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>43D26494-2618-4960-B451-F0744E8B3CD3</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>51C066A9-522D-47E1-87CF-A8499BF017E7</key>
		<dict>
			<key>ypos</key>
			<real>380</real>
		</dict>
		<key>A3A34FB5-DED4-4512-8309-61B41088232E</key>
		<dict>
			<key>ypos</key>
			<real>380</real>
		</dict>
		<key>ACE587D2-2651-4E4A-BFBA-9F1C5BBAA7EA</key>
		<dict>
			<key>ypos</key>
			<real>260</real>
		</dict>
		<key>B7E11250-D7A2-42B1-A16A-0DAE5646F452</key>
		<dict>
			<key>ypos</key>
			<real>260</real>
		</dict>
		<key>BD2DF55B-8E33-4654-BCD0-0E346C8AB6B0</key>
		<dict>
			<key>ypos</key>
			<real>140</real>
		</dict>
		<key>C2075F69-E505-4430-88EF-3DCC91F224B3</key>
		<dict>
			<key>ypos</key>
			<real>260</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>http://sebastianruml.com</string>
</dict>
</plist>
