<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.github.bpinto.hatmaker</string>
	<key>connections</key>
	<dict>
		<key>21557827-8003-42B7-A042-16D4C9278FEC</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>2B7727E9-426C-4825-944C-B4A2BE25F5C4</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>2B7727E9-426C-4825-944C-B4A2BE25F5C4</key>
		<array/>
		<key>4FFC79AD-9487-4FDC-8FD9-4A5F39D99639</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>2B7727E9-426C-4825-944C-B4A2BE25F5C4</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Bruno Pinto</string>
	<key>description</key>
	<string>Manage alfred extension</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Hatmaker</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>4</integer>
				<key>script</key>
				<string>/usr/bin/ruby ./main.rb install "{query}"</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>2B7727E9-426C-4825-944C-B4A2BE25F5C4</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>install</string>
				<key>runningsubtext</key>
				<string>Searching...</string>
				<key>script</key>
				<string>/usr/bin/ruby ./main.rb search "{query}"</string>
				<key>subtext</key>
				<string>Search and install a workflow</string>
				<key>title</key>
				<string>Install a workflow</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>21557827-8003-42B7-A042-16D4C9278FEC</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>escaping</key>
				<integer>127</integer>
				<key>keyword</key>
				<string>outdated</string>
				<key>runningsubtext</key>
				<string>Searching...</string>
				<key>script</key>
				<string>/usr/bin/ruby ./main.rb outdated</string>
				<key>title</key>
				<string>Outdated workflows</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>4FFC79AD-9487-4FDC-8FD9-4A5F39D99639</string>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>21557827-8003-42B7-A042-16D4C9278FEC</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>2B7727E9-426C-4825-944C-B4A2BE25F5C4</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>4FFC79AD-9487-4FDC-8FD9-4A5F39D99639</key>
		<dict>
			<key>ypos</key>
			<real>130</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>http://bpinto.github.io</string>
</dict>
</plist>
