<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string></string>
	<key>connections</key>
	<dict>
		<key>02B4CB85-CBBC-424A-8CD9-BD60A5AFE062</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>47247424-5AC2-4C55-8084-5E993E912178</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>6345EB09-B01E-43FB-AC81-F0AE9E8B14B2</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>02B4CB85-CBBC-424A-8CD9-BD60A5AFE062</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>DE853A02-A282-4AB4-AC10-8F887A64555C</string>
				<key>modifiers</key>
				<integer>524288</integer>
				<key>modifiersubtext</key>
				<string>View snippet</string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>BA2DCBB3-65CB-4B21-BD32-6216FC267B3E</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string>Copy &amp; Paste</string>
			</dict>
		</array>
		<key>6C7A2DB9-77E7-441C-A057-F50799C86E93</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>AC8CDC1F-4867-4C11-B545-BF0C20AC8EA0</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>AC8CDC1F-4867-4C11-B545-BF0C20AC8EA0</key>
		<array/>
		<key>BA2DCBB3-65CB-4B21-BD32-6216FC267B3E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>23F2AA28-EFD6-4082-B5B3-3D313CF5B63E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>DE853A02-A282-4AB4-AC10-8F887A64555C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>152542AB-5F99-4F4E-A40B-F321D3DAF875</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Patrik Henningsson</string>
	<key>description</key>
	<string>Search or create snippets from Snippets</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Snippets</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>snip</string>
				<key>runningsubtext</key>
				<string>Searching...</string>
				<key>script</key>
				<string>php search.php '{query}'</string>
				<key>subtext</key>
				<string>Search or create snippets from Snippets</string>
				<key>title</key>
				<string>Snippets</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>6345EB09-B01E-43FB-AC81-F0AE9E8B14B2</string>
		</dict>
		<dict>
			<key>type</key>
			<string>alfred.workflow.output.largetype</string>
			<key>uid</key>
			<string>152542AB-5F99-4F4E-A40B-F321D3DAF875</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<true/>
				<key>clipboardtext</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>23F2AA28-EFD6-4082-B5B3-3D313CF5B63E</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string>php ./decode.php '{query}'</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>DE853A02-A282-4AB4-AC10-8F887A64555C</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>47247424-5AC2-4C55-8084-5E993E912178</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>1</integer>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>6C7A2DB9-77E7-441C-A057-F50799C86E93</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string>$query = &lt;&lt;&lt;'END_OF_ALFRED_QUERY'
{query}
END_OF_ALFRED_QUERY;

$url = 'snippet:add?code=' . rawurlencode($query);
$author = `osascript -e "long user name of (system info)" 2&gt;/dev/null`;

if (!empty($author)) {
	$url .= "&amp;amp;author=" . rawurlencode($author);
}

exec('open "' . $url . '"');</string>
				<key>type</key>
				<integer>1</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>AC8CDC1F-4867-4C11-B545-BF0C20AC8EA0</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string>php ./decode.php '{query}'</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>02B4CB85-CBBC-424A-8CD9-BD60A5AFE062</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string>php ./decode.php '{query}'</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>BA2DCBB3-65CB-4B21-BD32-6216FC267B3E</string>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>02B4CB85-CBBC-424A-8CD9-BD60A5AFE062</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>152542AB-5F99-4F4E-A40B-F321D3DAF875</key>
		<dict>
			<key>ypos</key>
			<real>170</real>
		</dict>
		<key>23F2AA28-EFD6-4082-B5B3-3D313CF5B63E</key>
		<dict>
			<key>ypos</key>
			<real>340</real>
		</dict>
		<key>47247424-5AC2-4C55-8084-5E993E912178</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>6345EB09-B01E-43FB-AC81-F0AE9E8B14B2</key>
		<dict>
			<key>ypos</key>
			<real>170</real>
		</dict>
		<key>6C7A2DB9-77E7-441C-A057-F50799C86E93</key>
		<dict>
			<key>ypos</key>
			<real>590</real>
		</dict>
		<key>AC8CDC1F-4867-4C11-B545-BF0C20AC8EA0</key>
		<dict>
			<key>ypos</key>
			<real>590</real>
		</dict>
		<key>BA2DCBB3-65CB-4B21-BD32-6216FC267B3E</key>
		<dict>
			<key>ypos</key>
			<real>340</real>
		</dict>
		<key>DE853A02-A282-4AB4-AC10-8F887A64555C</key>
		<dict>
			<key>ypos</key>
			<real>170</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>https://github.com/pahen/Snippets.alfredworkflow</string>
</dict>
</plist>
