<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string></string>
	<key>connections</key>
	<dict>
		<key>6A286F10-FD49-4463-9540-0EECBE45438D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>06B01CE3-C355-4F35-A73F-CAF68F286C56</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>8B372F3F-B5EA-4B67-808C-69C4E0A5D5EB</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>DF7A8FE0-A270-4448-AE99-72AD628967BC</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>6A286F10-FD49-4463-9540-0EECBE45438D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Vítor Galvão</string>
	<key>description</key>
	<string>Downloads video from your browser's frontmost tab</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>DownVid</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>output</key>
				<integer>0</integer>
				<key>removeextension</key>
				<false/>
				<key>sticky</key>
				<false/>
				<key>text</key>
				<string>In progress…</string>
				<key>title</key>
				<string>DownVid</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>DF7A8FE0-A270-4448-AE99-72AD628967BC</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>dv</string>
				<key>subtext</key>
				<string>Download videos from popular sources (uses the URL in your clipboard)</string>
				<key>text</key>
				<string>DownVid</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>8B372F3F-B5EA-4B67-808C-69C4E0A5D5EB</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string>python youtube-dl -o "${HOME}/Desktop/%(title)s.%(ext)s" "$(pbpaste)"</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>6A286F10-FD49-4463-9540-0EECBE45438D</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>output</key>
				<integer>0</integer>
				<key>removeextension</key>
				<false/>
				<key>sticky</key>
				<false/>
				<key>text</key>
				<string>Done.</string>
				<key>title</key>
				<string>DownVid</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>06B01CE3-C355-4F35-A73F-CAF68F286C56</string>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>06B01CE3-C355-4F35-A73F-CAF68F286C56</key>
		<dict>
			<key>ypos</key>
			<real>130</real>
		</dict>
		<key>6A286F10-FD49-4463-9540-0EECBE45438D</key>
		<dict>
			<key>ypos</key>
			<real>130</real>
		</dict>
		<key>8B372F3F-B5EA-4B67-808C-69C4E0A5D5EB</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>DF7A8FE0-A270-4448-AE99-72AD628967BC</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>http://vitorgalvao.com/</string>
</dict>
</plist>
