<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.tedwise.menubarsearch</string>
	<key>connections</key>
	<dict>
		<key>C8DFF277-2C74-48D3-B685-F304268DF007</key>
		<array/>
		<key>D75A822F-5FB7-4372-B080-617E8D0BA5C1</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C8DFF277-2C74-48D3-B685-F304268DF007</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Ted Wise</string>
	<key>description</key>
	<string>Search through menu options for front-most application (1.3)</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Menu Bar Search</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>4</integer>
				<key>keyword</key>
				<string>m</string>
				<key>runningsubtext</key>
				<string>Loading...</string>
				<key>script</key>
				<string>ruby main.rb "{query}"</string>
				<key>subtext</key>
				<string>Search menu bar for commands</string>
				<key>title</key>
				<string>Search menu bar</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>D75A822F-5FB7-4372-B080-617E8D0BA5C1</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>4</integer>
				<key>script</key>
				<string>osascript execute.scpt "{query}"</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>C8DFF277-2C74-48D3-B685-F304268DF007</string>
		</dict>
	</array>
	<key>readme</key>
	<string>Based almost entirely on menu bar search workflow by Jeroen van der Neut.</string>
	<key>uidata</key>
	<dict>
		<key>C8DFF277-2C74-48D3-B685-F304268DF007</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>D75A822F-5FB7-4372-B080-617E8D0BA5C1</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>http://tedwise.com</string>
</dict>
</plist>
