<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.hibou.alfred-launch-firemerge</string>
	<key>connections</key>
	<dict>
		<key>903B91F5-FAC2-4700-979C-8A8052F3332C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>5B7E9F27-B3EE-423E-9489-C68395BDE4A8</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>marushu</string>
	<key>description</key>
	<string>Launch FileMerge</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Launch FileMerge</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>ffm</string>
				<key>text</key>
				<string>Launch FileMerge</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>903B91F5-FAC2-4700-979C-8A8052F3332C</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>paths</key>
				<array>
					<string>/Applications/Xcode.app/Contents/Applications/FileMerge.app</string>
				</array>
				<key>toggle</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.launchfiles</string>
			<key>uid</key>
			<string>5B7E9F27-B3EE-423E-9489-C68395BDE4A8</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>5B7E9F27-B3EE-423E-9489-C68395BDE4A8</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>903B91F5-FAC2-4700-979C-8A8052F3332C</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>http://hiobu-web.com</string>
</dict>
</plist>
