<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>co.bizmascot.alfred.alphared</string>
	<key>connections</key>
	<dict>
		<key>38A36222-C6CF-497A-870E-27552D6D6F30</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D377A772-EE8E-438F-BE01-7F031809BE0D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>68B4F4E1-2A2D-4AF0-B13F-AF3FB903C3D1</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>AB1FD1B5-1AF6-4862-AC9B-0BC2545EBB25</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>E95B549F-DFB2-40DF-9569-851C4630DEBA</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>68B4F4E1-2A2D-4AF0-B13F-AF3FB903C3D1</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Mina Abadir</string>
	<key>description</key>
	<string>ADN connector for Alfred</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Alphred</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<true/>
				<key>output</key>
				<integer>0</integer>
				<key>removeextension</key>
				<false/>
				<key>sticky</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>Alphred</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>AB1FD1B5-1AF6-4862-AC9B-0BC2545EBB25</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>plusspaces</key>
				<false/>
				<key>url</key>
				<string>http://bizmascot.co/alphred/</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>D377A772-EE8E-438F-BE01-7F031809BE0D</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>adnauth</string>
				<key>subtext</key>
				<string>Alphred Authenticate</string>
				<key>text</key>
				<string>Alphred</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>38A36222-C6CF-497A-870E-27552D6D6F30</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string>php -f post.php -- "{query}"</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>68B4F4E1-2A2D-4AF0-B13F-AF3FB903C3D1</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>adn</string>
				<key>runningsubtext</key>
				<string>Checking Status</string>
				<key>script</key>
				<string>php -f adn.php -- "{query}"</string>
				<key>subtext</key>
				<string>Post to ADN</string>
				<key>title</key>
				<string>Alphred</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>E95B549F-DFB2-40DF-9569-851C4630DEBA</string>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>38A36222-C6CF-497A-870E-27552D6D6F30</key>
		<dict>
			<key>ypos</key>
			<real>140</real>
		</dict>
		<key>68B4F4E1-2A2D-4AF0-B13F-AF3FB903C3D1</key>
		<dict>
			<key>ypos</key>
			<real>20</real>
		</dict>
		<key>AB1FD1B5-1AF6-4862-AC9B-0BC2545EBB25</key>
		<dict>
			<key>ypos</key>
			<real>20</real>
		</dict>
		<key>D377A772-EE8E-438F-BE01-7F031809BE0D</key>
		<dict>
			<key>ypos</key>
			<real>140</real>
		</dict>
		<key>E95B549F-DFB2-40DF-9569-851C4630DEBA</key>
		<dict>
			<key>ypos</key>
			<real>20</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>http://mina.abadir.co</string>
</dict>
</plist>
