<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>jc-weather</string>
	<key>connections</key>
	<dict>
		<key>0C275773-C2F3-45CA-8E57-F8698A26F241</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>8AA393E3-0A37-4352-A575-B21BD481C799</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>0FFDC898-D6CF-4099-BCD9-B5B9E435BA99</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>BD0C7806-1EA7-4694-8940-66242272429B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>4E09B635-A23C-4B94-99CB-6731C9B0A6E6</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D83AF686-44AA-46E2-B388-7C9C53F30930</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>56D645A1-ACFA-4A97-B9A4-20DDBB3C0B35</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>BDD3FAD2-F38F-4D02-94FA-C19E50918067</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>6CBAC160-13E0-4F68-9AA8-73D018A3D6B8</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F41F0372-A249-4877-91B9-7501F58F9B18</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>8AA393E3-0A37-4352-A575-B21BD481C799</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>DB890638-F8DB-4DC7-A1DA-DEB5168CAA46</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>BC2E4EDA-3EF7-4FF4-9708-BD60C615F674</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F9CE0791-C2A1-4E61-B879-54AD16FDD744</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>BD0C7806-1EA7-4694-8940-66242272429B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>DB890638-F8DB-4DC7-A1DA-DEB5168CAA46</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>BDD3FAD2-F38F-4D02-94FA-C19E50918067</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>DB890638-F8DB-4DC7-A1DA-DEB5168CAA46</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>DC617D32-E820-4B44-A64B-DAA07CF51E37</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>EF234458-4C48-4330-8AE2-D4A7BC845300</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>EF234458-4C48-4330-8AE2-D4A7BC845300</key>
		<array/>
		<key>F41F0372-A249-4877-91B9-7501F58F9B18</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>DB890638-F8DB-4DC7-A1DA-DEB5168CAA46</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>F9CE0791-C2A1-4E61-B879-54AD16FDD744</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>DB890638-F8DB-4DC7-A1DA-DEB5168CAA46</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Jason Cheatham</string>
	<key>description</key>
	<string>Show weather forecasts</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Weather</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>62</integer>
				<key>script</key>
				<string>import alfred_weather
alfred_weather.do('location', '{query}')</string>
				<key>type</key>
				<integer>3</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>BDD3FAD2-F38F-4D02-94FA-C19E50918067</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>63</integer>
				<key>keyword</key>
				<string>wset service</string>
				<key>script</key>
				<string>import alfred_weather
alfred_weather.tell('service', '{query}')</string>
				<key>subtext</key>
				<string>Select your preferred weather provider; optionally specify a key</string>
				<key>title</key>
				<string>service</string>
				<key>type</key>
				<integer>3</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>0C275773-C2F3-45CA-8E57-F8698A26F241</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>63</integer>
				<key>script</key>
				<string>import alfred_weather
alfred_weather.do('days', '{query}')</string>
				<key>type</key>
				<integer>3</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>F41F0372-A249-4877-91B9-7501F58F9B18</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>weather</string>
				<key>runningsubtext</key>
				<string>Loading...</string>
				<key>script</key>
				<string>import alfred_weather
alfred_weather.tell('weather', '{query}')</string>
				<key>subtext</key>
				<string>Show current conditions and forecast (location optional)</string>
				<key>title</key>
				<string>Weather</string>
				<key>type</key>
				<integer>3</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>4E09B635-A23C-4B94-99CB-6731C9B0A6E6</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>63</integer>
				<key>script</key>
				<string>import alfred_weather
alfred_weather.do('icons', '{query}')</string>
				<key>type</key>
				<integer>3</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>BD0C7806-1EA7-4694-8940-66242272429B</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>output</key>
				<integer>0</integer>
				<key>removeextension</key>
				<false/>
				<key>sticky</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>Weather</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>DB890638-F8DB-4DC7-A1DA-DEB5168CAA46</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>63</integer>
				<key>script</key>
				<string>import alfred_weather
alfred_weather.do('service', '{query}')</string>
				<key>type</key>
				<integer>3</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>8AA393E3-0A37-4352-A575-B21BD481C799</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>escaping</key>
				<integer>63</integer>
				<key>keyword</key>
				<string>wset icons</string>
				<key>script</key>
				<string>import alfred_weather
alfred_weather.tell('icons')</string>
				<key>subtext</key>
				<string>Choose an icon set</string>
				<key>title</key>
				<string>icons</string>
				<key>type</key>
				<integer>3</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>0FFDC898-D6CF-4099-BCD9-B5B9E435BA99</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>63</integer>
				<key>script</key>
				<string>import alfred_weather
alfred_weather.do('units', '{query}')</string>
				<key>type</key>
				<integer>3</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>F9CE0791-C2A1-4E61-B879-54AD16FDD744</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>plusspaces</key>
				<false/>
				<key>url</key>
				<string>{query}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>EF234458-4C48-4330-8AE2-D4A7BC845300</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>63</integer>
				<key>keyword</key>
				<string>wset days</string>
				<key>script</key>
				<string>import alfred_weather
alfred_weather.tell('days', '{query}')</string>
				<key>subtext</key>
				<string>Set the number of forecast days</string>
				<key>title</key>
				<string>days</string>
				<key>type</key>
				<integer>3</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>6CBAC160-13E0-4F68-9AA8-73D018A3D6B8</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>plusspaces</key>
				<false/>
				<key>url</key>
				<string>{query}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>D83AF686-44AA-46E2-B388-7C9C53F30930</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>wset location</string>
				<key>runningsubtext</key>
				<string>Loading...</string>
				<key>script</key>
				<string>import alfred_weather
alfred_weather.tell('location', '{query}')</string>
				<key>subtext</key>
				<string>Set your default location; enter a ZIP code or city name</string>
				<key>title</key>
				<string>location</string>
				<key>type</key>
				<integer>3</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>56D645A1-ACFA-4A97-B9A4-20DDBB3C0B35</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>63</integer>
				<key>keyword</key>
				<string>wset units</string>
				<key>script</key>
				<string>import alfred_weather
alfred_weather.tell('units', '{query}')</string>
				<key>subtext</key>
				<string>Choose your preferred unit system</string>
				<key>title</key>
				<string>units</string>
				<key>type</key>
				<integer>3</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>BC2E4EDA-3EF7-4FF4-9708-BD60C615F674</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>63</integer>
				<key>keyword</key>
				<string>wset getkey</string>
				<key>script</key>
				<string>import alfred_weather
alfred_weather.tell('key', '{query}')</string>
				<key>subtext</key>
				<string>Get an API key for a weather provider</string>
				<key>title</key>
				<string>getkey</string>
				<key>type</key>
				<integer>3</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>DC617D32-E820-4B44-A64B-DAA07CF51E37</string>
		</dict>
	</array>
	<key>readme</key>
	<string>This workflow is based on David Ferguson's Weather workflow. It includes icon sets from the Weather Underground and from weathericonsets.com.</string>
	<key>uidata</key>
	<dict>
		<key>0C275773-C2F3-45CA-8E57-F8698A26F241</key>
		<dict>
			<key>ypos</key>
			<real>370</real>
		</dict>
		<key>0FFDC898-D6CF-4099-BCD9-B5B9E435BA99</key>
		<dict>
			<key>ypos</key>
			<real>250</real>
		</dict>
		<key>4E09B635-A23C-4B94-99CB-6731C9B0A6E6</key>
		<dict>
			<key>ypos</key>
			<real>610</real>
		</dict>
		<key>56D645A1-ACFA-4A97-B9A4-20DDBB3C0B35</key>
		<dict>
			<key>ypos</key>
			<real>130</real>
		</dict>
		<key>6CBAC160-13E0-4F68-9AA8-73D018A3D6B8</key>
		<dict>
			<key>ypos</key>
			<real>490</real>
		</dict>
		<key>8AA393E3-0A37-4352-A575-B21BD481C799</key>
		<dict>
			<key>ypos</key>
			<real>370</real>
		</dict>
		<key>BC2E4EDA-3EF7-4FF4-9708-BD60C615F674</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>BD0C7806-1EA7-4694-8940-66242272429B</key>
		<dict>
			<key>ypos</key>
			<real>250</real>
		</dict>
		<key>BDD3FAD2-F38F-4D02-94FA-C19E50918067</key>
		<dict>
			<key>ypos</key>
			<real>130</real>
		</dict>
		<key>D83AF686-44AA-46E2-B388-7C9C53F30930</key>
		<dict>
			<key>ypos</key>
			<real>610</real>
		</dict>
		<key>DB890638-F8DB-4DC7-A1DA-DEB5168CAA46</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>DC617D32-E820-4B44-A64B-DAA07CF51E37</key>
		<dict>
			<key>ypos</key>
			<real>730</real>
		</dict>
		<key>EF234458-4C48-4330-8AE2-D4A7BC845300</key>
		<dict>
			<key>ypos</key>
			<real>730</real>
		</dict>
		<key>F41F0372-A249-4877-91B9-7501F58F9B18</key>
		<dict>
			<key>ypos</key>
			<real>490</real>
		</dict>
		<key>F9CE0791-C2A1-4E61-B879-54AD16FDD744</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>https://github.com/jason0x43/jc-weather</string>
</dict>
</plist>
