<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string></string>
	<key>connections</key>
	<dict>
		<key>13B6CFF6-AB27-4934-92B1-AA290E63AF93</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>FE48BE9F-8CD0-442D-A4CD-71E545104B23</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>2B4DEDDD-2AA0-4C7F-94A2-E6B399A900B9</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>FE48BE9F-8CD0-442D-A4CD-71E545104B23</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>50C7835B-93A6-43A4-88E5-A1FD257A38C1</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>FE48BE9F-8CD0-442D-A4CD-71E545104B23</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>A2A0A287-0C74-4968-AA52-092D3F5E25FC</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>FE48BE9F-8CD0-442D-A4CD-71E545104B23</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>BA178525-ABC7-47B0-B553-8A9A96365FBE</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>FE48BE9F-8CD0-442D-A4CD-71E545104B23</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>pi1ot</string>
	<key>description</key>
	<string>Search Tools for News, Zhihu, Weibo, Wiki, Google...</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Search Tools</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>63</integer>
				<key>keyword</key>
				<string>k</string>
				<key>script</key>
				<string>python search.py wiki {query}</string>
				<key>title</key>
				<string>Search Wiki for {query}...</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>BA178525-ABC7-47B0-B553-8A9A96365FBE</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>63</integer>
				<key>keyword</key>
				<string>n</string>
				<key>script</key>
				<string>python search.py sina {query}</string>
				<key>title</key>
				<string>Search Sina News for {query}...</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>13B6CFF6-AB27-4934-92B1-AA290E63AF93</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>63</integer>
				<key>keyword</key>
				<string>w</string>
				<key>script</key>
				<string>python search.py weibo {query}</string>
				<key>title</key>
				<string>Search Weibo for {query}...</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>50C7835B-93A6-43A4-88E5-A1FD257A38C1</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>63</integer>
				<key>keyword</key>
				<string>z</string>
				<key>script</key>
				<string>python search.py zhihu {query}</string>
				<key>title</key>
				<string>Search Zhihu for {query}...</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>2B4DEDDD-2AA0-4C7F-94A2-E6B399A900B9</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>63</integer>
				<key>keyword</key>
				<string>g</string>
				<key>script</key>
				<string>python search.py google {query}</string>
				<key>title</key>
				<string>Search Google for {query}...</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>A2A0A287-0C74-4968-AA52-092D3F5E25FC</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>plusspaces</key>
				<false/>
				<key>url</key>
				<string>{query}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>FE48BE9F-8CD0-442D-A4CD-71E545104B23</string>
		</dict>
	</array>
	<key>readme</key>
	<string>v0.1</string>
	<key>uidata</key>
	<dict>
		<key>13B6CFF6-AB27-4934-92B1-AA290E63AF93</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>2B4DEDDD-2AA0-4C7F-94A2-E6B399A900B9</key>
		<dict>
			<key>ypos</key>
			<real>130</real>
		</dict>
		<key>50C7835B-93A6-43A4-88E5-A1FD257A38C1</key>
		<dict>
			<key>ypos</key>
			<real>250</real>
		</dict>
		<key>A2A0A287-0C74-4968-AA52-092D3F5E25FC</key>
		<dict>
			<key>ypos</key>
			<real>490</real>
		</dict>
		<key>BA178525-ABC7-47B0-B553-8A9A96365FBE</key>
		<dict>
			<key>ypos</key>
			<real>370</real>
		</dict>
		<key>FE48BE9F-8CD0-442D-A4CD-71E545104B23</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>weibo.com/pi1ot</string>
</dict>
</plist>
