<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>pi1ot.searchtools</string>
	<key>connections</key>
	<dict>
		<key>13B6CFF6-AB27-4934-92B1-AA290E63AF93</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>FE48BE9F-8CD0-442D-A4CD-71E545104B23</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>20000100-1BDB-4B24-9F6E-D7194038EC99</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>FE48BE9F-8CD0-442D-A4CD-71E545104B23</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>2B4DEDDD-2AA0-4C7F-94A2-E6B399A900B9</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>FE48BE9F-8CD0-442D-A4CD-71E545104B23</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>50C7835B-93A6-43A4-88E5-A1FD257A38C1</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>FE48BE9F-8CD0-442D-A4CD-71E545104B23</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>81705C6C-95CA-474A-9DE4-4667113EAB65</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>FE48BE9F-8CD0-442D-A4CD-71E545104B23</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>948ECBA7-261A-4F0B-B39E-4923BF484583</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>FE48BE9F-8CD0-442D-A4CD-71E545104B23</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>A2A0A287-0C74-4968-AA52-092D3F5E25FC</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>FE48BE9F-8CD0-442D-A4CD-71E545104B23</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>BA178525-ABC7-47B0-B553-8A9A96365FBE</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>FE48BE9F-8CD0-442D-A4CD-71E545104B23</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>pi1ot</string>
	<key>description</key>
	<string>国人搜索工具包，支持谷歌、维基、微博、知乎、必应、新浪新闻、IMFDB等，详见Readme</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Search Tools</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>63</integer>
				<key>keyword</key>
				<string>n</string>
				<key>runningsubtext</key>
				<string>Searching {query} ...</string>
				<key>script</key>
				<string>python search.py sina {query}</string>
				<key>title</key>
				<string>Search Sina News for {query}</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>13B6CFF6-AB27-4934-92B1-AA290E63AF93</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>63</integer>
				<key>keyword</key>
				<string>z</string>
				<key>runningsubtext</key>
				<string>Searching {query} ...</string>
				<key>script</key>
				<string>python search.py zhihu {query}</string>
				<key>title</key>
				<string>Search Zhihu for {query}</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>2B4DEDDD-2AA0-4C7F-94A2-E6B399A900B9</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>63</integer>
				<key>keyword</key>
				<string>w</string>
				<key>runningsubtext</key>
				<string>Searching {query} ...</string>
				<key>script</key>
				<string>python search.py weibo {query}</string>
				<key>title</key>
				<string>Search Weibo for {query}</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>50C7835B-93A6-43A4-88E5-A1FD257A38C1</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>63</integer>
				<key>keyword</key>
				<string>k</string>
				<key>runningsubtext</key>
				<string>Searching {query} ...</string>
				<key>script</key>
				<string>python search.py wiki {query}</string>
				<key>title</key>
				<string>Search Wiki for {query}</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>BA178525-ABC7-47B0-B553-8A9A96365FBE</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>plusspaces</key>
				<false/>
				<key>url</key>
				<string>{query}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>FE48BE9F-8CD0-442D-A4CD-71E545104B23</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>63</integer>
				<key>keyword</key>
				<string>gg</string>
				<key>runningsubtext</key>
				<string>Searching {query} ...</string>
				<key>script</key>
				<string>python search.py google {query}</string>
				<key>title</key>
				<string>Search Google for {query}</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>A2A0A287-0C74-4968-AA52-092D3F5E25FC</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>127</integer>
				<key>keyword</key>
				<string>imf</string>
				<key>runningsubtext</key>
				<string>searching {query} ...</string>
				<key>script</key>
				<string>python search.py imfdb {query}</string>
				<key>title</key>
				<string>Search IMFDB for {query}</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>948ECBA7-261A-4F0B-B39E-4923BF484583</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>127</integer>
				<key>keyword</key>
				<string>g</string>
				<key>script</key>
				<string>python search.py suggest {query}</string>
				<key>subtext</key>
				<string>searching {query} ...</string>
				<key>title</key>
				<string>Google Suggest for {query}</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>81705C6C-95CA-474A-9DE4-4667113EAB65</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>127</integer>
				<key>keyword</key>
				<string>b</string>
				<key>script</key>
				<string>python search.py bing {query}</string>
				<key>subtext</key>
				<string>searching {query} ...</string>
				<key>title</key>
				<string>Bing Suggest for {query}</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>20000100-1BDB-4B24-9F6E-D7194038EC99</string>
		</dict>
	</array>
	<key>readme</key>
	<string>谷歌(g)、维基百科(k)、微博(w)、知乎(z)、必应(b)、新浪新闻(n)、IMFDB(imf)的实时搜索工具，括号中为默认热键

google和wikipedia接口默认通过本地goagent代理（127.0.0.1:8087）和HTTPS访问，若需修改请编辑search.py中set_proxy()函数

因谷歌、微博、知乎未提供不限流量可匿名访问的API，故其结果均为解析HTML输出而得，若有改版可能失效

v0.7.1
*知乎搜索升级

v0.7
*增加必应搜索suggest功能，搜索结果仍使用谷歌
*为提高响应速度谷歌搜索功能改用google suggest结果
*原谷歌搜索实时结果热键改为(gg)

v0.6
*增加IMFDB搜索功能
*增加无结果提示</string>
	<key>uidata</key>
	<dict>
		<key>13B6CFF6-AB27-4934-92B1-AA290E63AF93</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>20000100-1BDB-4B24-9F6E-D7194038EC99</key>
		<dict>
			<key>ypos</key>
			<real>850</real>
		</dict>
		<key>2B4DEDDD-2AA0-4C7F-94A2-E6B399A900B9</key>
		<dict>
			<key>ypos</key>
			<real>130</real>
		</dict>
		<key>50C7835B-93A6-43A4-88E5-A1FD257A38C1</key>
		<dict>
			<key>ypos</key>
			<real>250</real>
		</dict>
		<key>81705C6C-95CA-474A-9DE4-4667113EAB65</key>
		<dict>
			<key>ypos</key>
			<real>730</real>
		</dict>
		<key>948ECBA7-261A-4F0B-B39E-4923BF484583</key>
		<dict>
			<key>ypos</key>
			<real>610</real>
		</dict>
		<key>A2A0A287-0C74-4968-AA52-092D3F5E25FC</key>
		<dict>
			<key>ypos</key>
			<real>490</real>
		</dict>
		<key>BA178525-ABC7-47B0-B553-8A9A96365FBE</key>
		<dict>
			<key>ypos</key>
			<real>370</real>
		</dict>
		<key>FE48BE9F-8CD0-442D-A4CD-71E545104B23</key>
		<dict>
			<key>ypos</key>
			<real>370</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>weibo.com/pi1ot</string>
</dict>
</plist>
