<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.xirong.workflow.ebooks</string>
	<key>category</key>
	<string>Productivity</string>
	<key>connections</key>
	<dict>
		<key>6E4EEBD5-0AB8-4986-8EC0-1CD707F41689</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>564D3D46-379B-476F-819C-1D9499563305</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>11D5721D-E45C-4D45-82C8-2CC370002271</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>72DBD84C-E25C-47FC-8199-5B43B06A52FC</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>20FA8D81-0D21-4DAC-8C87-2C650A087C62</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>05EE9295-C29C-43FA-BB33-203E7F910A31</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>A5BD550A-1ADD-47AC-AB5F-F0C90C51616E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>6797FC33-1F70-44A8-8746-A543EDC785C3</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>xirong</string>
	<key>description</key>
	<string>多看、豆瓣、京东、亚马逊、当当、百度、苏宁、it ebooks搜索电子书</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>搜索电子书</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>plusspaces</key>
				<false/>
				<key>url</key>
				<string>http://yuedu.baidu.com/search?word={query}&amp;pbook=0</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>564D3D46-379B-476F-819C-1D9499563305</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>ebook</string>
				<key>subtext</key>
				<string>search ebooks on 多看、京东、当当 etc</string>
				<key>text</key>
				<string>ebook</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>6E4EEBD5-0AB8-4986-8EC0-1CD707F41689</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>plusspaces</key>
				<false/>
				<key>url</key>
				<string>https://www.google.com/cse?cx=013493258683483688568:xhfa6ctm1ki&amp;q=jquery#gsc.tab=0&amp;gsc.q={query}&amp;gsc.page=1</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>11D5721D-E45C-4D45-82C8-2CC370002271</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>plusspaces</key>
				<false/>
				<key>url</key>
				<string>http://search.e.jd.com/searchDigitalBook?ajaxSearch=0&amp;enc=utf-8&amp;key={query}&amp;page=1</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>72DBD84C-E25C-47FC-8199-5B43B06A52FC</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>plusspaces</key>
				<false/>
				<key>url</key>
				<string>http://www.duokan.com/search/{query}/1</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>20FA8D81-0D21-4DAC-8C87-2C650A087C62</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>plusspaces</key>
				<false/>
				<key>url</key>
				<string>http://www.amazon.cn/s/ref=nb_sb_noss_1?__mk_zh_CN=%E4%BA%9A%E9%A9%AC%E9%80%8A%E7%BD%91%E7%AB%99&amp;url=node%3D116169071&amp;field-keywords={query}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>05EE9295-C29C-43FA-BB33-203E7F910A31</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>plusspaces</key>
				<false/>
				<key>url</key>
				<string>http://read.douban.com/search?q={query}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>A5BD550A-1ADD-47AC-AB5F-F0C90C51616E</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>plusspaces</key>
				<false/>
				<key>url</key>
				<string>http://snbook.suning.com/web/search.do?keywords={query}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>6797FC33-1F70-44A8-8746-A543EDC785C3</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>当我想要阅读一本书籍的时候，我第一反应就是去找电子书，如果实在没有，才去买纸质版的书籍，所以找寻电子书也是一个费时间的工程。现在这个workflow，只需要你填写书名，回车后将会在各个电子书市场进行搜索查询，目前包括多看、豆瓣、京东、亚马逊、当当、百度、苏宁、it ebooks搜索电子书</string>
	<key>uidata</key>
	<dict>
		<key>05EE9295-C29C-43FA-BB33-203E7F910A31</key>
		<dict>
			<key>ypos</key>
			<real>400</real>
		</dict>
		<key>11D5721D-E45C-4D45-82C8-2CC370002271</key>
		<dict>
			<key>ypos</key>
			<real>100</real>
		</dict>
		<key>20FA8D81-0D21-4DAC-8C87-2C650A087C62</key>
		<dict>
			<key>ypos</key>
			<real>300</real>
		</dict>
		<key>564D3D46-379B-476F-819C-1D9499563305</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>6797FC33-1F70-44A8-8746-A543EDC785C3</key>
		<dict>
			<key>ypos</key>
			<real>590</real>
		</dict>
		<key>6E4EEBD5-0AB8-4986-8EC0-1CD707F41689</key>
		<dict>
			<key>ypos</key>
			<real>60</real>
		</dict>
		<key>72DBD84C-E25C-47FC-8199-5B43B06A52FC</key>
		<dict>
			<key>ypos</key>
			<real>200</real>
		</dict>
		<key>A5BD550A-1ADD-47AC-AB5F-F0C90C51616E</key>
		<dict>
			<key>ypos</key>
			<real>490</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>www.ixirong.com</string>
</dict>
</plist>
