<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>axelpeigne.openiniron</string>
	<key>connections</key>
	<dict>
		<key>54EF88B1-17A5-4859-A449-6AB2D7E1B6DC</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D007E26E-7388-4088-9CF3-E7EF2C7B5676</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>AECAFE99-E0FC-41D3-B39D-2444C2FA8B18</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D007E26E-7388-4088-9CF3-E7EF2C7B5676</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>D007E26E-7388-4088-9CF3-E7EF2C7B5676</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>8127B9A1-8B18-4E8D-88F8-9B6086A5C20D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Axel Peigné</string>
	<key>description</key>
	<string>Opens the current Safari tab in Iron</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Open in Iron</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<true/>
				<key>onlyshowifquerypopulated</key>
				<true/>
				<key>output</key>
				<integer>0</integer>
				<key>removeextension</key>
				<true/>
				<key>sticky</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>Open in Chrome</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>8127B9A1-8B18-4E8D-88F8-9B6086A5C20D</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>54EF88B1-17A5-4859-A449-6AB2D7E1B6DC</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>38</integer>
				<key>script</key>
				<string>osascript open_in_iron.scpt</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>D007E26E-7388-4088-9CF3-E7EF2C7B5676</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>openiniron</string>
				<key>subtext</key>
				<string>Open current Safari tab in SRWare Iron</string>
				<key>text</key>
				<string>Open in Iron</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>AECAFE99-E0FC-41D3-B39D-2444C2FA8B18</string>
		</dict>
	</array>
	<key>readme</key>
	<string>Based on Andrew's workflow that was doing the same but for Chrome. Modified to be used for SRWare Iron.</string>
	<key>uidata</key>
	<dict>
		<key>54EF88B1-17A5-4859-A449-6AB2D7E1B6DC</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>8127B9A1-8B18-4E8D-88F8-9B6086A5C20D</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>AECAFE99-E0FC-41D3-B39D-2444C2FA8B18</key>
		<dict>
			<key>ypos</key>
			<real>160</real>
		</dict>
		<key>D007E26E-7388-4088-9CF3-E7EF2C7B5676</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>http://www.alfredforum.com/topic/1875-open-current-safari-tab-in-chrome-improved/</string>
</dict>
</plist>
