<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.creturn.alfred.tieba</string>
	<key>connections</key>
	<dict>
		<key>EA967C1D-5043-4BC9-A024-FBB0B9917B0E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>AE628443-0B0A-4BB7-AE74-765EE27AC997</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Creturn</string>
	<key>description</key>
	<string>贴吧，更精确</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>MyTieba</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>63</integer>
				<key>keyword</key>
				<string>b</string>
				<key>runningsubtext</key>
				<string>请稍等...</string>
				<key>script</key>
				<string>require_once('mytieba.php');

echo App::getInstance()-&gt;run('{query}');</string>
				<key>subtext</key>
				<string>输入贴吧名称</string>
				<key>title</key>
				<string>贴吧</string>
				<key>type</key>
				<integer>1</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>EA967C1D-5043-4BC9-A024-FBB0B9917B0E</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>plusspaces</key>
				<false/>
				<key>url</key>
				<string>{query}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>AE628443-0B0A-4BB7-AE74-765EE27AC997</string>
		</dict>
	</array>
	<key>readme</key>
	<string>有什么问题，可以直接联系我，我的博客上有我的联系方式。
Blog: www.creturn.com</string>
	<key>uidata</key>
	<dict>
		<key>AE628443-0B0A-4BB7-AE74-765EE27AC997</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>EA967C1D-5043-4BC9-A024-FBB0B9917B0E</key>
		<dict>
			<key>ypos</key>
			<real>120</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>http://www.creturn.com</string>
</dict>
</plist>
