<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string></string>
	<key>connections</key>
	<dict>
		<key>12224194-80CC-4766-BCE5-5589C304FA1D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A8553578-4992-4C43-9EC9-CEEE7F182F9E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>A8553578-4992-4C43-9EC9-CEEE7F182F9E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>6D243EA1-966C-4CCD-AE1C-5C704524CA0C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>B97507B5-FD53-4476-A2A7-D8AA835B59C5</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A8553578-4992-4C43-9EC9-CEEE7F182F9E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>PSiCKo</string>
	<key>description</key>
	<string>Desinstalar Apps, plugins o widgets con AppCleaner</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Desinstalar con AppCleaner</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>anchorfields</key>
				<true/>
				<key>daterange</key>
				<integer>0</integer>
				<key>fields</key>
				<array>
					<dict>
						<key>field</key>
						<string>kMDItemDisplayName</string>
						<key>not</key>
						<false/>
						<key>split</key>
						<true/>
						<key>value</key>
						<string>{query}</string>
						<key>words</key>
						<true/>
					</dict>
					<dict>
						<key>field</key>
						<string>kMDItemAlternateNames</string>
						<key>not</key>
						<false/>
						<key>split</key>
						<true/>
						<key>value</key>
						<string>{query}</string>
						<key>words</key>
						<true/>
					</dict>
					<dict>
						<key>field</key>
						<string>kMDItemFinderComment</string>
						<key>not</key>
						<false/>
						<key>split</key>
						<true/>
						<key>value</key>
						<string>{query}</string>
						<key>words</key>
						<true/>
					</dict>
				</array>
				<key>includesystem</key>
				<false/>
				<key>keyword</key>
				<string>appcleaner</string>
				<key>scopes</key>
				<array/>
				<key>title</key>
				<string>Desinstalar con AppCleaner</string>
				<key>types</key>
				<array>
					<string>com.apple.application-bundle</string>
					<string>com.apple.dashboard-widget</string>
					<string>com.apple.plugin</string>
				</array>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.filefilter</string>
			<key>uid</key>
			<string>12224194-80CC-4766-BCE5-5589C304FA1D</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>127</integer>
				<key>script</key>
				<string>open -a AppCleaner {query}</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>A8553578-4992-4C43-9EC9-CEEE7F182F9E</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>output</key>
				<integer>0</integer>
				<key>removeextension</key>
				<false/>
				<key>sticky</key>
				<false/>
				<key>text</key>
				<string>Desinstalación preparada. Presione "Borrar" para proceder o "Cancelar" para abortar</string>
				<key>title</key>
				<string>AppCleaner</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>6D243EA1-966C-4CCD-AE1C-5C704524CA0C</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>acceptsmulti</key>
				<false/>
				<key>filetypes</key>
				<array>
					<string>com.apple.application-bundle</string>
					<string>com.apple.dashboard-widget</string>
					<string>com.apple.plugin</string>
				</array>
				<key>name</key>
				<string>AppCleaner</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.action</string>
			<key>uid</key>
			<string>B97507B5-FD53-4476-A2A7-D8AA835B59C5</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>12224194-80CC-4766-BCE5-5589C304FA1D</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>6D243EA1-966C-4CCD-AE1C-5C704524CA0C</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>A8553578-4992-4C43-9EC9-CEEE7F182F9E</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>B97507B5-FD53-4476-A2A7-D8AA835B59C5</key>
		<dict>
			<key>ypos</key>
			<real>210</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
