<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.visioncan.ntdexchange</string>
	<key>connections</key>
	<dict>
		<key>89F5A790-7A32-4536-A30C-C565DBEFE207</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B2111104-99E1-4FBF-BC6F-13AE97C91C41</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>D13484A5-ECF5-4F64-BF41-BDD50F20A4B4</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>83642036-249B-479B-AA90-E421BC55DF87</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>4D3BC58F-CAB1-4EA1-9AD3-D6E3B779A5F8</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>visioncan</string>
	<key>description</key>
	<string>Fetch NTD Foreign Exchange Rate from Bank Of Taiwan</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>NTD Exchange Rate</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>escaping</key>
				<integer>63</integer>
				<key>keyword</key>
				<string>ntd</string>
				<key>runningsubtext</key>
				<string>Loading...</string>
				<key>script</key>
				<string>require_once('NTDExchangeRate.php');
$ex = new NTDExchangeRate();
$ex -&gt;pxml();</string>
				<key>subtext</key>
				<string>NTD Foreign Exchange Rate</string>
				<key>title</key>
				<string>新台幣兌各國匯率</string>
				<key>type</key>
				<integer>1</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>D13484A5-ECF5-4F64-BF41-BDD50F20A4B4</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>83642036-249B-479B-AA90-E421BC55DF87</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>output</key>
				<integer>0</integer>
				<key>removeextension</key>
				<false/>
				<key>sticky</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>已將匯率拷貝到剪貼簿</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>4D3BC58F-CAB1-4EA1-9AD3-D6E3B779A5F8</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>plusspaces</key>
				<false/>
				<key>url</key>
				<string>{query}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>B2111104-99E1-4FBF-BC6F-13AE97C91C41</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>63</integer>
				<key>keyword</key>
				<string>ntd</string>
				<key>runningsubtext</key>
				<string>Loading...</string>
				<key>script</key>
				<string>require_once('NTDExchangeRate.php');
$ex = new NTDExchangeRate({query});
$ex -&gt;pxml();</string>
				<key>subtext</key>
				<string>Historical Foreign Exchange Rate</string>
				<key>title</key>
				<string>單一幣別歷史匯率</string>
				<key>type</key>
				<integer>1</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>89F5A790-7A32-4536-A30C-C565DBEFE207</string>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>4D3BC58F-CAB1-4EA1-9AD3-D6E3B779A5F8</key>
		<dict>
			<key>ypos</key>
			<real>220</real>
		</dict>
		<key>83642036-249B-479B-AA90-E421BC55DF87</key>
		<dict>
			<key>ypos</key>
			<real>80</real>
		</dict>
		<key>89F5A790-7A32-4536-A30C-C565DBEFE207</key>
		<dict>
			<key>ypos</key>
			<real>220</real>
		</dict>
		<key>B2111104-99E1-4FBF-BC6F-13AE97C91C41</key>
		<dict>
			<key>ypos</key>
			<real>220</real>
		</dict>
		<key>D13484A5-ECF5-4F64-BF41-BDD50F20A4B4</key>
		<dict>
			<key>ypos</key>
			<real>80</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>blog.visioncan.com</string>
</dict>
</plist>
