<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.mikomagni.trello</string>
	<key>connections</key>
	<dict>
		<key>0442D773-2E45-40E3-B79E-6879C09EDCB8</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>BBAACDB8-006A-4F21-832F-16FA411C1103</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>BB4FCEDA-A055-4022-BE05-A9D2E24CFB9E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>BCBEF829-5790-415C-B492-BE2D0DFAEB63</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>BBAACDB8-006A-4F21-832F-16FA411C1103</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>BD2245DE-C519-47BB-9947-BE1A44C7C54F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>CBFD6A75-F1D3-4ECA-8361-7B7121031C42</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>BB4FCEDA-A055-4022-BE05-A9D2E24CFB9E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>ECF7FEF5-2936-4D18-81AA-16698BF190DC</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>BB4FCEDA-A055-4022-BE05-A9D2E24CFB9E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Tom Longo &amp; Miko Magni</string>
	<key>description</key>
	<string>Use keyword "trello" to create a card in Trello.</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Alfred for Trello</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>1</integer>
				<key>argumenttext</key>
				<string>trello</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>ECF7FEF5-2936-4D18-81AA-16698BF190DC</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>trello</string>
				<key>subtext</key>
				<string>Add a card to Trello</string>
				<key>text</key>
				<string>Trello</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>CBFD6A75-F1D3-4ECA-8361-7B7121031C42</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>plusspaces</key>
				<false/>
				<key>url</key>
				<string>https://trello.com/1/connect?key=1433c6977ccb78cd82e29a5455a24815&amp;name=Trello%20for%20Alfred&amp;response_type=token&amp;scope=read,write&amp;expiration=never</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>BBAACDB8-006A-4F21-832F-16FA411C1103</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<true/>
				<key>output</key>
				<integer>0</integer>
				<key>removeextension</key>
				<false/>
				<key>sticky</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>Trello</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>BCBEF829-5790-415C-B492-BE2D0DFAEB63</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>jello</string>
				<key>subtext</key>
				<string>Authorise Trello for Alfred to use your Trello account.</string>
				<key>text</key>
				<string>Trello setup</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>0442D773-2E45-40E3-B79E-6879C09EDCB8</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>output</key>
				<integer>0</integer>
				<key>removeextension</key>
				<false/>
				<key>sticky</key>
				<false/>
				<key>text</key>
				<string>Let Trello for Alfred use your account?</string>
				<key>title</key>
				<string>Trello</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>BD2245DE-C519-47BB-9947-BE1A44C7C54F</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>63</integer>
				<key>script</key>
				<string># VERSION 1.0b

token='' 
boardid=''
listname=''

php -f script.php -- "${token};${boardid};${listname};{query}"</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>BB4FCEDA-A055-4022-BE05-A9D2E24CFB9E</string>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>0442D773-2E45-40E3-B79E-6879C09EDCB8</key>
		<dict>
			<key>ypos</key>
			<real>430</real>
		</dict>
		<key>BB4FCEDA-A055-4022-BE05-A9D2E24CFB9E</key>
		<dict>
			<key>ypos</key>
			<real>130</real>
		</dict>
		<key>BBAACDB8-006A-4F21-832F-16FA411C1103</key>
		<dict>
			<key>ypos</key>
			<real>430</real>
		</dict>
		<key>BCBEF829-5790-415C-B492-BE2D0DFAEB63</key>
		<dict>
			<key>ypos</key>
			<real>130</real>
		</dict>
		<key>BD2245DE-C519-47BB-9947-BE1A44C7C54F</key>
		<dict>
			<key>ypos</key>
			<real>430</real>
		</dict>
		<key>CBFD6A75-F1D3-4ECA-8361-7B7121031C42</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>ECF7FEF5-2936-4D18-81AA-16698BF190DC</key>
		<dict>
			<key>ypos</key>
			<real>250</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>https://github.com/MikoMagni/Alfred-for-Trello</string>
</dict>
</plist>
