<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string></string>
	<key>connections</key>
	<dict>
		<key>0B0AF27B-CB87-465F-AB33-1FD50D27FBB9</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F931CD95-FA18-4DC6-933C-F043C555B11D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>14F97D40-DF8F-4CBA-B204-D5940204B665</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>FEC012DE-7B50-41ED-9B8D-5269166B8817</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>0B0AF27B-CB87-465F-AB33-1FD50D27FBB9</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Andy Matthews</string>
	<key>description</key>
	<string></string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Slugify Strings</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>output</key>
				<integer>0</integer>
				<key>removeextension</key>
				<false/>
				<key>sticky</key>
				<false/>
				<key>text</key>
				<string>String: {query}</string>
				<key>title</key>
				<string>You've been slugged</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>F931CD95-FA18-4DC6-933C-F043C555B11D</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string>python slugify.py "{query}"</string>
				<key>type</key>
				<integer>5</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>0B0AF27B-CB87-465F-AB33-1FD50D27FBB9</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>14F97D40-DF8F-4CBA-B204-D5940204B665</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>slug</string>
				<key>text</key>
				<string>Slugify {query}</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>FEC012DE-7B50-41ED-9B8D-5269166B8817</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>0B0AF27B-CB87-465F-AB33-1FD50D27FBB9</key>
		<dict>
			<key>ypos</key>
			<real>130</real>
		</dict>
		<key>14F97D40-DF8F-4CBA-B204-D5940204B665</key>
		<dict>
			<key>ypos</key>
			<real>130</real>
		</dict>
		<key>F931CD95-FA18-4DC6-933C-F043C555B11D</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>FEC012DE-7B50-41ED-9B8D-5269166B8817</key>
		<dict>
			<key>ypos</key>
			<real>340</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
