<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>dk.afogh.sickbeard</string>
	<key>connections</key>
	<dict>
		<key>0F129F78-B100-45A4-8A64-3AEC5B95CD71</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F171171F-A13B-4DDB-901A-09606365C843</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>2F6804F9-D6CD-4165-A83B-7C1F0B4398B5</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>FEC39194-E6C2-4850-92BB-A820624215F3</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>4571A665-A0EB-4CCC-8982-41F6A27E6B55</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F69B7FD6-4076-478B-86FB-6A07DC50B0A9</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>4F4D7DD5-FF70-4CB1-A724-218C58959251</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F171171F-A13B-4DDB-901A-09606365C843</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>585DD2CA-5F2A-4EF5-8A5E-A8AC286B395D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F171171F-A13B-4DDB-901A-09606365C843</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>619AEE4D-F741-4E68-9F16-44E8D5052114</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A83DD263-C8CE-48CE-89B5-2A8CA9EC2DBD</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>6ED4A637-E572-4C8A-A2D4-CCFAD34CC0B2</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F171171F-A13B-4DDB-901A-09606365C843</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>71B557EE-9202-4AE8-8ED8-A9B3E75E79C6</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F171171F-A13B-4DDB-901A-09606365C843</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>7F872FF5-7B92-4184-9FC4-55ED994A729A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E52B9A7F-3F5A-4FE6-8466-2BCA2EB40E88</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>862088B5-6084-4D82-A9E8-359B4F7B33F5</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>585DD2CA-5F2A-4EF5-8A5E-A8AC286B395D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>93ACF573-833C-46F5-AB75-B45C51E81376</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>0F129F78-B100-45A4-8A64-3AEC5B95CD71</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>9EF7EA88-37B8-4F99-AC58-625F15626B12</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>71B557EE-9202-4AE8-8ED8-A9B3E75E79C6</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>A83DD263-C8CE-48CE-89B5-2A8CA9EC2DBD</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E32E27CE-F1EA-4769-9322-762BDD32F5F4</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>B6D3FE5D-420B-4429-8D85-9C5ACF6505A4</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>6ED4A637-E572-4C8A-A2D4-CCFAD34CC0B2</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>D0703DF6-82CC-49E0-964D-D98D558F2602</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>ADD38226-8808-40EB-B70D-E7588F1E5E30</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>D59253EC-D4F7-4F96-87F0-32A75F3B4415</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>EDE29978-9E7D-47FB-BF7F-405C5B4C544A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>E402042D-907A-432F-94EB-08681400C93F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D59253EC-D4F7-4F96-87F0-32A75F3B4415</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>E52B9A7F-3F5A-4FE6-8466-2BCA2EB40E88</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F171171F-A13B-4DDB-901A-09606365C843</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>FE4AFD7B-CFC1-418F-80C0-0DEA7F909473</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>4F4D7DD5-FF70-4CB1-A724-218C58959251</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Anders Fogh Eriksen</string>
	<key>description</key>
	<string>Control Sickbeard</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Sickbeard</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string>from sickbeardAlfred import forced_search
forced_search()</string>
				<key>type</key>
				<integer>3</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>585DD2CA-5F2A-4EF5-8A5E-A8AC286B395D</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>4</integer>
				<key>script</key>
				<string>from sickbeardAlfred import open_showpage
open_showpage("{query}")</string>
				<key>type</key>
				<integer>3</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>F69B7FD6-4076-478B-86FB-6A07DC50B0A9</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string>from sickbeardAlfred import open_browser
open_browser()</string>
				<key>type</key>
				<integer>3</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>ADD38226-8808-40EB-B70D-E7588F1E5E30</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>sick api</string>
				<key>text</key>
				<string>Set the API key for Sickbeard</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>619AEE4D-F741-4E68-9F16-44E8D5052114</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>4</integer>
				<key>script</key>
				<string>from sickbeardAlfred import set_APIKey
set_APIKey("{query}")</string>
				<key>type</key>
				<integer>3</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>A83DD263-C8CE-48CE-89B5-2A8CA9EC2DBD</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>sick restart</string>
				<key>text</key>
				<string>Restart Sickbeard</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>B6D3FE5D-420B-4429-8D85-9C5ACF6505A4</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>sick version</string>
				<key>text</key>
				<string>Get the version of Sickbeard</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>FE4AFD7B-CFC1-418F-80C0-0DEA7F909473</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string>from sickbeardAlfred import shutdown
shutdown()</string>
				<key>type</key>
				<integer>3</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>71B557EE-9202-4AE8-8ED8-A9B3E75E79C6</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<true/>
				<key>output</key>
				<integer>0</integer>
				<key>removeextension</key>
				<false/>
				<key>sticky</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>Sickbeard</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>F171171F-A13B-4DDB-901A-09606365C843</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>sick shutdown</string>
				<key>text</key>
				<string>Shutdown Sickbeard</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>9EF7EA88-37B8-4F99-AC58-625F15626B12</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>4</integer>
				<key>script</key>
				<string>from sickbeardAlfred import add_show
add_show("{query}")</string>
				<key>type</key>
				<integer>3</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>0F129F78-B100-45A4-8A64-3AEC5B95CD71</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>sick</string>
				<key>text</key>
				<string>Open Sickbeard in browser</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>D0703DF6-82CC-49E0-964D-D98D558F2602</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>FEC39194-E6C2-4850-92BB-A820624215F3</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string>from sickbeardAlfred import get_version
get_version()</string>
				<key>type</key>
				<integer>3</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>4F4D7DD5-FF70-4CB1-A724-218C58959251</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string>from sickbeardAlfred import restart
restart()</string>
				<key>type</key>
				<integer>3</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>6ED4A637-E572-4C8A-A2D4-CCFAD34CC0B2</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>sick host</string>
				<key>subtext</key>
				<string>Default is http://localhost:8081</string>
				<key>text</key>
				<string>Set host URL of Sickbeard</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>E402042D-907A-432F-94EB-08681400C93F</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>4</integer>
				<key>script</key>
				<string>from sickbeardAlfred import set_host
set_host("{query}")</string>
				<key>type</key>
				<integer>3</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>D59253EC-D4F7-4F96-87F0-32A75F3B4415</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>sick search</string>
				<key>subtext</key>
				<string>Force the episode search early</string>
				<key>text</key>
				<string>Force episode search</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>862088B5-6084-4D82-A9E8-359B4F7B33F5</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>escaping</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>sick his</string>
				<key>runningsubtext</key>
				<string>Loading history...</string>
				<key>script</key>
				<string>from sickbeardAlfred import get_history
get_history()</string>
				<key>subtext</key>
				<string>Downloaded history</string>
				<key>title</key>
				<string>Sickbeard history</string>
				<key>type</key>
				<integer>3</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>2F6804F9-D6CD-4165-A83B-7C1F0B4398B5</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>escaping</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>sick soon</string>
				<key>runningsubtext</key>
				<string>Loading episodes...</string>
				<key>script</key>
				<string>from sickbeardAlfred import get_soon_episodes
get_soon_episodes()</string>
				<key>title</key>
				<string>Show upcoming episodes</string>
				<key>type</key>
				<integer>3</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>F7ED2457-CF02-41A2-9951-275DA730CD43</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>4</integer>
				<key>keyword</key>
				<string>sick add</string>
				<key>runningsubtext</key>
				<string>Searching for shows...</string>
				<key>script</key>
				<string>from sickbeardAlfred import search_shows
search_shows("{query}")</string>
				<key>title</key>
				<string>Add new tv show to Sickbeard</string>
				<key>type</key>
				<integer>3</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>93ACF573-833C-46F5-AB75-B45C51E81376</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>sick ping</string>
				<key>text</key>
				<string>Ping Sickbeard to see if its running</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>7F872FF5-7B92-4184-9FC4-55ED994A729A</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>escaping</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>sick shows</string>
				<key>runningsubtext</key>
				<string>Loading shows...</string>
				<key>script</key>
				<string>from sickbeardAlfred import get_shows
get_shows()</string>
				<key>title</key>
				<string>List your shows</string>
				<key>type</key>
				<integer>3</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>4571A665-A0EB-4CCC-8982-41F6A27E6B55</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>output</key>
				<integer>0</integer>
				<key>removeextension</key>
				<false/>
				<key>sticky</key>
				<false/>
				<key>text</key>
				<string>API key changed!</string>
				<key>title</key>
				<string>Sickbeard</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>E32E27CE-F1EA-4769-9322-762BDD32F5F4</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>output</key>
				<integer>0</integer>
				<key>removeextension</key>
				<false/>
				<key>sticky</key>
				<false/>
				<key>text</key>
				<string>Host URL changed!</string>
				<key>title</key>
				<string>Sickbeard</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>EDE29978-9E7D-47FB-BF7F-405C5B4C544A</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string>from sickbeardAlfred import ping
ping()</string>
				<key>type</key>
				<integer>3</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>E52B9A7F-3F5A-4FE6-8466-2BCA2EB40E88</string>
		</dict>
	</array>
	<key>readme</key>
	<string>Setup:

- Use the keyword "sick api" to set your API key.
- If you host Sickbeard elsewhere than localhost use the keyword "sick host" to set your host URL.</string>
	<key>uidata</key>
	<dict>
		<key>0F129F78-B100-45A4-8A64-3AEC5B95CD71</key>
		<dict>
			<key>ypos</key>
			<real>660</real>
		</dict>
		<key>2F6804F9-D6CD-4165-A83B-7C1F0B4398B5</key>
		<dict>
			<key>ypos</key>
			<real>1030</real>
		</dict>
		<key>4571A665-A0EB-4CCC-8982-41F6A27E6B55</key>
		<dict>
			<key>ypos</key>
			<real>790</real>
		</dict>
		<key>4F4D7DD5-FF70-4CB1-A724-218C58959251</key>
		<dict>
			<key>ypos</key>
			<real>540</real>
		</dict>
		<key>585DD2CA-5F2A-4EF5-8A5E-A8AC286B395D</key>
		<dict>
			<key>ypos</key>
			<real>110</real>
		</dict>
		<key>619AEE4D-F741-4E68-9F16-44E8D5052114</key>
		<dict>
			<key>ypos</key>
			<real>1290</real>
		</dict>
		<key>6ED4A637-E572-4C8A-A2D4-CCFAD34CC0B2</key>
		<dict>
			<key>ypos</key>
			<real>210</real>
		</dict>
		<key>71B557EE-9202-4AE8-8ED8-A9B3E75E79C6</key>
		<dict>
			<key>ypos</key>
			<real>320</real>
		</dict>
		<key>7F872FF5-7B92-4184-9FC4-55ED994A729A</key>
		<dict>
			<key>ypos</key>
			<real>430</real>
		</dict>
		<key>862088B5-6084-4D82-A9E8-359B4F7B33F5</key>
		<dict>
			<key>ypos</key>
			<real>110</real>
		</dict>
		<key>93ACF573-833C-46F5-AB75-B45C51E81376</key>
		<dict>
			<key>ypos</key>
			<real>660</real>
		</dict>
		<key>9EF7EA88-37B8-4F99-AC58-625F15626B12</key>
		<dict>
			<key>ypos</key>
			<real>320</real>
		</dict>
		<key>A83DD263-C8CE-48CE-89B5-2A8CA9EC2DBD</key>
		<dict>
			<key>ypos</key>
			<real>1290</real>
		</dict>
		<key>ADD38226-8808-40EB-B70D-E7588F1E5E30</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>B6D3FE5D-420B-4429-8D85-9C5ACF6505A4</key>
		<dict>
			<key>ypos</key>
			<real>210</real>
		</dict>
		<key>D0703DF6-82CC-49E0-964D-D98D558F2602</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>D59253EC-D4F7-4F96-87F0-32A75F3B4415</key>
		<dict>
			<key>ypos</key>
			<real>1170</real>
		</dict>
		<key>E32E27CE-F1EA-4769-9322-762BDD32F5F4</key>
		<dict>
			<key>ypos</key>
			<real>1290</real>
		</dict>
		<key>E402042D-907A-432F-94EB-08681400C93F</key>
		<dict>
			<key>ypos</key>
			<real>1170</real>
		</dict>
		<key>E52B9A7F-3F5A-4FE6-8466-2BCA2EB40E88</key>
		<dict>
			<key>ypos</key>
			<real>430</real>
		</dict>
		<key>EDE29978-9E7D-47FB-BF7F-405C5B4C544A</key>
		<dict>
			<key>ypos</key>
			<real>1170</real>
		</dict>
		<key>F171171F-A13B-4DDB-901A-09606365C843</key>
		<dict>
			<key>ypos</key>
			<real>390</real>
		</dict>
		<key>F69B7FD6-4076-478B-86FB-6A07DC50B0A9</key>
		<dict>
			<key>ypos</key>
			<real>790</real>
		</dict>
		<key>F7ED2457-CF02-41A2-9951-275DA730CD43</key>
		<dict>
			<key>ypos</key>
			<real>910</real>
		</dict>
		<key>FE4AFD7B-CFC1-418F-80C0-0DEA7F909473</key>
		<dict>
			<key>ypos</key>
			<real>540</real>
		</dict>
		<key>FEC39194-E6C2-4850-92BB-A820624215F3</key>
		<dict>
			<key>ypos</key>
			<real>1030</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>afogh.dk</string>
</dict>
</plist>
