<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>exit4web.hash</string>
	<key>connections</key>
	<dict>
		<key>1C185BA4-C957-4D30-8429-5F5F81103D27</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>AC9037B0-D236-4D35-965B-F945583AABF1</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>22DEF110-D260-45F8-B25F-9FDA35C620EB</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>2C70F8B3-AC3B-4405-9CB7-6EECD754E5F5</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>26A118CF-EFF8-437C-8AE9-A1740F37D31C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>2C70F8B3-AC3B-4405-9CB7-6EECD754E5F5</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>2908DC18-E638-47E5-AE99-B9D6B88DCDC2</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>2C70F8B3-AC3B-4405-9CB7-6EECD754E5F5</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>3C182A4A-5CDD-47A7-8419-62AF79D8AFCE</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>2C70F8B3-AC3B-4405-9CB7-6EECD754E5F5</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>64B42DF7-43FB-4B49-B48A-22C5DA5D26EC</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>2908DC18-E638-47E5-AE99-B9D6B88DCDC2</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>A3BF7D82-EDD4-4721-BF58-6668CB5D4FDB</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>2C70F8B3-AC3B-4405-9CB7-6EECD754E5F5</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>AC9037B0-D236-4D35-965B-F945583AABF1</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>DDEC09B9-EC4C-4FFC-A3CD-8133E6364DA5</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>2C70F8B3-AC3B-4405-9CB7-6EECD754E5F5</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>B45CE958-51F9-4728-B41B-FA342942B3C4</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>639F170A-1E36-4CD0-9880-361A01AC88EE</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>2C70F8B3-AC3B-4405-9CB7-6EECD754E5F5</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>B5F00437-7542-4215-B000-E1E2E64E9E40</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>2C70F8B3-AC3B-4405-9CB7-6EECD754E5F5</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>C2F1AA18-1CCF-4B5B-96C9-B55BE9333400</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B45CE958-51F9-4728-B41B-FA342942B3C4</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>DEBD3954-0A88-480C-908B-72E31EC12D45</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>2C70F8B3-AC3B-4405-9CB7-6EECD754E5F5</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>EC7DB0B3-BF14-4847-8219-7D6A96D91BD6</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>2C70F8B3-AC3B-4405-9CB7-6EECD754E5F5</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Luca Bigon</string>
	<key>description</key>
	<string>Hash calculator with MD5, SHA1, Base64, htpasswd, whirlpool and crc32 support!</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Hash</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>4</integer>
				<key>keyword</key>
				<string>htpasswd</string>
				<key>script</key>
				<string>php -f ./e4WorkflowApp.php -- "htpasswd {query}" "XML"</string>
				<key>subtext</key>
				<string>Encode a string in the Apache password format</string>
				<key>title</key>
				<string>HtPasswd</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>EC7DB0B3-BF14-4847-8219-7D6A96D91BD6</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>acceptsmulti</key>
				<false/>
				<key>filetypes</key>
				<array/>
				<key>name</key>
				<string>Calculate SHA1</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.action</string>
			<key>uid</key>
			<string>1C185BA4-C957-4D30-8429-5F5F81103D27</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>output</key>
				<integer>0</integer>
				<key>removeextension</key>
				<false/>
				<key>sticky</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>MD5 hash</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>639F170A-1E36-4CD0-9880-361A01AC88EE</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>4</integer>
				<key>script</key>
				<string>php -f ./e4WorkflowApp.php -- "md5 {query}"</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>B45CE958-51F9-4728-B41B-FA342942B3C4</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>4</integer>
				<key>keyword</key>
				<string>crc32</string>
				<key>script</key>
				<string>php -f ./e4WorkflowApp.php -- "crc32 {query}" "XML"</string>
				<key>subtext</key>
				<string>Calculate the Crc32 hash of a string</string>
				<key>title</key>
				<string>Crc32</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>26A118CF-EFF8-437C-8AE9-A1740F37D31C</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>4</integer>
				<key>keyword</key>
				<string>whirlpool</string>
				<key>script</key>
				<string>php -f ./e4WorkflowApp.php -- "whirlpool {query}" "XML"</string>
				<key>subtext</key>
				<string>Calculate the Whirlpool hash of a string</string>
				<key>title</key>
				<string>Whirlpool</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>22DEF110-D260-45F8-B25F-9FDA35C620EB</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>acceptsmulti</key>
				<false/>
				<key>filetypes</key>
				<array/>
				<key>name</key>
				<string>Calculate Base64</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.action</string>
			<key>uid</key>
			<string>64B42DF7-43FB-4B49-B48A-22C5DA5D26EC</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>4</integer>
				<key>keyword</key>
				<string>md5</string>
				<key>script</key>
				<string>php -f ./e4WorkflowApp.php -- "md5 {query}" "XML"</string>
				<key>subtext</key>
				<string>Calculate the MD5 hash of a string</string>
				<key>title</key>
				<string>MD5</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>A3BF7D82-EDD4-4721-BF58-6668CB5D4FDB</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>4</integer>
				<key>script</key>
				<string>php -f ./e4WorkflowApp.php -- "sha1 {query}"</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>AC9037B0-D236-4D35-965B-F945583AABF1</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>4</integer>
				<key>keyword</key>
				<string>sha1</string>
				<key>script</key>
				<string>php -f ./e4WorkflowApp.php "sha1 {query}" "XML"</string>
				<key>subtext</key>
				<string>Calculate the SHA1 hash of a string</string>
				<key>title</key>
				<string>SHA1</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>3C182A4A-5CDD-47A7-8419-62AF79D8AFCE</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>acceptsmulti</key>
				<false/>
				<key>filetypes</key>
				<array/>
				<key>name</key>
				<string>Calculate MD5</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.action</string>
			<key>uid</key>
			<string>C2F1AA18-1CCF-4B5B-96C9-B55BE9333400</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>4</integer>
				<key>keyword</key>
				<string>base64encode</string>
				<key>script</key>
				<string>php -f ./e4WorkflowApp.php -- "base64_encode {query}" "XML"</string>
				<key>subtext</key>
				<string>Encode a string in base64</string>
				<key>title</key>
				<string>Base64 Encode</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>DEBD3954-0A88-480C-908B-72E31EC12D45</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>2C70F8B3-AC3B-4405-9CB7-6EECD754E5F5</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>output</key>
				<integer>0</integer>
				<key>removeextension</key>
				<false/>
				<key>sticky</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>SHA1 hash</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>DDEC09B9-EC4C-4FFC-A3CD-8133E6364DA5</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>4</integer>
				<key>keyword</key>
				<string>base64decode</string>
				<key>script</key>
				<string>php -f ./e4WorkflowApp.php -- "base64_decode {query}" "XML"</string>
				<key>subtext</key>
				<string>Decode a base64 string</string>
				<key>title</key>
				<string>Base64 Decode</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>B5F00437-7542-4215-B000-E1E2E64E9E40</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>4</integer>
				<key>script</key>
				<string>php -f ./e4WorkflowApp.php -- "base64_encode {query}"</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>2908DC18-E638-47E5-AE99-B9D6B88DCDC2</string>
		</dict>
	</array>
	<key>uidata</key>
	<dict>
		<key>1C185BA4-C957-4D30-8429-5F5F81103D27</key>
		<dict>
			<key>ypos</key>
			<real>130</real>
		</dict>
		<key>22DEF110-D260-45F8-B25F-9FDA35C620EB</key>
		<dict>
			<key>ypos</key>
			<real>730</real>
		</dict>
		<key>26A118CF-EFF8-437C-8AE9-A1740F37D31C</key>
		<dict>
			<key>ypos</key>
			<real>610</real>
		</dict>
		<key>2908DC18-E638-47E5-AE99-B9D6B88DCDC2</key>
		<dict>
			<key>ypos</key>
			<real>430</real>
		</dict>
		<key>2C70F8B3-AC3B-4405-9CB7-6EECD754E5F5</key>
		<dict>
			<key>ypos</key>
			<real>440</real>
		</dict>
		<key>3C182A4A-5CDD-47A7-8419-62AF79D8AFCE</key>
		<dict>
			<key>ypos</key>
			<real>130</real>
		</dict>
		<key>639F170A-1E36-4CD0-9880-361A01AC88EE</key>
		<dict>
			<key>ypos</key>
			<real>70</real>
		</dict>
		<key>64B42DF7-43FB-4B49-B48A-22C5DA5D26EC</key>
		<dict>
			<key>ypos</key>
			<real>370</real>
		</dict>
		<key>A3BF7D82-EDD4-4721-BF58-6668CB5D4FDB</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>AC9037B0-D236-4D35-965B-F945583AABF1</key>
		<dict>
			<key>ypos</key>
			<real>190</real>
		</dict>
		<key>B45CE958-51F9-4728-B41B-FA342942B3C4</key>
		<dict>
			<key>ypos</key>
			<real>70</real>
		</dict>
		<key>B5F00437-7542-4215-B000-E1E2E64E9E40</key>
		<dict>
			<key>ypos</key>
			<real>250</real>
		</dict>
		<key>C2F1AA18-1CCF-4B5B-96C9-B55BE9333400</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>DDEC09B9-EC4C-4FFC-A3CD-8133E6364DA5</key>
		<dict>
			<key>ypos</key>
			<real>190</real>
		</dict>
		<key>DEBD3954-0A88-480C-908B-72E31EC12D45</key>
		<dict>
			<key>ypos</key>
			<real>370</real>
		</dict>
		<key>EC7DB0B3-BF14-4847-8219-7D6A96D91BD6</key>
		<dict>
			<key>ypos</key>
			<real>490</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>https://github.com/BigLuck/alfred2-hash</string>
</dict>
</plist>
