<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>wordreference</string>
	<key>connections</key>
	<dict>
		<key>19CB73C2-1F6F-4128-8976-391CA1BDF176</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E113FD79-7B70-43BA-B298-9C31808D0AD9</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>4925C6BB-94E1-4C9E-AB91-1795AC90059E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>94BA119A-93F6-413F-AA40-FBFD482E2BE8</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>83B63B2E-AF69-47B9-9FE6-7C89FB84BD9C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E918F90D-D17A-4262-8569-9F62601F905E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>933A7A90-589E-40F7-9E89-99F80058A254</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>BDEFA835-ACE6-4DA0-923B-10F0AEBBDE71</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>C2463F01-7664-4E9A-A683-2656317A9EC5</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>06F5BD5A-7096-425E-BDF8-ED41FA2B1192</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>D3386A49-D99B-4214-A321-70CD3F1EBDDC</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>056613E0-61DB-46C1-97ED-848BA34CAC13</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>DAA19A0D-318C-4096-B818-37C5BDD3B276</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E918F90D-D17A-4262-8569-9F62601F905E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>DDDA77EE-8F26-4D1E-B3D8-E4342A99F104</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E918F90D-D17A-4262-8569-9F62601F905E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>E695ECE8-3A0A-4991-9EFB-5B839DF49A01</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E918F90D-D17A-4262-8569-9F62601F905E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>E918F90D-D17A-4262-8569-9F62601F905E</key>
		<array/>
		<key>F92FBA51-5625-4C68-9A4B-962F4A999F5E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E918F90D-D17A-4262-8569-9F62601F905E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>FE059F76-194E-48D6-B47D-E0D56D5BF7A7</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D3386A49-D99B-4214-A321-70CD3F1EBDDC</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>FE9F0824-D6FD-4C95-84C1-339B0D98813F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E918F90D-D17A-4262-8569-9F62601F905E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Anthony Kevins</string>
	<key>description</key>
	<string>A Translation Dictionary Workflow for wordreference.com</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>WordReference</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>37</integer>
				<key>keyword</key>
				<string>fren</string>
				<key>runningsubtext</key>
				<string>Fetching translation</string>
				<key>script</key>
				<string>php -f translate.php fren {query}</string>
				<key>subtext</key>
				<string>Type word to translate</string>
				<key>title</key>
				<string>Translate from French</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>F92FBA51-5625-4C68-9A4B-962F4A999F5E</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>37</integer>
				<key>keyword</key>
				<string>enfr</string>
				<key>runningsubtext</key>
				<string>Fetching translation</string>
				<key>script</key>
				<string>php -f translate.php enfr {query}</string>
				<key>subtext</key>
				<string>Type word to translate</string>
				<key>title</key>
				<string>Translate from English</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>DAA19A0D-318C-4096-B818-37C5BDD3B276</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>37</integer>
				<key>keyword</key>
				<string>iten</string>
				<key>runningsubtext</key>
				<string>Fetching translation</string>
				<key>script</key>
				<string>php -f translate.php iten {query}</string>
				<key>subtext</key>
				<string>Type word to translate</string>
				<key>title</key>
				<string>Translate from Italian</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>FE9F0824-D6FD-4C95-84C1-339B0D98813F</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>plusspaces</key>
				<false/>
				<key>url</key>
				<string>http://www.wordreference.com/{query}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>E918F90D-D17A-4262-8569-9F62601F905E</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>37</integer>
				<key>keyword</key>
				<string>enit</string>
				<key>runningsubtext</key>
				<string>Fetching translation</string>
				<key>script</key>
				<string>php -f translate.php enit {query}</string>
				<key>subtext</key>
				<string>Type word to translate</string>
				<key>title</key>
				<string>Translate from English</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>E695ECE8-3A0A-4991-9EFB-5B839DF49A01</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>37</integer>
				<key>keyword</key>
				<string>esen</string>
				<key>runningsubtext</key>
				<string>Fetching translation</string>
				<key>script</key>
				<string>php -f translate.php esen {query}</string>
				<key>subtext</key>
				<string>Type word to translate</string>
				<key>title</key>
				<string>Translate from Spanish</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>83B63B2E-AF69-47B9-9FE6-7C89FB84BD9C</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>37</integer>
				<key>keyword</key>
				<string>enes</string>
				<key>runningsubtext</key>
				<string>Fetching translation</string>
				<key>script</key>
				<string>php -f translate.php enes {query}</string>
				<key>subtext</key>
				<string>Type word to translate</string>
				<key>title</key>
				<string>Translate from English</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>DDDA77EE-8F26-4D1E-B3D8-E4342A99F104</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>frc</string>
				<key>subtext</key>
				<string>Press enter to open conjugation table in browser</string>
				<key>text</key>
				<string>French Verb Conjugation</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>4925C6BB-94E1-4C9E-AB91-1795AC90059E</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>plusspaces</key>
				<false/>
				<key>url</key>
				<string>http://www.wordreference.com/conj/FRverbs.aspx?v={query}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>94BA119A-93F6-413F-AA40-FBFD482E2BE8</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>itc</string>
				<key>subtext</key>
				<string>Press enter to open conjugation table in browser</string>
				<key>text</key>
				<string>Italian Verb Conjugation</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>19CB73C2-1F6F-4128-8976-391CA1BDF176</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>plusspaces</key>
				<false/>
				<key>url</key>
				<string>http://www.wordreference.com/conj/ITverbs.aspx?v={query}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>E113FD79-7B70-43BA-B298-9C31808D0AD9</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>plusspaces</key>
				<false/>
				<key>url</key>
				<string>http://www.wordreference.com/conj/ESverbs.aspx?v={query}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>BDEFA835-ACE6-4DA0-923B-10F0AEBBDE71</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>esc</string>
				<key>subtext</key>
				<string>Press enter to open conjugation table in browser</string>
				<key>text</key>
				<string>Spanish Verb Conjugation</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>933A7A90-589E-40F7-9E89-99F80058A254</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>plusspaces</key>
				<false/>
				<key>url</key>
				<string>http://www.wordreference.com/docs/APIregistration.aspx</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>06F5BD5A-7096-425E-BDF8-ED41FA2B1192</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>getapi</string>
				<key>subtext</key>
				<string>Then set it using 'setapi'</string>
				<key>text</key>
				<string>Press enter to register for an API</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>C2463F01-7664-4E9A-A683-2656317A9EC5</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>36</integer>
				<key>keyword</key>
				<string>setapi</string>
				<key>script</key>
				<string>php -f api.php -- '{query}'</string>
				<key>subtext</key>
				<string>If you don't have one yet, type 'getapi'</string>
				<key>title</key>
				<string>Enter your API key to setup workflow</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>FE059F76-194E-48D6-B47D-E0D56D5BF7A7</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<true/>
				<key>output</key>
				<integer>0</integer>
				<key>removeextension</key>
				<false/>
				<key>sticky</key>
				<false/>
				<key>text</key>
				<string>Saved as '{query}'</string>
				<key>title</key>
				<string>WordReference API saved</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>056613E0-61DB-46C1-97ED-848BA34CAC13</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>36</integer>
				<key>script</key>
				<string>php -f setapi.php -- '{query}'</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>D3386A49-D99B-4214-A321-70CD3F1EBDDC</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>056613E0-61DB-46C1-97ED-848BA34CAC13</key>
		<dict>
			<key>ypos</key>
			<real>1110</real>
		</dict>
		<key>06F5BD5A-7096-425E-BDF8-ED41FA2B1192</key>
		<dict>
			<key>ypos</key>
			<real>1000</real>
		</dict>
		<key>19CB73C2-1F6F-4128-8976-391CA1BDF176</key>
		<dict>
			<key>ypos</key>
			<real>780</real>
		</dict>
		<key>4925C6BB-94E1-4C9E-AB91-1795AC90059E</key>
		<dict>
			<key>ypos</key>
			<real>670</real>
		</dict>
		<key>83B63B2E-AF69-47B9-9FE6-7C89FB84BD9C</key>
		<dict>
			<key>ypos</key>
			<real>450</real>
		</dict>
		<key>933A7A90-589E-40F7-9E89-99F80058A254</key>
		<dict>
			<key>ypos</key>
			<real>890</real>
		</dict>
		<key>94BA119A-93F6-413F-AA40-FBFD482E2BE8</key>
		<dict>
			<key>ypos</key>
			<real>670</real>
		</dict>
		<key>BDEFA835-ACE6-4DA0-923B-10F0AEBBDE71</key>
		<dict>
			<key>ypos</key>
			<real>890</real>
		</dict>
		<key>C2463F01-7664-4E9A-A683-2656317A9EC5</key>
		<dict>
			<key>ypos</key>
			<real>1000</real>
		</dict>
		<key>D3386A49-D99B-4214-A321-70CD3F1EBDDC</key>
		<dict>
			<key>ypos</key>
			<real>1110</real>
		</dict>
		<key>DAA19A0D-318C-4096-B818-37C5BDD3B276</key>
		<dict>
			<key>ypos</key>
			<real>120</real>
		</dict>
		<key>DDDA77EE-8F26-4D1E-B3D8-E4342A99F104</key>
		<dict>
			<key>ypos</key>
			<real>560</real>
		</dict>
		<key>E113FD79-7B70-43BA-B298-9C31808D0AD9</key>
		<dict>
			<key>ypos</key>
			<real>780</real>
		</dict>
		<key>E695ECE8-3A0A-4991-9EFB-5B839DF49A01</key>
		<dict>
			<key>ypos</key>
			<real>340</real>
		</dict>
		<key>E918F90D-D17A-4262-8569-9F62601F905E</key>
		<dict>
			<key>ypos</key>
			<real>280</real>
		</dict>
		<key>F92FBA51-5625-4C68-9A4B-962F4A999F5E</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>FE059F76-194E-48D6-B47D-E0D56D5BF7A7</key>
		<dict>
			<key>ypos</key>
			<real>1110</real>
		</dict>
		<key>FE9F0824-D6FD-4C95-84C1-339B0D98813F</key>
		<dict>
			<key>ypos</key>
			<real>230</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
