<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>1.0</string>
	<key>connections</key>
	<dict>
		<key>6D98D7DF-9106-4306-A22D-0C8827F4E84B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>DC245AD2-E911-4F7E-8B61-ACA465A9B861</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>DC245AD2-E911-4F7E-8B61-ACA465A9B861</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C53C94B0-CEA2-4884-8023-FE215660E4E1</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>F20B3985-60AE-4F01-9584-4AD6F9C8344F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>DC245AD2-E911-4F7E-8B61-ACA465A9B861</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>PSiCKo</string>
	<key>description</key>
	<string>Limpiar unidad extraible con Curb</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Limpiar con Curb</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>127</integer>
				<key>script</key>
				<string>open -a curb {query}</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>DC245AD2-E911-4F7E-8B61-ACA465A9B861</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>output</key>
				<integer>0</integer>
				<key>removeextension</key>
				<false/>
				<key>sticky</key>
				<false/>
				<key>title</key>
				<string>Unidad limpia de basura</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>C53C94B0-CEA2-4884-8023-FE215660E4E1</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>anchorfields</key>
				<true/>
				<key>daterange</key>
				<integer>0</integer>
				<key>fields</key>
				<array>
					<dict>
						<key>field</key>
						<string>kMDItemDisplayName</string>
						<key>not</key>
						<false/>
						<key>split</key>
						<true/>
						<key>value</key>
						<string>{query}</string>
						<key>words</key>
						<true/>
					</dict>
					<dict>
						<key>field</key>
						<string>kMDItemAlternateNames</string>
						<key>not</key>
						<false/>
						<key>split</key>
						<true/>
						<key>value</key>
						<string>{query}</string>
						<key>words</key>
						<true/>
					</dict>
					<dict>
						<key>field</key>
						<string>kMDItemFinderComment</string>
						<key>not</key>
						<false/>
						<key>split</key>
						<true/>
						<key>value</key>
						<string>{query}</string>
						<key>words</key>
						<true/>
					</dict>
				</array>
				<key>includesystem</key>
				<false/>
				<key>keyword</key>
				<string>lcurb</string>
				<key>scopes</key>
				<array>
					<string>/Volumes/P8</string>
				</array>
				<key>subtext</key>
				<string>Vaciar papelera de la unidad extraible</string>
				<key>title</key>
				<string>Limpiar con Curb</string>
				<key>types</key>
				<array/>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.filefilter</string>
			<key>uid</key>
			<string>6D98D7DF-9106-4306-A22D-0C8827F4E84B</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>acceptsmulti</key>
				<false/>
				<key>filetypes</key>
				<array>
					<string>public.volume</string>
				</array>
				<key>name</key>
				<string>Limpiar con Curb</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.action</string>
			<key>uid</key>
			<string>F20B3985-60AE-4F01-9584-4AD6F9C8344F</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>6D98D7DF-9106-4306-A22D-0C8827F4E84B</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>C53C94B0-CEA2-4884-8023-FE215660E4E1</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>DC245AD2-E911-4F7E-8B61-ACA465A9B861</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>F20B3985-60AE-4F01-9584-4AD6F9C8344F</key>
		<dict>
			<key>ypos</key>
			<real>180</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
