<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.benzi.a2w.rt</string>
	<key>connections</key>
	<dict>
		<key>3C72C19C-F870-4E38-9A66-EB55E3420706</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>0EF63EB8-C32B-459A-AE52-D6FBD92BD9B7</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Benzi Ahamed</string>
	<key>description</key>
	<string>Search movies and view ratings</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Rotten Tomatoes</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>6</integer>
				<key>keyword</key>
				<string>rt</string>
				<key>runningsubtext</key>
				<string>Please wait while retrieving results...</string>
				<key>script</key>
				<string>python rt.py "{query}"</string>
				<key>subtext</key>
				<string>Type a movie name to view ratings</string>
				<key>title</key>
				<string>Rotten Tomatoes movie search</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>3C72C19C-F870-4E38-9A66-EB55E3420706</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>plusspaces</key>
				<false/>
				<key>url</key>
				<string>{query}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>0EF63EB8-C32B-459A-AE52-D6FBD92BD9B7</string>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>0EF63EB8-C32B-459A-AE52-D6FBD92BD9B7</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>3C72C19C-F870-4E38-9A66-EB55E3420706</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>benzi-ahamed.tumblr.com</string>
</dict>
</plist>
