<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>galbutnotgirl.newgdriveapps</string>
	<key>connections</key>
	<dict>
		<key>27DB8F75-4DFF-489D-A4FF-D4C5CBFA788D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D5B39A1B-14F5-4372-BECC-6B870A0034C9</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>29FD3222-3265-4C0F-87F2-0DB7A46986B2</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>235BAD3D-96F9-4F5D-A57F-1C978BD3B4D4</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>3BEFFCF0-F1E6-4107-A724-2830F50EE7C5</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>29114C64-0CEC-419B-958C-F39EA7D8579B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>A1757649-E2F7-419D-B4BF-44438C4F91A1</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>537C072F-9DCF-4FF3-837B-4932075FA3D5</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>CB1561E3-4CD1-4681-9EFB-9B813588BCEB</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>BF493BEE-956A-42D9-80CF-8EB911350E95</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Gal Oppenheimer</string>
	<key>description</key>
	<string>Create a New Item in Google Drive</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Create New Item in Google Drive (Google Apps)</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>drive</string>
				<key>subtext</key>
				<string>Create a new Google Drive Document</string>
				<key>text</key>
				<string>New Document</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>A1757649-E2F7-419D-B4BF-44438C4F91A1</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>plusspaces</key>
				<false/>
				<key>url</key>
				<string>https://docs.google.com/a/YOURDOMAIN/document/</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>537C072F-9DCF-4FF3-837B-4932075FA3D5</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>drive</string>
				<key>subtext</key>
				<string>Create a new Google Drive Spreadsheet</string>
				<key>text</key>
				<string>New Spreadsheet</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>27DB8F75-4DFF-489D-A4FF-D4C5CBFA788D</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>plusspaces</key>
				<false/>
				<key>url</key>
				<string>https://docs.google.com/a/YOURDOMAIN/spreadsheet</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>D5B39A1B-14F5-4372-BECC-6B870A0034C9</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>drive</string>
				<key>subtext</key>
				<string>Create a new Google Drive Presentation</string>
				<key>text</key>
				<string>New Presentation</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>3BEFFCF0-F1E6-4107-A724-2830F50EE7C5</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>plusspaces</key>
				<false/>
				<key>url</key>
				<string>https://docs.google.com/a/YOURDOMAIN/presentation/</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>29114C64-0CEC-419B-958C-F39EA7D8579B</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>drive</string>
				<key>subtext</key>
				<string>Create a new Google Drive Presentation</string>
				<key>text</key>
				<string>New Drawing</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>29FD3222-3265-4C0F-87F2-0DB7A46986B2</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>plusspaces</key>
				<false/>
				<key>url</key>
				<string>https://docs.google.com/a/YOURDOMAIN/drawings/</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>235BAD3D-96F9-4F5D-A57F-1C978BD3B4D4</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>drive</string>
				<key>subtext</key>
				<string>Create a new Google Drive Form</string>
				<key>text</key>
				<string>New Form</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>CB1561E3-4CD1-4681-9EFB-9B813588BCEB</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>plusspaces</key>
				<false/>
				<key>url</key>
				<string>https://docs.google.com/a/YOURDOMAIN/forms/</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>BF493BEE-956A-42D9-80CF-8EB911350E95</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>To customize this Workflow for your Google Apps domain, double click on the URLs on the right side and replace YOURDOMAIN with your domain (including .com or whatever it ends with).</string>
	<key>uidata</key>
	<dict>
		<key>235BAD3D-96F9-4F5D-A57F-1C978BD3B4D4</key>
		<dict>
			<key>ypos</key>
			<real>370</real>
		</dict>
		<key>27DB8F75-4DFF-489D-A4FF-D4C5CBFA788D</key>
		<dict>
			<key>ypos</key>
			<real>130</real>
		</dict>
		<key>29114C64-0CEC-419B-958C-F39EA7D8579B</key>
		<dict>
			<key>ypos</key>
			<real>250</real>
		</dict>
		<key>29FD3222-3265-4C0F-87F2-0DB7A46986B2</key>
		<dict>
			<key>ypos</key>
			<real>370</real>
		</dict>
		<key>3BEFFCF0-F1E6-4107-A724-2830F50EE7C5</key>
		<dict>
			<key>ypos</key>
			<real>250</real>
		</dict>
		<key>537C072F-9DCF-4FF3-837B-4932075FA3D5</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>A1757649-E2F7-419D-B4BF-44438C4F91A1</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>BF493BEE-956A-42D9-80CF-8EB911350E95</key>
		<dict>
			<key>ypos</key>
			<real>490</real>
		</dict>
		<key>CB1561E3-4CD1-4681-9EFB-9B813588BCEB</key>
		<dict>
			<key>ypos</key>
			<real>490</real>
		</dict>
		<key>D5B39A1B-14F5-4372-BECC-6B870A0034C9</key>
		<dict>
			<key>ypos</key>
			<real>130</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>http://tumble.galbutnotgirl.com</string>
</dict>
</plist>
