<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.johneday.exifdata</string>
	<key>connections</key>
	<dict>
		<key>0FC8F551-9EC7-4A63-B81E-DD3706C8F247</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>3E94FD86-8052-4482-A1D9-4961202F99EF</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>19B44B39-EEF3-4F18-89E7-C23B96DFB7C2</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>3E94FD86-8052-4482-A1D9-4961202F99EF</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>3E94FD86-8052-4482-A1D9-4961202F99EF</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>6BDB614F-625F-4941-BD17-B10E99413642</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>4DE0EC47-4FF6-4413-BCCC-561EB72B0C7B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>3E94FD86-8052-4482-A1D9-4961202F99EF</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>7800BF42-670A-458E-A2D5-8B3330EA51A7</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>3E94FD86-8052-4482-A1D9-4961202F99EF</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>John Day</string>
	<key>description</key>
	<string>Extract metadata with ExifTool and mdls</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>EXIF Data</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>3</integer>
				<key>argumenttext</key>
				<string>View in Alfred ➣</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>19B44B39-EEF3-4F18-89E7-C23B96DFB7C2</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>3</integer>
				<key>argumenttext</key>
				<string>Choose from list ➣</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>7800BF42-670A-458E-A2D5-8B3330EA51A7</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>6</integer>
				<key>keyword</key>
				<string>et</string>
				<key>runningsubtext</key>
				<string>getting metadata...</string>
				<key>script</key>
				<string>osascript ExifData.scpt "{query}"</string>
				<key>title</key>
				<string>EXIF Data</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>3E94FD86-8052-4482-A1D9-4961202F99EF</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>6BDB614F-625F-4941-BD17-B10E99413642</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>3</integer>
				<key>argumenttext</key>
				<string>Export to file ➣</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>4DE0EC47-4FF6-4413-BCCC-561EB72B0C7B</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>3</integer>
				<key>argumenttext</key>
				<string>Export mdls to file ➣</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>0FC8F551-9EC7-4A63-B81E-DD3706C8F247</string>
		</dict>
	</array>
	<key>readme</key>
	<string>EXIF DataVersion: 1.0Release date: 2013-04-21Author: John Dayhttp://www.johneday.com/831/exif-data-alfred-workflow

If you are looking for a tailored AppleScript solution or a workflow consultation, please leave me a note with your contact information and a brief description of your project.John Dayhttp://www.johneday.com/contact
Skype: john.eday</string>
	<key>uidata</key>
	<dict>
		<key>0FC8F551-9EC7-4A63-B81E-DD3706C8F247</key>
		<dict>
			<key>ypos</key>
			<real>450</real>
		</dict>
		<key>19B44B39-EEF3-4F18-89E7-C23B96DFB7C2</key>
		<dict>
			<key>ypos</key>
			<real>60</real>
		</dict>
		<key>3E94FD86-8052-4482-A1D9-4961202F99EF</key>
		<dict>
			<key>ypos</key>
			<real>260</real>
		</dict>
		<key>4DE0EC47-4FF6-4413-BCCC-561EB72B0C7B</key>
		<dict>
			<key>ypos</key>
			<real>320</real>
		</dict>
		<key>6BDB614F-625F-4941-BD17-B10E99413642</key>
		<dict>
			<key>ypos</key>
			<real>260</real>
		</dict>
		<key>7800BF42-670A-458E-A2D5-8B3330EA51A7</key>
		<dict>
			<key>ypos</key>
			<real>190</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>http://www.johneday.com</string>
</dict>
</plist>
