<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>carlosnz.eggtimer2</string>
	<key>connections</key>
	<dict>
		<key>251F013F-0729-46CB-9A8A-59FD5120BBFD</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>CFC9D4FF-97D3-4A14-B472-027CE07C802D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>3BED9D99-EA16-421A-8768-2F55DB739E7C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>251F013F-0729-46CB-9A8A-59FD5120BBFD</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>40594F76-79F3-4B3C-87F6-D4DCAC8F2B98</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>FD296C60-BD51-4DD1-B2FC-68851E053C27</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>5D9D63CF-6C20-4CAF-9589-78A33E59846B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>CFC9D4FF-97D3-4A14-B472-027CE07C802D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>6BA7E54F-A9A5-4CFA-907A-6AC1292BA738</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C391EBE4-B483-4CBA-B824-32582D136253</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>81EF9414-8059-4B44-8205-673AE8B3B90C</string>
				<key>modifiers</key>
				<integer>524288</integer>
				<key>modifiersubtext</key>
				<string>DELETE from history</string>
			</dict>
		</array>
		<key>6FF18B2D-18DF-4092-989F-EA182E27660D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>5D9D63CF-6C20-4CAF-9589-78A33E59846B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>81EF9414-8059-4B44-8205-673AE8B3B90C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>CFC9D4FF-97D3-4A14-B472-027CE07C802D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>8BF664E1-9E34-443A-963B-104CD689084C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>CFC9D4FF-97D3-4A14-B472-027CE07C802D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>8C006AD6-7DDD-477F-9AF9-C9B532ABC657</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>9A70919D-EBDB-4029-9260-726CF0FBCAE9</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>DEA3530B-8570-4386-BB26-A2BA5CAC5B08</string>
				<key>modifiers</key>
				<integer>524288</integer>
				<key>modifiersubtext</key>
				<string>STOP</string>
			</dict>
		</array>
		<key>9A70919D-EBDB-4029-9260-726CF0FBCAE9</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>9ABD0B99-6A48-4C1D-BECC-EC1DCFCC7199</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>AB971CDF-8622-446A-9E1F-3A1EA57A3EB2</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>8C006AD6-7DDD-477F-9AF9-C9B532ABC657</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>C391EBE4-B483-4CBA-B824-32582D136253</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>CFC9D4FF-97D3-4A14-B472-027CE07C802D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>D525BA4E-CDC0-47F0-B470-F8D59FECE7F4</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>8BF664E1-9E34-443A-963B-104CD689084C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>DEA3530B-8570-4386-BB26-A2BA5CAC5B08</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>CFC9D4FF-97D3-4A14-B472-027CE07C802D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>FD296C60-BD51-4DD1-B2FC-68851E053C27</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>CFC9D4FF-97D3-4A14-B472-027CE07C802D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Carl Smith (@CarlosNZ)</string>
	<key>description</key>
	<string>A flexible scheduled alerts system. (See Readme tab or enter "timer help" for more info)</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>EggTimer</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>4</integer>
				<key>script</key>
				<string>./scripts/process_delete.sh "{query}"</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>81EF9414-8059-4B44-8205-673AE8B3B90C</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string>./scripts/process_recent.sh "{query}"</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>C391EBE4-B483-4CBA-B824-32582D136253</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>AB971CDF-8622-446A-9E1F-3A1EA57A3EB2</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>escaping</key>
				<integer>4</integer>
				<key>keyword</key>
				<string>timers</string>
				<key>script</key>
				<string>./scripts/first_run_check.sh

./scripts/input_list.sh</string>
				<key>subtext</key>
				<string>VIEW or STOP EggTimer's active timers and alarms</string>
				<key>title</key>
				<string>Current timers</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>8C006AD6-7DDD-477F-9AF9-C9B532ABC657</string>
		</dict>
		<dict>
			<key>type</key>
			<string>alfred.workflow.output.largetype</string>
			<key>uid</key>
			<string>9ABD0B99-6A48-4C1D-BECC-EC1DCFCC7199</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>4</integer>
				<key>keyword</key>
				<string>repeat</string>
				<key>script</key>
				<string>#REPEAT LAST TIMER

./scripts/input_repeat.sh "{query}"</string>
				<key>subtext</key>
				<string>Repeat EggTimer's last-completed timer</string>
				<key>title</key>
				<string>Repeat</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>6FF18B2D-18DF-4092-989F-EA182E27660D</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>4</integer>
				<key>script</key>
				<string>./scripts/process_timer.sh "{query}"</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>8BF664E1-9E34-443A-963B-104CD689084C</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>4</integer>
				<key>keyword</key>
				<string>snooze</string>
				<key>script</key>
				<string>x="{query}"

#SNOOZE TIMER
./scripts/input_snooze.sh "$x"</string>
				<key>subtext</key>
				<string>Snooze EggTimer's last-completed timer or alarm</string>
				<key>title</key>
				<string>Snooze</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>3BED9D99-EA16-421A-8768-2F55DB739E7C</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>4</integer>
				<key>script</key>
				<string>./scripts/process_stop.sh "{query}"</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>DEA3530B-8570-4386-BB26-A2BA5CAC5B08</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string>./scripts/process_alarm.sh "{query}"</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>FD296C60-BD51-4DD1-B2FC-68851E053C27</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>4</integer>
				<key>keyword</key>
				<string>timer</string>
				<key>script</key>
				<string>./scripts/first_run_check.sh

x="{query}"

input=($x)	#parse Alfred {query} into "input" array

#NEW TIMER?
if [[ ${input[0]} =~ ^[0-9,:]+$ ]]; then
	./scripts/input_new_timer.sh "$x"
	exit
else
	./scripts/input_other_options.sh "$x"
fi</string>
				<key>subtext</key>
				<string>Create a new timer with EggTimer (Syntax: timer MINUTES REMINDER)</string>
				<key>title</key>
				<string>New Timer</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>D525BA4E-CDC0-47F0-B470-F8D59FECE7F4</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>32</integer>
				<key>script</key>
				<string>./scripts/process_list.sh "{query}"</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>9A70919D-EBDB-4029-9260-726CF0FBCAE9</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>escaping</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>recent</string>
				<key>script</key>
				<string>./scripts/input_recent.sh</string>
				<key>subtext</key>
				<string>View recently used timers and alarms. Select to restart one.</string>
				<key>title</key>
				<string>Recent Timers</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>6BA7E54F-A9A5-4CFA-907A-6AC1292BA738</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>4</integer>
				<key>keyword</key>
				<string>alarm</string>
				<key>script</key>
				<string>./scripts/first_run_check.sh

x="{query}"

#NEW ALARM
./scripts/input_new_alarm.sh "$x"</string>
				<key>subtext</key>
				<string>Create a new alarm with EggTimer (Syntax: alarm TIME REMINDER)</string>
				<key>title</key>
				<string>New Alarm</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>40594F76-79F3-4B3C-87F6-D4DCAC8F2B98</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>4</integer>
				<key>script</key>
				<string>./scripts/process_snooze.sh "{query}"</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>251F013F-0729-46CB-9A8A-59FD5120BBFD</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>4</integer>
				<key>script</key>
				<string>./scripts/process_repeat.sh "{query}"</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>5D9D63CF-6C20-4CAF-9589-78A33E59846B</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<true/>
				<key>output</key>
				<integer>0</integer>
				<key>removeextension</key>
				<false/>
				<key>sticky</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>EggTimer</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>CFC9D4FF-97D3-4A14-B472-027CE07C802D</string>
		</dict>
	</array>
	<key>readme</key>
	<string>EGGTIMER v2.0
by Carl Smith (@CarlosNZ)
=========================

For full instructions, enter "timer help" into Alfred

CREDITS:
========

Hourglass (Timer) icon by: PSDGraphics
http://www.psdgraphics.com/psd-icons/sands-of-time-psd-hourglass-icon/

Alarm icon by: CustomIconDesign
http://www.customicondesign.com/

Notification Centre integration uses
DDMountainNotifier by Daij-Djan 
https://github.com/Daij-Djan/DDMountainNotifier/blob/master/README.md</string>
	<key>uidata</key>
	<dict>
		<key>251F013F-0729-46CB-9A8A-59FD5120BBFD</key>
		<dict>
			<key>ypos</key>
			<real>530</real>
		</dict>
		<key>3BED9D99-EA16-421A-8768-2F55DB739E7C</key>
		<dict>
			<key>ypos</key>
			<real>530</real>
		</dict>
		<key>40594F76-79F3-4B3C-87F6-D4DCAC8F2B98</key>
		<dict>
			<key>ypos</key>
			<real>410</real>
		</dict>
		<key>5D9D63CF-6C20-4CAF-9589-78A33E59846B</key>
		<dict>
			<key>ypos</key>
			<real>650</real>
		</dict>
		<key>6BA7E54F-A9A5-4CFA-907A-6AC1292BA738</key>
		<dict>
			<key>ypos</key>
			<real>770</real>
		</dict>
		<key>6FF18B2D-18DF-4092-989F-EA182E27660D</key>
		<dict>
			<key>ypos</key>
			<real>650</real>
		</dict>
		<key>81EF9414-8059-4B44-8205-673AE8B3B90C</key>
		<dict>
			<key>ypos</key>
			<real>890</real>
		</dict>
		<key>8BF664E1-9E34-443A-963B-104CD689084C</key>
		<dict>
			<key>ypos</key>
			<real>290</real>
		</dict>
		<key>8C006AD6-7DDD-477F-9AF9-C9B532ABC657</key>
		<dict>
			<key>ypos</key>
			<real>50</real>
		</dict>
		<key>9A70919D-EBDB-4029-9260-726CF0FBCAE9</key>
		<dict>
			<key>ypos</key>
			<real>50</real>
		</dict>
		<key>9ABD0B99-6A48-4C1D-BECC-EC1DCFCC7199</key>
		<dict>
			<key>ypos</key>
			<real>50</real>
		</dict>
		<key>AB971CDF-8622-446A-9E1F-3A1EA57A3EB2</key>
		<dict>
			<key>ypos</key>
			<real>50</real>
		</dict>
		<key>C391EBE4-B483-4CBA-B824-32582D136253</key>
		<dict>
			<key>ypos</key>
			<real>770</real>
		</dict>
		<key>CFC9D4FF-97D3-4A14-B472-027CE07C802D</key>
		<dict>
			<key>ypos</key>
			<real>160</real>
		</dict>
		<key>D525BA4E-CDC0-47F0-B470-F8D59FECE7F4</key>
		<dict>
			<key>ypos</key>
			<real>290</real>
		</dict>
		<key>DEA3530B-8570-4386-BB26-A2BA5CAC5B08</key>
		<dict>
			<key>ypos</key>
			<real>160</real>
		</dict>
		<key>FD296C60-BD51-4DD1-B2FC-68851E053C27</key>
		<dict>
			<key>ypos</key>
			<real>410</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>http://geekzone.philosophicalzombie.net/</string>
</dict>
</plist>
