<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>zhxl.me/#stock</string>
	<key>connections</key>
	<dict>
		<key>F84D66DC-337F-4864-938C-53D630D887A1</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>DDC36430-3A5E-46DF-A690-3E0D03CCB517</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Larryzh</string>
	<key>description</key>
	<string>查询沪深股票及指数行情</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>股票行情</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>127</integer>
				<key>keyword</key>
				<string>gp</string>
				<key>runningsubtext</key>
				<string>拼命加载中...</string>
				<key>script</key>
				<string>require_once('stock.php');
$stock = new Stock();
echo $stock-&gt;query("{query}");</string>
				<key>subtext</key>
				<string>感谢新浪无私提供API，省了大麻烦了</string>
				<key>title</key>
				<string>您可以输入股票简拼或代码</string>
				<key>type</key>
				<integer>1</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>F84D66DC-337F-4864-938C-53D630D887A1</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>plusspaces</key>
				<false/>
				<key>url</key>
				<string>{query}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>DDC36430-3A5E-46DF-A690-3E0D03CCB517</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>DDC36430-3A5E-46DF-A690-3E0D03CCB517</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>F84D66DC-337F-4864-938C-53D630D887A1</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>http://zhxl.me</string>
</dict>
</plist>
