<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>org.0x3f.pushbullet</string>
	<key>connections</key>
	<dict>
		<key>0454B024-4458-426D-8821-657AC693F4AF</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>6D974F7E-8D4C-476A-9B01-9942ED343843</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>AA8B47EF-14F7-490B-ABF2-F2FD0B99D1D1</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>0454B024-4458-426D-8821-657AC693F4AF</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Donie Leigh</string>
	<key>description</key>
	<string>Push texts to phone by pushbullet.</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Pushbullet</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>127</integer>
				<key>script</key>
				<string>python main.py ACCESS_TOKEN DEVICE_NAME "{query}"</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>0454B024-4458-426D-8821-657AC693F4AF</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>push</string>
				<key>subtext</key>
				<string>Push texts to another device.</string>
				<key>text</key>
				<string>Pushbullet</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>AA8B47EF-14F7-490B-ABF2-F2FD0B99D1D1</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>output</key>
				<integer>0</integer>
				<key>removeextension</key>
				<false/>
				<key>sticky</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>Pushbullet</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>6D974F7E-8D4C-476A-9B01-9942ED343843</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>0454B024-4458-426D-8821-657AC693F4AF</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>6D974F7E-8D4C-476A-9B01-9942ED343843</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>AA8B47EF-14F7-490B-ABF2-F2FD0B99D1D1</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>http://0x3f.org</string>
</dict>
</plist>
