<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.benzi.a2w.flux</string>
	<key>connections</key>
	<dict>
		<key>1FAD0E0F-3D46-4AA5-8DE4-88CA69066BAE</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>5992158E-B383-4A9A-99F0-E9E1472EF2C7</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>2BDE72FE-FE79-462B-9B22-A67A6426DFAB</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>0E429E93-9A08-4810-93E0-4B123B590539</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>1FAD0E0F-3D46-4AA5-8DE4-88CA69066BAE</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>92EC91E6-D586-41ED-9DFE-50CCBD6235F8</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A42BFAC5-12C2-4151-886A-BAA602CEB825</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>8E254A43-AB21-46E5-93A1-8DDF07DF8725</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Benzi Ahamed</string>
	<key>description</key>
	<string>Change the screen color temperature</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>f.lux</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>63</integer>
				<key>keyword</key>
				<string>flux</string>
				<key>script</key>
				<string>cat &lt;&lt; EOB

&lt;?xml version="1.0"?&gt;
&lt;items&gt;
  &lt;item uid="flux.disable.hour" autocomplete="hour" arg="3600"&gt;
    &lt;title&gt;Disable for an hour&lt;/title&gt;
	&lt;icon&gt;2BDE72FE-FE79-462B-9B22-A67A6426DFAB.png&lt;/icon&gt;
  &lt;/item&gt;
  &lt;item uid="flux.disable.minute" autocomplete="minute" arg="60"&gt;
    &lt;title&gt;Disable for a minute&lt;/title&gt;
	&lt;icon&gt;2BDE72FE-FE79-462B-9B22-A67A6426DFAB.png&lt;/icon&gt;
  &lt;/item&gt;
&lt;/items&gt;

EOB</string>
				<key>title</key>
				<string>Disable for an hour</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>2BDE72FE-FE79-462B-9B22-A67A6426DFAB</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>output</key>
				<integer>0</integer>
				<key>removeextension</key>
				<false/>
				<key>sticky</key>
				<false/>
				<key>text</key>
				<string>Color temperature is now {query}K</string>
				<key>title</key>
				<string>Flux</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>A42BFAC5-12C2-4151-886A-BAA602CEB825</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>63</integer>
				<key>keyword</key>
				<string>flux</string>
				<key>script</key>
				<string>cat &lt;&lt; EOB

&lt;?xml version="1.0"?&gt;
&lt;items&gt;
  &lt;item uid="flux.switchto.candle" arg="2300"&gt;
    &lt;title&gt;Set to candlelight&lt;/title&gt;
    &lt;icon&gt;icon.png&lt;/icon&gt;
  &lt;/item&gt;
  &lt;item uid="flux.switchto.tungsten" arg="2700"&gt;
    &lt;title&gt;Set to tungsten&lt;/title&gt;
    &lt;icon&gt;icon.png&lt;/icon&gt;
  &lt;/item&gt;
  &lt;item uid="flux.switchto.halogen" arg="3400"&gt;
    &lt;title&gt;Set to halogen&lt;/title&gt;
    &lt;icon&gt;icon.png&lt;/icon&gt;
  &lt;/item&gt;
  &lt;item uid="flux.switchto.fluorescent" arg="4100"&gt;
    &lt;title&gt;Set to fluorescent&lt;/title&gt;
    &lt;icon&gt;icon.png&lt;/icon&gt;
  &lt;/item&gt;
  &lt;item uid="flux.switchto.daylight" arg="6500"&gt;
    &lt;title&gt;Set to daylight&lt;/title&gt;
    &lt;icon&gt;icon.png&lt;/icon&gt;
  &lt;/item&gt;
&lt;/items&gt;

EOB</string>
				<key>title</key>
				<string>Change the color temperature using F.lux</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>92EC91E6-D586-41ED-9DFE-50CCBD6235F8</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>output</key>
				<integer>0</integer>
				<key>removeextension</key>
				<false/>
				<key>sticky</key>
				<false/>
				<key>text</key>
				<string>Flux is now disabled</string>
				<key>title</key>
				<string>Flux</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>0E429E93-9A08-4810-93E0-4B123B590539</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>63</integer>
				<key>script</key>
				<string>USER=$(whoami)
NIGHT=$(defaults read /Users/$USER/Library/Preferences/org.herf.Flux nightColorTemp)
DAY=$(defaults read /Users/$USER/Library/Preferences/org.herf.Flux dayColorTemp)
if [ $DAY == ""]; then
DAY=$(echo 6500)
fi
defaults write /Users/$USER/Library/Preferences/org.herf.Flux nightColorTemp -integer $DAY
sleep {query}
defaults write /Users/$USER/Library/Preferences/org.herf.Flux nightColorTemp -integer $NIGHT
</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>1FAD0E0F-3D46-4AA5-8DE4-88CA69066BAE</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>output</key>
				<integer>0</integer>
				<key>removeextension</key>
				<false/>
				<key>sticky</key>
				<false/>
				<key>text</key>
				<string>Flux is now enabled</string>
				<key>title</key>
				<string>Flux</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>5992158E-B383-4A9A-99F0-E9E1472EF2C7</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>63</integer>
				<key>script</key>
				<string>USER=$(whoami)
defaults write /Users/$USER/Library/Preferences/org.herf.Flux nightColorTemp -integer {query}</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>8E254A43-AB21-46E5-93A1-8DDF07DF8725</string>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>0E429E93-9A08-4810-93E0-4B123B590539</key>
		<dict>
			<key>ypos</key>
			<real>310</real>
		</dict>
		<key>1FAD0E0F-3D46-4AA5-8DE4-88CA69066BAE</key>
		<dict>
			<key>ypos</key>
			<real>430</real>
		</dict>
		<key>2BDE72FE-FE79-462B-9B22-A67A6426DFAB</key>
		<dict>
			<key>ypos</key>
			<real>310</real>
		</dict>
		<key>5992158E-B383-4A9A-99F0-E9E1472EF2C7</key>
		<dict>
			<key>ypos</key>
			<real>430</real>
		</dict>
		<key>8E254A43-AB21-46E5-93A1-8DDF07DF8725</key>
		<dict>
			<key>ypos</key>
			<real>110</real>
		</dict>
		<key>92EC91E6-D586-41ED-9DFE-50CCBD6235F8</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>A42BFAC5-12C2-4151-886A-BAA602CEB825</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>benzi-ahamed.tumblr.com</string>
</dict>
</plist>
