<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>fmanoeli.supereffective</string>
	<key>connections</key>
	<dict>
		<key>714D4D91-6B51-4411-8292-73B2CF40DAD1</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B5CDFC3C-4050-4019-9A6C-A6FD777D95B0</string>
				<key>modifiers</key>
				<integer>524288</integer>
				<key>modifiersubtext</key>
				<string>Go to Pokemondb for more info</string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Felipe Manoeli</string>
	<key>description</key>
	<string>A wild workflow appears! (v 1.0)</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Super Effective!</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>127</integer>
				<key>script</key>
				<string>open http://www.pokemondb.net/type/{query}</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>B5CDFC3C-4050-4019-9A6C-A6FD777D95B0</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>127</integer>
				<key>keyword</key>
				<string>type</string>
				<key>runningsubtext</key>
				<string>Loading...</string>
				<key>script</key>
				<string>/usr/bin/ruby ./poketypes.rb {query}</string>
				<key>subtext</key>
				<string>Enter a Pokémon's type</string>
				<key>title</key>
				<string>Search Pokémon Type</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>714D4D91-6B51-4411-8292-73B2CF40DAD1</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>714D4D91-6B51-4411-8292-73B2CF40DAD1</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>B5CDFC3C-4050-4019-9A6C-A6FD777D95B0</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>about.manoeli.me</string>
</dict>
</plist>
