<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>push</string>
	<key>connections</key>
	<dict>
		<key>5DD80821-46B6-42ED-B64A-40E4AB1D190D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>732B703A-5B28-4716-89A0-B0A4A58313AE</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>732B703A-5B28-4716-89A0-B0A4A58313AE</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>33125399-8449-4B94-8498-8DE3683842BB</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Henter</string>
	<key>description</key>
	<string>用“消息速递”推送信息到手机</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Push</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<true/>
				<key>output</key>
				<integer>0</integer>
				<key>removeextension</key>
				<false/>
				<key>sticky</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>已推送到手机</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>33125399-8449-4B94-8498-8DE3683842BB</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>push</string>
				<key>text</key>
				<string>输入需要推送的文字</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>5DD80821-46B6-42ED-B64A-40E4AB1D190D</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>63</integer>
				<key>script</key>
				<string>curl -d 'domains=henter&amp;content='{query} http://1290.me/\!push-msgadd</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>732B703A-5B28-4716-89A0-B0A4A58313AE</string>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>33125399-8449-4B94-8498-8DE3683842BB</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>5DD80821-46B6-42ED-B64A-40E4AB1D190D</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>732B703A-5B28-4716-89A0-B0A4A58313AE</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>http://henter.me</string>
</dict>
</plist>
