<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string></string>
	<key>connections</key>
	<dict>
		<key>29388DAE-861D-424E-9B53-9D07B2D789B6</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>11D5721D-E45C-4D45-82C8-2CC370002271</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>DF886C69-2903-4BB4-96D9-B0BD628C83A8</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>0DC3087D-59DC-47D1-8DF3-51E7979EE516</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string></string>
	<key>description</key>
	<string></string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Open custom URL in specified browser</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>127</integer>
				<key>keyword</key>
				<string>bmap</string>
				<key>runningsubtext</key>
				<string>搜索百度地图中...</string>
				<key>script</key>
				<string>/usr/bin/python baidu-map.py {query}</string>
				<key>subtext</key>
				<string>查找地址</string>
				<key>title</key>
				<string>搜索百度地图</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>29388DAE-861D-424E-9B53-9D07B2D789B6</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>plusspaces</key>
				<false/>
				<key>url</key>
				<string>{query}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>11D5721D-E45C-4D45-82C8-2CC370002271</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>setl</string>
				<key>subtext</key>
				<string>例如'北京'，'上海'</string>
				<key>text</key>
				<string>设置默认地图搜索城市</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>DF886C69-2903-4BB4-96D9-B0BD628C83A8</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>127</integer>
				<key>script</key>
				<string>#coding=utf-8

f = file('city.txt', 'w')
f.write('{query}')
f.close()</string>
				<key>type</key>
				<integer>3</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>0DC3087D-59DC-47D1-8DF3-51E7979EE516</string>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>0DC3087D-59DC-47D1-8DF3-51E7979EE516</key>
		<dict>
			<key>ypos</key>
			<real>190</real>
		</dict>
		<key>11D5721D-E45C-4D45-82C8-2CC370002271</key>
		<dict>
			<key>ypos</key>
			<real>60</real>
		</dict>
		<key>29388DAE-861D-424E-9B53-9D07B2D789B6</key>
		<dict>
			<key>ypos</key>
			<real>60</real>
		</dict>
		<key>DF886C69-2903-4BB4-96D9-B0BD628C83A8</key>
		<dict>
			<key>ypos</key>
			<real>190</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
