<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>flushdns</string>
	<key>connections</key>
	<dict>
		<key>AAE2193C-E6C1-4A1C-8A17-774AF8868DCF</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>159A291E-3339-491E-8D3F-79091BE0319B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>CD69778A-A49B-44D1-9F54-B24359DEF8B8</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>AAE2193C-E6C1-4A1C-8A17-774AF8868DCF</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Carsten Draeger</string>
	<key>description</key>
	<string>Flush the DNS cache in Mac OS X (10.7+)</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Flush DNS</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<true/>
				<key>output</key>
				<integer>0</integer>
				<key>removeextension</key>
				<false/>
				<key>sticky</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>Flush DNS</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>159A291E-3339-491E-8D3F-79091BE0319B</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>applescript</key>
				<string>on alfred_script(q)
  if q is equal to "" then
	set output to (do shell script "killall -HUP mDNSResponder;echo $?" with administrator privileges)
  else
	set pwd to q
	set output to (do shell script "killall -HUP mDNSResponder;echo $?" password pwd with administrator privileges)
  end if

  if output is equal to "0" then
	return "DNS cache successfully flushed."
  else
	return "Error, cache was NOT flushed."
  end if
end alfred_script</string>
				<key>cachescript</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.applescript</string>
			<key>uid</key>
			<string>AAE2193C-E6C1-4A1C-8A17-774AF8868DCF</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>keyword</key>
				<string>flushdns</string>
				<key>subtext</key>
				<string>This command flushes the DNS cache. You can already enter your password after a space.</string>
				<key>text</key>
				<string>Flush DNS</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>CD69778A-A49B-44D1-9F54-B24359DEF8B8</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>You can contact me:

carsten@draegerit.de
@blacklight24 (Twitter)</string>
	<key>uidata</key>
	<dict>
		<key>159A291E-3339-491E-8D3F-79091BE0319B</key>
		<dict>
			<key>ypos</key>
			<real>60</real>
		</dict>
		<key>AAE2193C-E6C1-4A1C-8A17-774AF8868DCF</key>
		<dict>
			<key>ypos</key>
			<real>60</real>
		</dict>
		<key>CD69778A-A49B-44D1-9F54-B24359DEF8B8</key>
		<dict>
			<key>ypos</key>
			<real>60</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>https://github.com/cdraeger/alfred2-flushdns-workflow</string>
</dict>
</plist>
