<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>cn.mafengwo.alfred.travelguide</string>
	<key>connections</key>
	<dict>
		<key>A6029AD4-2E69-4DA4-ACFB-BF68BAD0A363</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>2D3CF241-B9BF-4493-B138-5821D7FEC0D5</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Song Xiaofeng</string>
	<key>description</key>
	<string>旅游攻略大搜索</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>蚂蜂窝-旅游攻略</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>plusspaces</key>
				<false/>
				<key>url</key>
				<string>http://www.mafengwo.cn/gonglve/{query}.html?from=alfred</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>2D3CF241-B9BF-4493-B138-5821D7FEC0D5</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>36</integer>
				<key>keyword</key>
				<string>gl</string>
				<key>runningsubtext</key>
				<string>Retrieving...</string>
				<key>script</key>
				<string>#author: Song Xiaofeng &lt;ylsongfeng@gmail.com&gt;
# -*- coding: utf-8 -*-

from Feedback import Feedback
import sys
import re
import json
import urllib
import urllib2
import sys
reload(sys)
sys.setdefaultencoding('utf8')

# import addition packages you want to access here

query = '{query}'
url = 'http://www.mafengwo.cn/mdd/ajax_book_search.php';

params = urllib.urlencode({'keyword':query,     
                           'act':'search'});   
           
req = urllib2.Request(url)                
f = urllib2.urlopen(req, params);

content = f.read();

response = json.loads(content)

fb = Feedback()
try:
	
	for item in response['msg']:
	    #url = 'http://www.mafengwo.cn/gonglve/zt-327.html'
	    fb.add_item(item['value'],
	        subtitle = "在网页中查看该攻略："+item['value'],
	        arg=item['type']+'-'+item['id'])
except SyntaxError as e:
    if ('EOF', 'EOL' in e.msg):
        fb.add_item('...')
    else:
        fb.add_item('SyntaxError', e.msg)
except Exception as e:
        fb.add_item(e.__class__.__name__,
            subtitle=e.message)    
print fb</string>
				<key>subtext</key>
				<string>请输入攻略名字或拼音缩写</string>
				<key>title</key>
				<string>查找蚂蜂窝-旅游攻略</string>
				<key>type</key>
				<integer>3</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>A6029AD4-2E69-4DA4-ACFB-BF68BAD0A363</string>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>2D3CF241-B9BF-4493-B138-5821D7FEC0D5</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>A6029AD4-2E69-4DA4-ACFB-BF68BAD0A363</key>
		<dict>
			<key>ypos</key>
			<real>20</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>http://www.mafengwo.cn</string>
</dict>
</plist>
