<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>wafflesn.safarihistory</string>
	<key>connections</key>
	<dict>
		<key>20CD11CD-526B-4D16-BCB8-CE58A9E9C630</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A1D8FE5A-268B-4FEA-8ED8-A27F0D3A8E2B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>waffles_n</string>
	<key>description</key>
	<string>Search Safari history items</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Safari History</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict/>
			<key>type</key>
			<string>alfred.workflow.action.openfile</string>
			<key>uid</key>
			<string>A1D8FE5A-268B-4FEA-8ED8-A27F0D3A8E2B</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>anchorfields</key>
				<true/>
				<key>daterange</key>
				<integer>0</integer>
				<key>fields</key>
				<array>
					<dict>
						<key>field</key>
						<string>kMDItemDisplayName</string>
						<key>not</key>
						<false/>
						<key>split</key>
						<false/>
						<key>value</key>
						<string>{query}</string>
						<key>words</key>
						<false/>
					</dict>
					<dict>
						<key>field</key>
						<string>kMDItemFinderComment</string>
						<key>not</key>
						<false/>
						<key>split</key>
						<false/>
						<key>value</key>
						<string>{query}</string>
						<key>words</key>
						<false/>
					</dict>
				</array>
				<key>includesystem</key>
				<false/>
				<key>keyword</key>
				<string>history</string>
				<key>scopes</key>
				<array>
					<string>~/Library/Caches/Metadata/Safari/History</string>
				</array>
				<key>subtext</key>
				<string>Search Safari history by name or URL</string>
				<key>title</key>
				<string>Safari history</string>
				<key>types</key>
				<array>
					<string>com.apple.safari.history</string>
				</array>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.filefilter</string>
			<key>uid</key>
			<string>20CD11CD-526B-4D16-BCB8-CE58A9E9C630</string>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>20CD11CD-526B-4D16-BCB8-CE58A9E9C630</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>A1D8FE5A-268B-4FEA-8ED8-A27F0D3A8E2B</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
