<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>v 1.0</string>
	<key>connections</key>
	<dict>
		<key>6A68FE96-1FE3-49CD-8576-D365F2FECB01</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D9B64F2E-31D7-4AB9-B238-F743FFE9A63D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>MacGeeky</string>
	<key>description</key>
	<string>PopClip options appears when activating</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Make PopClip Appear</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>6A68FE96-1FE3-49CD-8576-D365F2FECB01</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>applescript</key>
				<string>on alfred_script(q)
tell application "PopClip" to appear

end alfred_script</string>
				<key>cachescript</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.applescript</string>
			<key>uid</key>
			<string>D9B64F2E-31D7-4AB9-B238-F743FFE9A63D</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>6A68FE96-1FE3-49CD-8576-D365F2FECB01</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>D9B64F2E-31D7-4AB9-B238-F743FFE9A63D</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>http://macgeeky.no/alfred-v2/</string>
</dict>
</plist>
