<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string></string>
	<key>connections</key>
	<dict>
		<key>417C516A-29B6-4F53-9DCF-0D56321A43F1</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>BDE0D980-9071-4572-B159-33B7480A9A5B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>57C6C4DF-7CBC-4CCF-AA20-C5C6F8CB94C1</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>75C6CFA6-7F76-4BF6-8A3F-5A7F29759AC6</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>702BDE50-6D0D-4537-BE4D-AC2A4BBDEB56</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A79D636E-AA2F-459F-9DFA-CCDC93E3DE1C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>75C6CFA6-7F76-4BF6-8A3F-5A7F29759AC6</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>CA85E44D-4ACD-4560-AEC1-3AE965E8861F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>2955F924-57F2-4B93-B4DC-99D2BF3148B1</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>A79D636E-AA2F-459F-9DFA-CCDC93E3DE1C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>CA85E44D-4ACD-4560-AEC1-3AE965E8861F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>2955F924-57F2-4B93-B4DC-99D2BF3148B1</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>BDE0D980-9071-4572-B159-33B7480A9A5B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>CA85E44D-4ACD-4560-AEC1-3AE965E8861F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>2955F924-57F2-4B93-B4DC-99D2BF3148B1</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Andrew Ng</string>
	<key>description</key>
	<string></string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>IP Addresses</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>myip wifi</string>
				<key>text</key>
				<string>My WiFi IP Address</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>417C516A-29B6-4F53-9DCF-0D56321A43F1</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>output</key>
				<integer>0</integer>
				<key>removeextension</key>
				<false/>
				<key>sticky</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>IP Copied</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>2955F924-57F2-4B93-B4DC-99D2BF3148B1</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<true/>
				<key>clipboardtext</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>CA85E44D-4ACD-4560-AEC1-3AE965E8861F</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>63</integer>
				<key>script</key>
				<string>/bin/echo -n `ipconfig getifaddr en1`</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>BDE0D980-9071-4572-B159-33B7480A9A5B</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>myip wan</string>
				<key>text</key>
				<string>My WAN IP Address</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>57C6C4DF-7CBC-4CCF-AA20-C5C6F8CB94C1</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>63</integer>
				<key>script</key>
				<string>/bin/echo -n `ipconfig getifaddr en4`</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>A79D636E-AA2F-459F-9DFA-CCDC93E3DE1C</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>myip ethernet</string>
				<key>text</key>
				<string>My Ethernet IP Address</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>702BDE50-6D0D-4537-BE4D-AC2A4BBDEB56</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>63</integer>
				<key>script</key>
				<string>/bin/echo -n `curl http://api.externalip.net/ip/`</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>75C6CFA6-7F76-4BF6-8A3F-5A7F29759AC6</string>
		</dict>
	</array>
	<key>readme</key>
	<string>Workflow to grab ethernet, wifi, and external IP addresses.</string>
	<key>uidata</key>
	<dict>
		<key>2955F924-57F2-4B93-B4DC-99D2BF3148B1</key>
		<dict>
			<key>ypos</key>
			<real>250</real>
		</dict>
		<key>417C516A-29B6-4F53-9DCF-0D56321A43F1</key>
		<dict>
			<key>ypos</key>
			<real>250</real>
		</dict>
		<key>57C6C4DF-7CBC-4CCF-AA20-C5C6F8CB94C1</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>702BDE50-6D0D-4537-BE4D-AC2A4BBDEB56</key>
		<dict>
			<key>ypos</key>
			<real>130</real>
		</dict>
		<key>75C6CFA6-7F76-4BF6-8A3F-5A7F29759AC6</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>A79D636E-AA2F-459F-9DFA-CCDC93E3DE1C</key>
		<dict>
			<key>ypos</key>
			<real>130</real>
		</dict>
		<key>BDE0D980-9071-4572-B159-33B7480A9A5B</key>
		<dict>
			<key>ypos</key>
			<real>250</real>
		</dict>
		<key>CA85E44D-4ACD-4560-AEC1-3AE965E8861F</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>http://andrewng.com</string>
</dict>
</plist>
