<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string></string>
	<key>connections</key>
	<dict>
		<key>18010486-2C5E-4A43-A214-CD6A623EA070</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C5034390-21E8-4D16-A632-AE19BF1829DC</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>9926B454-8BBA-48B8-97AB-C65D8E238B3C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C5034390-21E8-4D16-A632-AE19BF1829DC</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>B188C672-C540-4F67-BCA2-562C6C9DA5B0</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F64E3CBD-A286-4DEC-9901-9FD348BD3D0B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>F1A470D2-2FC2-4FD3-90E3-E8DBE91CAA2E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F64E3CBD-A286-4DEC-9901-9FD348BD3D0B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Amio</string>
	<key>description</key>
	<string>Show the About dialog of this application or this mac.</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>About App &amp; Mac</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>applescript</key>
				<string>on alfred_script(q)
tell application "System Events"	tell (first process whose frontmost is true)		set appMenu to menu bar item 1 of menu bar 1		set appAbout to a reference to menu item 1 of menu of appMenu		click appAbout	end tellend tell
end alfred_script</string>
				<key>cachescript</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.applescript</string>
			<key>uid</key>
			<string>C5034390-21E8-4D16-A632-AE19BF1829DC</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>aboutapp</string>
				<key>text</key>
				<string>About This Application</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>B188C672-C540-4F67-BCA2-562C6C9DA5B0</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>aboutmac</string>
				<key>text</key>
				<string>About This Mac</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>18010486-2C5E-4A43-A214-CD6A623EA070</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>F1A470D2-2FC2-4FD3-90E3-E8DBE91CAA2E</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>9926B454-8BBA-48B8-97AB-C65D8E238B3C</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>applescript</key>
				<string>on alfred_script(q)
tell application "System Events"	tell (first process whose frontmost is true)		set appMenu to menu bar item 2 of menu bar 1		set appAbout to a reference to menu item 1 of menu of appMenu		click appAbout	end tellend tell
end alfred_script</string>
				<key>cachescript</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.applescript</string>
			<key>uid</key>
			<string>F64E3CBD-A286-4DEC-9901-9FD348BD3D0B</string>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>18010486-2C5E-4A43-A214-CD6A623EA070</key>
		<dict>
			<key>ypos</key>
			<real>250</real>
		</dict>
		<key>9926B454-8BBA-48B8-97AB-C65D8E238B3C</key>
		<dict>
			<key>ypos</key>
			<real>170</real>
		</dict>
		<key>B188C672-C540-4F67-BCA2-562C6C9DA5B0</key>
		<dict>
			<key>ypos</key>
			<real>90</real>
		</dict>
		<key>C5034390-21E8-4D16-A632-AE19BF1829DC</key>
		<dict>
			<key>ypos</key>
			<real>250</real>
		</dict>
		<key>F1A470D2-2FC2-4FD3-90E3-E8DBE91CAA2E</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>F64E3CBD-A286-4DEC-9901-9FD348BD3D0B</key>
		<dict>
			<key>ypos</key>
			<real>90</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>http://amio.cn/</string>
</dict>
</plist>
