<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>audioswitch.thegrebs.com</string>
	<key>connections</key>
	<dict>
		<key>5F79524F-AD42-43D9-A599-FD9B374736BF</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>9276993E-C133-4CB0-841B-BC94E86687AF</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>607D0CF7-013B-43E0-AA34-B839C23DFEA9</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>BE21B8E3-8259-4A61-BD18-444F26A72F6B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>9276993E-C133-4CB0-841B-BC94E86687AF</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>9021EA62-14D4-450A-B2AA-895F7BD25AD7</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>BE21B8E3-8259-4A61-BD18-444F26A72F6B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>9021EA62-14D4-450A-B2AA-895F7BD25AD7</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>mikegrb</string>
	<key>description</key>
	<string>change audio output</string>
	<key>name</key>
	<string>Audio Device</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string>perl glue.pl set input '{query}'</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>BE21B8E3-8259-4A61-BD18-444F26A72F6B</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>escaping</key>
				<integer>63</integer>
				<key>keyword</key>
				<string>input</string>
				<key>script</key>
				<string>perl glue.pl list input</string>
				<key>title</key>
				<string>Select Input Audio Device</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>607D0CF7-013B-43E0-AA34-B839C23DFEA9</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>escaping</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>output</string>
				<key>script</key>
				<string>perl glue.pl list output</string>
				<key>title</key>
				<string>Select Output Audio Device</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>5F79524F-AD42-43D9-A599-FD9B374736BF</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string>perl glue.pl set output '{query}'</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>9276993E-C133-4CB0-841B-BC94E86687AF</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>output</key>
				<integer>0</integer>
				<key>removeextension</key>
				<false/>
				<key>sticky</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>Audio Device Changed</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>9021EA62-14D4-450A-B2AA-895F7BD25AD7</string>
		</dict>
	</array>
	<key>uidata</key>
	<dict>
		<key>5F79524F-AD42-43D9-A599-FD9B374736BF</key>
		<dict>
			<key>ypos</key>
			<real>130</real>
		</dict>
		<key>607D0CF7-013B-43E0-AA34-B839C23DFEA9</key>
		<dict>
			<key>ypos</key>
			<real>250</real>
		</dict>
		<key>9021EA62-14D4-450A-B2AA-895F7BD25AD7</key>
		<dict>
			<key>ypos</key>
			<real>130</real>
		</dict>
		<key>9276993E-C133-4CB0-841B-BC94E86687AF</key>
		<dict>
			<key>ypos</key>
			<real>130</real>
		</dict>
		<key>BE21B8E3-8259-4A61-BD18-444F26A72F6B</key>
		<dict>
			<key>ypos</key>
			<real>250</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>michael.thegrebs.com</string>
</dict>
</plist>
