<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.wmbest.toggl</string>
	<key>connections</key>
	<dict>
		<key>7363D1C7-9CE8-4AE7-A54D-E7C18A21451D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E8EE7CA4-D8CC-41FA-993A-2BDDF712F89F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>7C9C8DD7-F761-4A38-BE3B-D4DC14A3ED40</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D0010EFD-FF86-4E87-B779-15B01FA3D3AD</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>D0010EFD-FF86-4E87-B779-15B01FA3D3AD</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>4F262FA5-3871-4CB6-8774-6828DA29BC7F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>E8EE7CA4-D8CC-41FA-993A-2BDDF712F89F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D0010EFD-FF86-4E87-B779-15B01FA3D3AD</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>William Best</string>
	<key>description</key>
	<string></string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Toggl Time Tracking</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>62</integer>
				<key>keyword</key>
				<string>tgl</string>
				<key>script</key>
				<string>python toggl.py {query}</string>
				<key>subtext</key>
				<string>A Better Toggl</string>
				<key>title</key>
				<string>Tgl</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>7C9C8DD7-F761-4A38-BE3B-D4DC14A3ED40</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>62</integer>
				<key>script</key>
				<string>python toggl.py execute {query}</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>D0010EFD-FF86-4E87-B779-15B01FA3D3AD</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>ts</string>
				<key>subtext</key>
				<string>Quick Start a Toggl Timer</string>
				<key>text</key>
				<string>Start Timer</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>E8EE7CA4-D8CC-41FA-993A-2BDDF712F89F</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>1</integer>
				<key>argumenttext</key>
				<string>ts </string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>7363D1C7-9CE8-4AE7-A54D-E7C18A21451D</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>output</key>
				<integer>0</integer>
				<key>removeextension</key>
				<false/>
				<key>sticky</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>Toggl</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>4F262FA5-3871-4CB6-8774-6828DA29BC7F</string>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>4F262FA5-3871-4CB6-8774-6828DA29BC7F</key>
		<dict>
			<key>ypos</key>
			<real>260</real>
		</dict>
		<key>7363D1C7-9CE8-4AE7-A54D-E7C18A21451D</key>
		<dict>
			<key>ypos</key>
			<real>20</real>
		</dict>
		<key>7C9C8DD7-F761-4A38-BE3B-D4DC14A3ED40</key>
		<dict>
			<key>ypos</key>
			<real>210</real>
		</dict>
		<key>D0010EFD-FF86-4E87-B779-15B01FA3D3AD</key>
		<dict>
			<key>ypos</key>
			<real>110</real>
		</dict>
		<key>E8EE7CA4-D8CC-41FA-993A-2BDDF712F89F</key>
		<dict>
			<key>ypos</key>
			<real>20</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
