<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>it.gvoc.yafow</string>
	<key>connections</key>
	<dict>
		<key>5B20F79A-414B-4460-8747-048EC0A66D2B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>5D259F1C-9121-41A3-A133-BC3D2C3742CA</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>5D259F1C-9121-41A3-A133-BC3D2C3742CA</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>8792EE90-D82B-4411-8F1D-8BD304685202</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Gaetano Vocca</string>
	<key>description</key>
	<string>Rebuild Open With… menu to remove duplicates</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Yet another Fix Open With...</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>fixopenwith</string>
				<key>subtext</key>
				<string>Rebuild Open With… menu</string>
				<key>text</key>
				<string>Fix Open With...</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>5B20F79A-414B-4460-8747-048EC0A66D2B</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>output</key>
				<integer>0</integer>
				<key>removeextension</key>
				<false/>
				<key>sticky</key>
				<false/>
				<key>text</key>
				<string>Rebuild complete</string>
				<key>title</key>
				<string>Fix Open With...</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>8792EE90-D82B-4411-8F1D-8BD304685202</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>63</integer>
				<key>script</key>
				<string>/System/Library/Frameworks/CoreServices.framework/Versions/A/Frameworks/LaunchServices.framework/Versions/A/Support/lsregister -kill -r -domain local -domain user
echo "Open With has been rebuilt, Finder will relaunch"
killall Finder
</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>5D259F1C-9121-41A3-A133-BC3D2C3742CA</string>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>5B20F79A-414B-4460-8747-048EC0A66D2B</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>5D259F1C-9121-41A3-A133-BC3D2C3742CA</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>8792EE90-D82B-4411-8F1D-8BD304685202</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
