<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.customct.filenamesequencer</string>
	<key>connections</key>
	<dict>
		<key>01271E66-C1E9-4387-9708-0140A3F0DCA4</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>53975BFA-D39E-465C-91F7-925A68E9C32D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>1073ABEC-9AF4-4FA3-834E-379251280C08</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>60FF1F31-CA0B-4262-80AA-C12D8CB685B2</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>2526F751-2167-4320-A4CD-25C1D31ED273</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>2AD78552-F6C7-426D-AC8F-EFBEBA0EDCB6</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>3B50EDC4-687C-434A-B0DB-3F125B2CA637</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>80DDC935-7848-49AD-992B-2C4296396B43</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>44AD583F-03C4-45F7-8DE1-51DFF7994B04</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>7BB2C067-9631-4536-82F2-99AB98D0CBAD</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>45135D03-2686-4FAC-8B67-F5E9386635F5</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>9692F26C-1B54-44EB-8637-D3F6F3CDB2EB</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>53975BFA-D39E-465C-91F7-925A68E9C32D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>37967F03-B49B-4394-AFA9-6891638E9D30</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>C297E24E-4A1A-4B6A-A992-CB9A65B11861</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>60FF1F31-CA0B-4262-80AA-C12D8CB685B2</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D8743A1B-4195-42EC-9452-80D87D4B1A2B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>7BB2C067-9631-4536-82F2-99AB98D0CBAD</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>37967F03-B49B-4394-AFA9-6891638E9D30</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>C297E24E-4A1A-4B6A-A992-CB9A65B11861</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>80DDC935-7848-49AD-992B-2C4296396B43</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D8743A1B-4195-42EC-9452-80D87D4B1A2B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>9BBBD5A2-B9A1-4592-9165-FA2DA14F7316</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A4EF5DC6-B74F-45B7-9E8F-E6CF620C47C7</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>A4EF5DC6-B74F-45B7-9E8F-E6CF620C47C7</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>168B6429-18DC-4735-8279-B8E3DBB6E8D1</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>B98371F3-614A-447C-A05C-90542788F70E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>45135D03-2686-4FAC-8B67-F5E9386635F5</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>EEAF1C5C-615F-4D78-98D3-4B9402AF2713</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>2526F751-2167-4320-A4CD-25C1D31ED273</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Richard Guay</string>
	<key>description</key>
	<string>This will increase the number in the clipboard by one and paste it back.</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>File Name Sequencer</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>setname</string>
				<key>subtext</key>
				<string>Set the file name for incrementing</string>
				<key>text</key>
				<string>File Name Sequencer</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>B98371F3-614A-447C-A05C-90542788F70E</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>setext</string>
				<key>subtext</key>
				<string>This will set the extention for the file sequencer.</string>
				<key>text</key>
				<string>File Name Sequencer</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>9BBBD5A2-B9A1-4592-9165-FA2DA14F7316</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>63</integer>
				<key>script</key>
				<string>$orig = "{query}";
preg_match("/([a-zA-Z0-9]*-)(\d\d)(.*)/",$orig,$match);
$newnum = (int) $match[2] + 1;
$new = sprintf("%s%02d%s",$match[1], $newnum, $match[3]);
echo $new;</string>
				<key>type</key>
				<integer>1</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>7BB2C067-9631-4536-82F2-99AB98D0CBAD</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>63</integer>
				<key>script</key>
				<string>include_once("workflows.php");
$wf = new Workflows();
$name = file_get_contents($wf-&gt;data().'/name.txt');
$ext = file_get_contents($wf-&gt;data().'/ext.txt');
$newnum = (int) file_get_contents($wf-&gt;data().'/number.txt') + 1;
file_put_contents($wf-&gt;data().'/number.txt',$newnum);
$new = sprintf("%s-%02d.%s",$name, $newnum, $ext);
echo $new;</string>
				<key>type</key>
				<integer>1</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>53975BFA-D39E-465C-91F7-925A68E9C32D</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>2</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>44AD583F-03C4-45F7-8DE1-51DFF7994B04</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>output</key>
				<integer>0</integer>
				<key>removeextension</key>
				<false/>
				<key>sticky</key>
				<false/>
				<key>text</key>
				<string>The new extention is {query}.</string>
				<key>title</key>
				<string>Filename Name Sequencer</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>168B6429-18DC-4735-8279-B8E3DBB6E8D1</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>clearcount</string>
				<key>subtext</key>
				<string>This will clear the sequence counter.</string>
				<key>text</key>
				<string>File Name Sequencer</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>EEAF1C5C-615F-4D78-98D3-4B9402AF2713</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>63</integer>
				<key>script</key>
				<string>include_once("workflows.php");
$wf = new Workflows();
$count = file_get_contents($wf-&gt;data()."/number.txt");
$count = $count - 1;
file_put_contents($wf-&gt;data()."/number.txt",$count);
echo "The count is now ".$count;</string>
				<key>type</key>
				<integer>1</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>60FF1F31-CA0B-4262-80AA-C12D8CB685B2</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>63</integer>
				<key>script</key>
				<string>include_once("workflows.php");
$wf = new Workflows();
$name = "{query}";
file_put_contents($wf-&gt;data()."/name.txt",$name);
echo $name;</string>
				<key>type</key>
				<integer>1</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>45135D03-2686-4FAC-8B67-F5E9386635F5</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>01271E66-C1E9-4387-9708-0140A3F0DCA4</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>deccount</string>
				<key>subtext</key>
				<string>Decrease the count number.</string>
				<key>text</key>
				<string>File Name Sequencer</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>1073ABEC-9AF4-4FA3-834E-379251280C08</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>inccount</string>
				<key>subtext</key>
				<string>Increase the Number</string>
				<key>text</key>
				<string>File Name Sequencer</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>3B50EDC4-687C-434A-B0DB-3F125B2CA637</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>output</key>
				<integer>0</integer>
				<key>removeextension</key>
				<false/>
				<key>sticky</key>
				<false/>
				<key>text</key>
				<string>Sequencer count is zeroed.</string>
				<key>title</key>
				<string>File Name Sequencer</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>2AD78552-F6C7-426D-AC8F-EFBEBA0EDCB6</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>output</key>
				<integer>0</integer>
				<key>removeextension</key>
				<false/>
				<key>sticky</key>
				<false/>
				<key>text</key>
				<string>Sequencer name is set to {query}.</string>
				<key>title</key>
				<string>File Name Sequencer</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>9692F26C-1B54-44EB-8637-D3F6F3CDB2EB</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>37967F03-B49B-4394-AFA9-6891638E9D30</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>63</integer>
				<key>script</key>
				<string>include_once("workflows.php");
$wf = new Workflows();
file_put_contents($wf-&gt;data()."/number.txt","0");
</string>
				<key>type</key>
				<integer>1</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>2526F751-2167-4320-A4CD-25C1D31ED273</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>output</key>
				<integer>0</integer>
				<key>removeextension</key>
				<false/>
				<key>sticky</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>File Name Sequencer</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>C297E24E-4A1A-4B6A-A992-CB9A65B11861</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>output</key>
				<integer>0</integer>
				<key>removeextension</key>
				<false/>
				<key>sticky</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>File Name Sequencer</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>D8743A1B-4195-42EC-9452-80D87D4B1A2B</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>63</integer>
				<key>script</key>
				<string>include_once("workflows.php");
$wf = new Workflows();
$count = file_get_contents($wf-&gt;data()."/number.txt");
$count = $count + 1;
file_put_contents($wf-&gt;data()."/number.txt",$count);
echo "The count is now ".$count;</string>
				<key>type</key>
				<integer>1</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>80DDC935-7848-49AD-992B-2C4296396B43</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>63</integer>
				<key>script</key>
				<string>include_once("workflows.php");
$wf = new Workflows();
$ext = "{query}";
file_put_contents($wf-&gt;data()."/ext.txt",$ext);
echo $ext;</string>
				<key>type</key>
				<integer>1</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>A4EF5DC6-B74F-45B7-9E8F-E6CF620C47C7</string>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>01271E66-C1E9-4387-9708-0140A3F0DCA4</key>
		<dict>
			<key>ypos</key>
			<real>250</real>
		</dict>
		<key>1073ABEC-9AF4-4FA3-834E-379251280C08</key>
		<dict>
			<key>ypos</key>
			<real>730</real>
		</dict>
		<key>168B6429-18DC-4735-8279-B8E3DBB6E8D1</key>
		<dict>
			<key>ypos</key>
			<real>490</real>
		</dict>
		<key>2526F751-2167-4320-A4CD-25C1D31ED273</key>
		<dict>
			<key>ypos</key>
			<real>370</real>
		</dict>
		<key>2AD78552-F6C7-426D-AC8F-EFBEBA0EDCB6</key>
		<dict>
			<key>ypos</key>
			<real>370</real>
		</dict>
		<key>37967F03-B49B-4394-AFA9-6891638E9D30</key>
		<dict>
			<key>ypos</key>
			<real>130</real>
		</dict>
		<key>3B50EDC4-687C-434A-B0DB-3F125B2CA637</key>
		<dict>
			<key>ypos</key>
			<real>610</real>
		</dict>
		<key>44AD583F-03C4-45F7-8DE1-51DFF7994B04</key>
		<dict>
			<key>ypos</key>
			<real>130</real>
		</dict>
		<key>45135D03-2686-4FAC-8B67-F5E9386635F5</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>53975BFA-D39E-465C-91F7-925A68E9C32D</key>
		<dict>
			<key>ypos</key>
			<real>250</real>
		</dict>
		<key>60FF1F31-CA0B-4262-80AA-C12D8CB685B2</key>
		<dict>
			<key>ypos</key>
			<real>730</real>
		</dict>
		<key>7BB2C067-9631-4536-82F2-99AB98D0CBAD</key>
		<dict>
			<key>ypos</key>
			<real>130</real>
		</dict>
		<key>80DDC935-7848-49AD-992B-2C4296396B43</key>
		<dict>
			<key>ypos</key>
			<real>610</real>
		</dict>
		<key>9692F26C-1B54-44EB-8637-D3F6F3CDB2EB</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>9BBBD5A2-B9A1-4592-9165-FA2DA14F7316</key>
		<dict>
			<key>ypos</key>
			<real>490</real>
		</dict>
		<key>A4EF5DC6-B74F-45B7-9E8F-E6CF620C47C7</key>
		<dict>
			<key>ypos</key>
			<real>490</real>
		</dict>
		<key>B98371F3-614A-447C-A05C-90542788F70E</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>C297E24E-4A1A-4B6A-A992-CB9A65B11861</key>
		<dict>
			<key>ypos</key>
			<real>250</real>
		</dict>
		<key>D8743A1B-4195-42EC-9452-80D87D4B1A2B</key>
		<dict>
			<key>ypos</key>
			<real>610</real>
		</dict>
		<key>EEAF1C5C-615F-4D78-98D3-4B9402AF2713</key>
		<dict>
			<key>ypos</key>
			<real>370</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>http://www.customct.com/shop/alfred-2-workflows/</string>
</dict>
</plist>
