<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string></string>
	<key>connections</key>
	<dict>
		<key>584CDA89-3A89-4446-868F-7D17E06103DB</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>858F8F30-5043-43F3-B570-AE2C7140B117</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>719B4BBA-BF86-4F25-84B7-D5AFCA28AEFE</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>BC236765-6837-4858-8CA4-390FC180D1C0</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>858F8F30-5043-43F3-B570-AE2C7140B117</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>DF8E4C2F-CD36-438E-AB69-91AE956A21F2</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>A3371A54-8C1A-4861-8409-C0557F7A2030</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>858F8F30-5043-43F3-B570-AE2C7140B117</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>719B4BBA-BF86-4F25-84B7-D5AFCA28AEFE</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>FC21B6C7-8986-4BA3-B8F6-D59C50D13A1B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>719B4BBA-BF86-4F25-84B7-D5AFCA28AEFE</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>PSiCKo</string>
	<key>description</key>
	<string>Ocultar/Mostrar archivos ocultos</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Gestionar archivos ocultos</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>output</key>
				<integer>0</integer>
				<key>removeextension</key>
				<false/>
				<key>sticky</key>
				<false/>
				<key>text</key>
				<string>Vislbles</string>
				<key>title</key>
				<string>Estado de los archivos ocultos</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>DF8E4C2F-CD36-438E-AB69-91AE956A21F2</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>mostrar</string>
				<key>subtext</key>
				<string>Hacer que los archivo ocultos del sistema se vuelvan visibles</string>
				<key>text</key>
				<string>Mostrar archivos ocultos</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>584CDA89-3A89-4446-868F-7D17E06103DB</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>127</integer>
				<key>script</key>
				<string>#!/bin/sh

	defaults write com.apple.finder AppleShowAllFiles TRUE
     echo "Los archivos ocultos están ahora visibles"
	killall Finder
</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>858F8F30-5043-43F3-B570-AE2C7140B117</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>acceptsmulti</key>
				<false/>
				<key>filetypes</key>
				<array>
					<string>public.folder</string>
				</array>
				<key>name</key>
				<string>Gestionar archivos ocultos</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.action</string>
			<key>uid</key>
			<string>A3371A54-8C1A-4861-8409-C0557F7A2030</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>output</key>
				<integer>0</integer>
				<key>removeextension</key>
				<false/>
				<key>sticky</key>
				<false/>
				<key>text</key>
				<string>Ocultos</string>
				<key>title</key>
				<string>Estado de los archivos ocultos</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>BC236765-6837-4858-8CA4-390FC180D1C0</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>127</integer>
				<key>script</key>
				<string>#!/bin/sh

	defaults write com.apple.finder AppleShowAllFiles FALSE
    echo "Los archivos ocultos están ahora ocultos"
	killall Finder</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>719B4BBA-BF86-4F25-84B7-D5AFCA28AEFE</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>ocultar</string>
				<key>subtext</key>
				<string>Devolver los archivos ocultos a su estado original</string>
				<key>text</key>
				<string>Ocultar archivos ocultos</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>FC21B6C7-8986-4BA3-B8F6-D59C50D13A1B</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>584CDA89-3A89-4446-868F-7D17E06103DB</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>719B4BBA-BF86-4F25-84B7-D5AFCA28AEFE</key>
		<dict>
			<key>ypos</key>
			<real>130</real>
		</dict>
		<key>858F8F30-5043-43F3-B570-AE2C7140B117</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>A3371A54-8C1A-4861-8409-C0557F7A2030</key>
		<dict>
			<key>ypos</key>
			<real>70</real>
		</dict>
		<key>BC236765-6837-4858-8CA4-390FC180D1C0</key>
		<dict>
			<key>ypos</key>
			<real>130</real>
		</dict>
		<key>DF8E4C2F-CD36-438E-AB69-91AE956A21F2</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>FC21B6C7-8986-4BA3-B8F6-D59C50D13A1B</key>
		<dict>
			<key>ypos</key>
			<real>190</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
