<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>net.eplekake.openinchrome</string>
	<key>connections</key>
	<dict>
		<key>AECAFE99-E0FC-41D3-B39D-2444C2FA8B18</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>DC48D362-38E5-4A99-8E69-9428BB586AB3</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>DC48D362-38E5-4A99-8E69-9428BB586AB3</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>8127B9A1-8B18-4E8D-88F8-9B6086A5C20D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Runar</string>
	<key>description</key>
	<string>Opens current Safari tab in Chrome</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Open current Safari tab in Chrome</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>applescript</key>
				<string>on alfred_script(q)
set isRunning to falsetell application "System Events"	if exists process "Google Chrome" then		set isRunning to true	end ifend telltell application "Safari" to set openURL to URL of current tab of window 1tell application "Safari" to set openName to name of current tab of window 1tell application "Google Chrome"	if isRunning is true then		if (count of windows) is 0 then			make new window			set URL of active tab of front window to openURL		else			make new tab at end of tabs of front window			set URL of active tab of front window to openURL		end if	else		set URL of active tab of front window to openURL	end if		delay 1	activateend tell

return openName
end alfred_script</string>
				<key>cachescript</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.applescript</string>
			<key>uid</key>
			<string>DC48D362-38E5-4A99-8E69-9428BB586AB3</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<true/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>output</key>
				<integer>0</integer>
				<key>removeextension</key>
				<true/>
				<key>sticky</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>Opened in Chrome!</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>8127B9A1-8B18-4E8D-88F8-9B6086A5C20D</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>chh</string>
				<key>subtext</key>
				<string>Open current Safari tab in Google Chrome</string>
				<key>text</key>
				<string>Open in Chrome</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>AECAFE99-E0FC-41D3-B39D-2444C2FA8B18</string>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>8127B9A1-8B18-4E8D-88F8-9B6086A5C20D</key>
		<dict>
			<key>ypos</key>
			<real>20</real>
		</dict>
		<key>AECAFE99-E0FC-41D3-B39D-2444C2FA8B18</key>
		<dict>
			<key>ypos</key>
			<real>20</real>
		</dict>
		<key>DC48D362-38E5-4A99-8E69-9428BB586AB3</key>
		<dict>
			<key>ypos</key>
			<real>20</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
