<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string></string>
	<key>connections</key>
	<dict>
		<key>1F0E7832-252F-4F1F-9847-5BE45302C26D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>2A972FB1-D3DA-45EC-93F9-41844649BDB7</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>2FCD122F-9DC3-4E9B-AD89-2F2A621639FC</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>43D4C594-AFCF-42A0-A801-78967E6B7061</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>43D4C594-AFCF-42A0-A801-78967E6B7061</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>2B2EAA4D-3171-4AC5-A2F3-CAD5474498F3</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>4890CF43-F735-43DE-BA38-D54987ED82BF</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F8567D2F-E1AE-4450-AB3F-728992C61710</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>58485DA1-2D3E-4DCD-8B7F-C30F4FB1928C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>1F0E7832-252F-4F1F-9847-5BE45302C26D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>B11B132B-4A61-4C05-8F4F-2111F454E6C6</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>4890CF43-F735-43DE-BA38-D54987ED82BF</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>D06D7C1F-4C31-43AD-841E-BB2850BDF601</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C8BECFA1-1D4E-4F63-8C4F-20173E1B3973</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>D5EB9929-E341-4BE2-85D8-1FBFA8764484</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D06D7C1F-4C31-43AD-841E-BB2850BDF601</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>qiwei</string>
	<key>description</key>
	<string>open, close, delete, add local snapshots</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Local Snapshots of Time Machine</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>output</key>
				<integer>0</integer>
				<key>removeextension</key>
				<false/>
				<key>sticky</key>
				<false/>
				<key>text</key>
				<string>Local snapshots deleted successfully.</string>
				<key>title</key>
				<string>Time Machine</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>F8567D2F-E1AE-4450-AB3F-728992C61710</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>127</integer>
				<key>script</key>
				<string>sudo tmutil disablelocal
sudo tmutil enablelocal</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>4890CF43-F735-43DE-BA38-D54987ED82BF</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>deletelocal</string>
				<key>subtext</key>
				<string>-Time Machine</string>
				<key>text</key>
				<string>Delete Local Snapshots</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>B11B132B-4A61-4C05-8F4F-2111F454E6C6</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>output</key>
				<integer>0</integer>
				<key>removeextension</key>
				<false/>
				<key>sticky</key>
				<false/>
				<key>text</key>
				<string>Local snapshots closed successfully.</string>
				<key>title</key>
				<string>Time Machine</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>2A972FB1-D3DA-45EC-93F9-41844649BDB7</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>127</integer>
				<key>script</key>
				<string>sudo tmutil disablelocal</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>1F0E7832-252F-4F1F-9847-5BE45302C26D</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>closelocal</string>
				<key>subtext</key>
				<string>-Time Machine</string>
				<key>text</key>
				<string>Close Local Snapshots</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>58485DA1-2D3E-4DCD-8B7F-C30F4FB1928C</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>output</key>
				<integer>0</integer>
				<key>removeextension</key>
				<false/>
				<key>sticky</key>
				<false/>
				<key>text</key>
				<string>Local snapshots opened successfully.</string>
				<key>title</key>
				<string>Time Machine</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>2B2EAA4D-3171-4AC5-A2F3-CAD5474498F3</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>127</integer>
				<key>script</key>
				<string>sudo tmutil enablelocal</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>43D4C594-AFCF-42A0-A801-78967E6B7061</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>openlocal</string>
				<key>subtext</key>
				<string>-Time Machine</string>
				<key>text</key>
				<string>Open Local Snapshots</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>2FCD122F-9DC3-4E9B-AD89-2F2A621639FC</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>127</integer>
				<key>script</key>
				<string>sudo tmutil snapshot</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>D06D7C1F-4C31-43AD-841E-BB2850BDF601</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>addlocal</string>
				<key>subtext</key>
				<string>-Time Machine</string>
				<key>text</key>
				<string>Backup Locally Now</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>D5EB9929-E341-4BE2-85D8-1FBFA8764484</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>output</key>
				<integer>0</integer>
				<key>removeextension</key>
				<false/>
				<key>sticky</key>
				<false/>
				<key>text</key>
				<string>Local Snapshots added successfully.</string>
				<key>title</key>
				<string>Time Machine</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>C8BECFA1-1D4E-4F63-8C4F-20173E1B3973</string>
		</dict>
	</array>
	<key>readme</key>
	<string>deletelocal
openlocal
closelocal
addlocal</string>
	<key>uidata</key>
	<dict>
		<key>1F0E7832-252F-4F1F-9847-5BE45302C26D</key>
		<dict>
			<key>ypos</key>
			<real>180</real>
		</dict>
		<key>2A972FB1-D3DA-45EC-93F9-41844649BDB7</key>
		<dict>
			<key>ypos</key>
			<real>180</real>
		</dict>
		<key>2B2EAA4D-3171-4AC5-A2F3-CAD5474498F3</key>
		<dict>
			<key>ypos</key>
			<real>300</real>
		</dict>
		<key>2FCD122F-9DC3-4E9B-AD89-2F2A621639FC</key>
		<dict>
			<key>ypos</key>
			<real>300</real>
		</dict>
		<key>43D4C594-AFCF-42A0-A801-78967E6B7061</key>
		<dict>
			<key>ypos</key>
			<real>300</real>
		</dict>
		<key>4890CF43-F735-43DE-BA38-D54987ED82BF</key>
		<dict>
			<key>ypos</key>
			<real>60</real>
		</dict>
		<key>58485DA1-2D3E-4DCD-8B7F-C30F4FB1928C</key>
		<dict>
			<key>ypos</key>
			<real>180</real>
		</dict>
		<key>B11B132B-4A61-4C05-8F4F-2111F454E6C6</key>
		<dict>
			<key>ypos</key>
			<real>60</real>
		</dict>
		<key>C8BECFA1-1D4E-4F63-8C4F-20173E1B3973</key>
		<dict>
			<key>ypos</key>
			<real>420</real>
		</dict>
		<key>D06D7C1F-4C31-43AD-841E-BB2850BDF601</key>
		<dict>
			<key>ypos</key>
			<real>420</real>
		</dict>
		<key>D5EB9929-E341-4BE2-85D8-1FBFA8764484</key>
		<dict>
			<key>ypos</key>
			<real>420</real>
		</dict>
		<key>F8567D2F-E1AE-4450-AB3F-728992C61710</key>
		<dict>
			<key>ypos</key>
			<real>60</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>qiwei.me</string>
</dict>
</plist>
