<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.rosenblut.org.toggler.03</string>
	<key>connections</key>
	<dict>
		<key>5D7387F8-1195-4A60-967A-F78BE1A1D8D5</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>63B43F15-68CB-448A-AAD5-841ADCC1843D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>63B43F15-68CB-448A-AAD5-841ADCC1843D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B41EB690-66CC-4FF4-9EB0-7C64CDC89754</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>6CE99C08-3E4D-4B73-B0B3-EC63BF3D5DD0</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C2122979-6121-460D-BD35-65A4DBB96FCD</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>88C760D6-26F7-45E2-9E13-D510C76E0973</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>901FC75F-6479-42FB-A410-63D3B95B0103</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>901FC75F-6479-42FB-A410-63D3B95B0103</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D1204C48-3EDC-4A03-9AE5-1881FA0785BA</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>9ABC9DB2-DFFA-481B-ACAE-F2E8D69FB3BA</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B687DF96-7A5B-4C8C-A1B5-2FE4A7F7F0A7</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>AD423F69-1A6C-4953-84EB-A163D45C35D3</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>63B43F15-68CB-448A-AAD5-841ADCC1843D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>B687DF96-7A5B-4C8C-A1B5-2FE4A7F7F0A7</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>2E244AD9-E720-40B1-B5EF-D6254918B5A1</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>BABEE450-DE1A-4809-BA40-0BDE75563258</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>FC03347E-8BE8-4A8A-A130-53CB1FC91E76</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>C2122979-6121-460D-BD35-65A4DBB96FCD</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A1976E8D-B52C-427D-BC85-3B03641FD245</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>C8262CDC-A0CB-4AAB-A895-809CA21A6CB1</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E5DF1773-7CAF-4AEA-A8C7-6C1BB348B870</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>E5DF1773-7CAF-4AEA-A8C7-6C1BB348B870</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D0A8B743-D8EC-4CB8-9BA0-16FE6D199143</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>E785CC76-D7A7-4809-B5AE-4D1EE9AD623A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>FC03347E-8BE8-4A8A-A130-53CB1FC91E76</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>FC03347E-8BE8-4A8A-A130-53CB1FC91E76</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>8E96AEFD-B25B-492C-9BF7-E2C42F68FB1E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>rosenkrieger</string>
	<key>description</key>
	<string>Toggles Cloud Drives on/off</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>CloudDrive Toggler</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>dp</string>
				<key>subtext</key>
				<string>Toggle</string>
				<key>text</key>
				<string>Droplr</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>6CE99C08-3E4D-4B73-B0B3-EC63BF3D5DD0</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>output</key>
				<integer>0</integer>
				<key>removeextension</key>
				<false/>
				<key>sticky</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>Dropl</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>A1976E8D-B52C-427D-BC85-3B03641FD245</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>sd</string>
				<key>subtext</key>
				<string>Toggle</string>
				<key>text</key>
				<string>Skydrive</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>9ABC9DB2-DFFA-481B-ACAE-F2E8D69FB3BA</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>63</integer>
				<key>script</key>
				<string>on ApplicationIsRunning(appName)	tell application "System Events" to set appNameIsRunning to exists (processes where name is appName)	return appNameIsRunningend ApplicationIsRunningif ApplicationIsRunning("Droplr") then	tell application "Droplr" to quit
	return "stopped"else	tell application "Droplr" to activate
	return "started"end if
</string>
				<key>type</key>
				<integer>6</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>C2122979-6121-460D-BD35-65A4DBB96FCD</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>AD423F69-1A6C-4953-84EB-A163D45C35D3</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>63</integer>
				<key>script</key>
				<string>set targetApp to "SkyDrive" 

tell application "System Events" 
    set processExists to exists process targetApp 
end tell 

if processExists is false then 
    tell application "SkyDrive" 
        activate 
    end tell 
end if

set targetApp to "Google Drive" 

tell application "System Events" 
    set processExists to exists process targetApp 
end tell 

if processExists is false then 
    tell application "Google Drive" 
        activate 
    end tell 
end if

set targetApp to "Dropbox" 

tell application "System Events" 
    set processExists to exists process targetApp 
end tell 

if processExists is false then 
    tell application "Dropbox" 
        activate 
    end tell 
end if

set targetApp to "Droplr" 

tell application "System Events" 
    set processExists to exists process targetApp 
end tell 

if processExists is false then 
    tell application "Droplr" 
        activate 
    end tell 
end if</string>
				<key>type</key>
				<integer>6</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>63B43F15-68CB-448A-AAD5-841ADCC1843D</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>db</string>
				<key>subtext</key>
				<string>Toggle</string>
				<key>text</key>
				<string>Dropbox</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>88C760D6-26F7-45E2-9E13-D510C76E0973</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>cloudon</string>
				<key>subtext</key>
				<string>Turn all CloudDrives on</string>
				<key>text</key>
				<string>CloudDrives</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>5D7387F8-1195-4A60-967A-F78BE1A1D8D5</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>cloudoff</string>
				<key>subtext</key>
				<string>Turn all CloudDrives off</string>
				<key>text</key>
				<string>CloudDrives</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>E785CC76-D7A7-4809-B5AE-4D1EE9AD623A</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>BABEE450-DE1A-4809-BA40-0BDE75563258</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>output</key>
				<integer>0</integer>
				<key>removeextension</key>
				<false/>
				<key>sticky</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>Google Drive</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>D0A8B743-D8EC-4CB8-9BA0-16FE6D199143</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>gd</string>
				<key>subtext</key>
				<string>Toggle</string>
				<key>text</key>
				<string>Google Drive</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>C8262CDC-A0CB-4AAB-A895-809CA21A6CB1</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>63</integer>
				<key>script</key>
				<string>set targetApp to "SkyDrive" 

tell application "System Events" 
    set processExists to exists process targetApp 
end tell 

if processExists is true then 
    tell application "SkyDrive" 
        quit 
    end tell 
end if

set targetApp to "Google Drive" 

tell application "System Events" 
    set processExists to exists process targetApp 
end tell 

if processExists is true then 
    tell application "Google Drive" 
        quit 
    end tell 
end if

set targetApp to "Dropbox" 

tell application "System Events" 
    set processExists to exists process targetApp 
end tell 

if processExists is true then 
    tell application "Dropbox" 
        quit 
    end tell 
end if

set targetApp to "Droplr" 

tell application "System Events" 
    set processExists to exists process targetApp 
end tell 

if processExists is true then 
    tell application "Droplr" 
        quit 
    end tell 
end if</string>
				<key>type</key>
				<integer>6</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>FC03347E-8BE8-4A8A-A130-53CB1FC91E76</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>output</key>
				<integer>0</integer>
				<key>removeextension</key>
				<false/>
				<key>sticky</key>
				<false/>
				<key>text</key>
				<string>All turned on!</string>
				<key>title</key>
				<string>CloudDrives</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>B41EB690-66CC-4FF4-9EB0-7C64CDC89754</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>63</integer>
				<key>script</key>
				<string>on ApplicationIsRunning(appName)	tell application "System Events" to set appNameIsRunning to exists (processes where name is appName)	return appNameIsRunningend ApplicationIsRunningif ApplicationIsRunning("Google Drive") then	tell application "Google Drive" to quit
	return "stopped"else	tell application "Google Drive" to activate
	return "started"end if
</string>
				<key>type</key>
				<integer>6</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>E5DF1773-7CAF-4AEA-A8C7-6C1BB348B870</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>output</key>
				<integer>0</integer>
				<key>removeextension</key>
				<false/>
				<key>sticky</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>SkyDrive</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>2E244AD9-E720-40B1-B5EF-D6254918B5A1</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>output</key>
				<integer>0</integer>
				<key>removeextension</key>
				<false/>
				<key>sticky</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>Dropbox</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>D1204C48-3EDC-4A03-9AE5-1881FA0785BA</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>63</integer>
				<key>script</key>
				<string>on ApplicationIsRunning(appName)	tell application "System Events" to set appNameIsRunning to exists (processes where name is appName)	return appNameIsRunningend ApplicationIsRunningif ApplicationIsRunning("SkyDrive") then	tell application "SkyDrive" to quit
	return "stopped"else	tell application "SkyDrive" to activate
	return "started"end if
</string>
				<key>type</key>
				<integer>6</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>B687DF96-7A5B-4C8C-A1B5-2FE4A7F7F0A7</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>output</key>
				<integer>0</integer>
				<key>removeextension</key>
				<false/>
				<key>sticky</key>
				<false/>
				<key>text</key>
				<string>Shutdown!</string>
				<key>title</key>
				<string>CloudDrives</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>8E96AEFD-B25B-492C-9BF7-E2C42F68FB1E</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>63</integer>
				<key>script</key>
				<string>on ApplicationIsRunning(appName)	tell application "System Events" to set appNameIsRunning to exists (processes where name is appName)	return appNameIsRunningend ApplicationIsRunningif ApplicationIsRunning("Dropbox") then	tell application "Dropbox" to quit
	return "stopped"else	tell application "Dropbox" to activate
	return "started"end if
</string>
				<key>type</key>
				<integer>6</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>901FC75F-6479-42FB-A410-63D3B95B0103</string>
		</dict>
	</array>
	<key>readme</key>
	<string>Simply turns on/off CloudDrives

- Dropbox
- GoogleDrive
- SkyDrive</string>
	<key>uidata</key>
	<dict>
		<key>2E244AD9-E720-40B1-B5EF-D6254918B5A1</key>
		<dict>
			<key>ypos</key>
			<real>250</real>
		</dict>
		<key>5D7387F8-1195-4A60-967A-F78BE1A1D8D5</key>
		<dict>
			<key>ypos</key>
			<real>610</real>
		</dict>
		<key>63B43F15-68CB-448A-AAD5-841ADCC1843D</key>
		<dict>
			<key>ypos</key>
			<real>610</real>
		</dict>
		<key>6CE99C08-3E4D-4B73-B0B3-EC63BF3D5DD0</key>
		<dict>
			<key>ypos</key>
			<real>370</real>
		</dict>
		<key>88C760D6-26F7-45E2-9E13-D510C76E0973</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>8E96AEFD-B25B-492C-9BF7-E2C42F68FB1E</key>
		<dict>
			<key>ypos</key>
			<real>490</real>
		</dict>
		<key>901FC75F-6479-42FB-A410-63D3B95B0103</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>9ABC9DB2-DFFA-481B-ACAE-F2E8D69FB3BA</key>
		<dict>
			<key>ypos</key>
			<real>250</real>
		</dict>
		<key>A1976E8D-B52C-427D-BC85-3B03641FD245</key>
		<dict>
			<key>ypos</key>
			<real>370</real>
		</dict>
		<key>AD423F69-1A6C-4953-84EB-A163D45C35D3</key>
		<dict>
			<key>ypos</key>
			<real>690</real>
		</dict>
		<key>B41EB690-66CC-4FF4-9EB0-7C64CDC89754</key>
		<dict>
			<key>ypos</key>
			<real>610</real>
		</dict>
		<key>B687DF96-7A5B-4C8C-A1B5-2FE4A7F7F0A7</key>
		<dict>
			<key>ypos</key>
			<real>250</real>
		</dict>
		<key>BABEE450-DE1A-4809-BA40-0BDE75563258</key>
		<dict>
			<key>ypos</key>
			<real>550</real>
		</dict>
		<key>C2122979-6121-460D-BD35-65A4DBB96FCD</key>
		<dict>
			<key>ypos</key>
			<real>370</real>
		</dict>
		<key>C8262CDC-A0CB-4AAB-A895-809CA21A6CB1</key>
		<dict>
			<key>ypos</key>
			<real>130</real>
		</dict>
		<key>D0A8B743-D8EC-4CB8-9BA0-16FE6D199143</key>
		<dict>
			<key>ypos</key>
			<real>130</real>
		</dict>
		<key>D1204C48-3EDC-4A03-9AE5-1881FA0785BA</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>E5DF1773-7CAF-4AEA-A8C7-6C1BB348B870</key>
		<dict>
			<key>ypos</key>
			<real>130</real>
		</dict>
		<key>E785CC76-D7A7-4809-B5AE-4D1EE9AD623A</key>
		<dict>
			<key>ypos</key>
			<real>490</real>
		</dict>
		<key>FC03347E-8BE8-4A8A-A130-53CB1FC91E76</key>
		<dict>
			<key>ypos</key>
			<real>490</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>www.rosenblut.org</string>
</dict>
</plist>
