<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string></string>
	<key>connections</key>
	<dict>
		<key>E2AD3EF1-518E-443B-A4C8-161DB3933910</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A58E619E-7225-4AE3-AF5E-2B90CADF5AE0</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Neil B</string>
	<key>description</key>
	<string></string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Toggle Caffeine</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict/>
			<key>type</key>
			<string>alfred.workflow.trigger.contact</string>
			<key>uid</key>
			<string>A63AD3D0-DFB4-4F27-A03F-6E0E541126EF</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>keyword</key>
				<string>ca</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>E2AD3EF1-518E-443B-A4C8-161DB3933910</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>acceptsmulti</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.action</string>
			<key>uid</key>
			<string>936552AF-28DA-418B-A249-D4BC586843DE</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>63</integer>
				<key>script</key>
				<string>tell application "Caffeine"		get active	end tellset caffeine_status to resultif caffeine_status is true then		tell application "Caffeine"				turn off			end tell	else		tell application "Caffeine"				turn on			end tell	end if</string>
				<key>type</key>
				<integer>6</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>A58E619E-7225-4AE3-AF5E-2B90CADF5AE0</string>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>936552AF-28DA-418B-A249-D4BC586843DE</key>
		<dict>
			<key>ypos</key>
			<real>130</real>
		</dict>
		<key>A58E619E-7225-4AE3-AF5E-2B90CADF5AE0</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>A63AD3D0-DFB4-4F27-A03F-6E0E541126EF</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>E2AD3EF1-518E-443B-A4C8-161DB3933910</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
