<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.xiangshouding.alfred.fis</string>
	<key>connections</key>
	<dict>
		<key>090B0EEE-69B2-448A-B3CB-F3C1550D53D6</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>04515E1C-60F5-456F-927B-7193FE45A18E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>5A4801BF-76FF-4134-BA3B-D7ADC7D63E8E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>4258F77A-2F42-420A-958E-7C7CFFACD503</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>EBD9DB78-98E6-402B-B6B7-906E38643269</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>5DD59832-DD23-4CAA-8B83-E4F8FD953BED</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>090B0EEE-69B2-448A-B3CB-F3C1550D53D6</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>EBD9DB78-98E6-402B-B6B7-906E38643269</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>7B67B5C5-4908-4D2A-9061-9E01B5E9F07C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>xiangshouding</string>
	<key>description</key>
	<string></string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>fis</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string>open 'https://github.com/fis-dev/fis/wiki/%E9%85%8D%E7%BD%AEAPI{query}'</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>4258F77A-2F42-420A-958E-7C7CFFACD503</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>fis</string>
				<key>runningsubtext</key>
				<string>loading...</string>
				<key>script</key>
				<string>python ./fis.py {query}</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>5A4801BF-76FF-4134-BA3B-D7ADC7D63E8E</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>type</key>
			<string>alfred.workflow.output.largetype</string>
			<key>uid</key>
			<string>7B67B5C5-4908-4D2A-9061-9E01B5E9F07C</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>127</integer>
				<key>script</key>
				<string>print '{query}'</string>
				<key>type</key>
				<integer>3</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>EBD9DB78-98E6-402B-B6B7-906E38643269</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>fis update</string>
				<key>text</key>
				<string>Press Enter to update the cache</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>5DD59832-DD23-4CAA-8B83-E4F8FD953BED</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>output</key>
				<integer>0</integer>
				<key>removeextension</key>
				<false/>
				<key>sticky</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>fis alfred workflow</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>04515E1C-60F5-456F-927B-7193FE45A18E</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>127</integer>
				<key>script</key>
				<string>python ./fis.py update</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>090B0EEE-69B2-448A-B3CB-F3C1550D53D6</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>fansekey@gmail.com</string>
	<key>uidata</key>
	<dict>
		<key>04515E1C-60F5-456F-927B-7193FE45A18E</key>
		<dict>
			<key>ypos</key>
			<real>230</real>
		</dict>
		<key>090B0EEE-69B2-448A-B3CB-F3C1550D53D6</key>
		<dict>
			<key>ypos</key>
			<real>300</real>
		</dict>
		<key>4258F77A-2F42-420A-958E-7C7CFFACD503</key>
		<dict>
			<key>ypos</key>
			<real>20</real>
		</dict>
		<key>5A4801BF-76FF-4134-BA3B-D7ADC7D63E8E</key>
		<dict>
			<key>ypos</key>
			<real>60</real>
		</dict>
		<key>5DD59832-DD23-4CAA-8B83-E4F8FD953BED</key>
		<dict>
			<key>ypos</key>
			<real>210</real>
		</dict>
		<key>7B67B5C5-4908-4D2A-9061-9E01B5E9F07C</key>
		<dict>
			<key>ypos</key>
			<real>110</real>
		</dict>
		<key>EBD9DB78-98E6-402B-B6B7-906E38643269</key>
		<dict>
			<key>ypos</key>
			<real>180</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>https://github.com/xiangshouding</string>
</dict>
</plist>
