<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>dk.aiyo.appcleaner.v1</string>
	<key>connections</key>
	<dict>
		<key>28CDA04A-2D3E-422F-A22B-D3B8CF2E05AC</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>9A53B542-4862-4723-A0CF-DF537C09D56A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>8FCE9436-F5EC-4650-9F97-0DD1338123B4</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>9A53B542-4862-4723-A0CF-DF537C09D56A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>9A53B542-4862-4723-A0CF-DF537C09D56A</key>
		<array/>
	</dict>
	<key>createdby</key>
	<string>Jonas Eriksen</string>
	<key>description</key>
	<string></string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Uninstall with AppCleaner</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>acceptsmulti</key>
				<false/>
				<key>filetypes</key>
				<array>
					<string>com.apple.application-bundle</string>
					<string>com.apple.dashboard-widget</string>
					<string>com.apple.plugin</string>
				</array>
				<key>name</key>
				<string>Uninstall with AppCleaner</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.action</string>
			<key>uid</key>
			<string>28CDA04A-2D3E-422F-A22B-D3B8CF2E05AC</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>63</integer>
				<key>script</key>
				<string>open -a AppCleaner {query}</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>9A53B542-4862-4723-A0CF-DF537C09D56A</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>anchorfields</key>
				<true/>
				<key>daterange</key>
				<integer>0</integer>
				<key>fields</key>
				<array>
					<dict>
						<key>field</key>
						<string>kMDItemDisplayName</string>
						<key>not</key>
						<false/>
						<key>split</key>
						<true/>
						<key>value</key>
						<string>{query}</string>
						<key>words</key>
						<true/>
					</dict>
					<dict>
						<key>field</key>
						<string>kMDItemFinderComment</string>
						<key>not</key>
						<false/>
						<key>split</key>
						<true/>
						<key>value</key>
						<string>{query}</string>
						<key>words</key>
						<true/>
					</dict>
				</array>
				<key>includesystem</key>
				<false/>
				<key>keyword</key>
				<string>uninstall</string>
				<key>scopes</key>
				<array/>
				<key>title</key>
				<string>Uninstall with AppCleaner</string>
				<key>types</key>
				<array>
					<string>com.apple.application-bundle</string>
					<string>com.apple.dashboard-widget</string>
					<string>com.apple.plugin</string>
				</array>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.filefilter</string>
			<key>uid</key>
			<string>8FCE9436-F5EC-4650-9F97-0DD1338123B4</string>
		</dict>
	</array>
	<key>uidata</key>
	<dict>
		<key>28CDA04A-2D3E-422F-A22B-D3B8CF2E05AC</key>
		<dict>
			<key>ypos</key>
			<real>90</real>
		</dict>
		<key>8FCE9436-F5EC-4650-9F97-0DD1338123B4</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>9A53B542-4862-4723-A0CF-DF537C09D56A</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>www.aiyo.dk/alfredapp/v2</string>
</dict>
</plist>
