<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.ryanparman.workflow.packagist</string>
	<key>connections</key>
	<dict>
		<key>86F16A5E-0701-4D5E-B595-5F686CA3EE9B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>482A6EE5-E59C-4EC5-B402-C00CE60D174D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Ryan Parman</string>
	<key>description</key>
	<string>Search Packagist for Composer packages</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Packagist</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>63</integer>
				<key>keyword</key>
				<string>pack</string>
				<key>runningsubtext</key>
				<string>Retrieving search suggestions ...</string>
				<key>script</key>
				<string>php ./workflow.php "{query}"</string>
				<key>subtext</key>
				<string>Search Packagist for Composer packages</string>
				<key>title</key>
				<string>Search Packagist</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>86F16A5E-0701-4D5E-B595-5F686CA3EE9B</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>plusspaces</key>
				<false/>
				<key>url</key>
				<string>{query}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>482A6EE5-E59C-4EC5-B402-C00CE60D174D</string>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>482A6EE5-E59C-4EC5-B402-C00CE60D174D</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>86F16A5E-0701-4D5E-B595-5F686CA3EE9B</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>ryanparman.com</string>
</dict>
</plist>
