<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.ryanparman.workflow.geo</string>
	<key>connections</key>
	<dict>
		<key>86F16A5E-0701-4D5E-B595-5F686CA3EE9B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B12BD120-594D-4A88-84BF-E1FF2F650568</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>C9D097BA-23FB-4B3E-A877-43256392E5C5</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>B12BD120-594D-4A88-84BF-E1FF2F650568</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C9D097BA-23FB-4B3E-A877-43256392E5C5</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Ryan Parman</string>
	<key>description</key>
	<string>Lookup geographical information</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Geolocation</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>63</integer>
				<key>keyword</key>
				<string>geo</string>
				<key>runningsubtext</key>
				<string>Retrieving data…</string>
				<key>script</key>
				<string>php ./workflow.php "{query}"</string>
				<key>subtext</key>
				<string>Lookup geographical information</string>
				<key>title</key>
				<string>Geographical information</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>86F16A5E-0701-4D5E-B595-5F686CA3EE9B</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>plusspaces</key>
				<false/>
				<key>url</key>
				<string>{query}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>B12BD120-594D-4A88-84BF-E1FF2F650568</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>C9D097BA-23FB-4B3E-A877-43256392E5C5</string>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>86F16A5E-0701-4D5E-B595-5F686CA3EE9B</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>B12BD120-594D-4A88-84BF-E1FF2F650568</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>C9D097BA-23FB-4B3E-A877-43256392E5C5</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>ryanparman.com</string>
</dict>
</plist>
