<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>0001</string>
	<key>connections</key>
	<dict>
		<key>FF8E3BE3-2E94-4801-8A01-9AA8DE17340B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>74138C34-B8A1-4DE4-9E30-E9DF8DFDD232</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Mike Lipson</string>
	<key>description</key>
	<string>Opens Image Files in Pixelmator for Editing</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Open Image in Pixelmator</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>openwith</key>
				<string>/Applications/Pixelmator.app</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openfile</string>
			<key>uid</key>
			<string>74138C34-B8A1-4DE4-9E30-E9DF8DFDD232</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>anchorfields</key>
				<true/>
				<key>daterange</key>
				<integer>0</integer>
				<key>fields</key>
				<array>
					<dict>
						<key>field</key>
						<string>kMDItemDisplayName</string>
						<key>not</key>
						<false/>
						<key>split</key>
						<true/>
						<key>value</key>
						<string>{query}</string>
						<key>words</key>
						<true/>
					</dict>
					<dict>
						<key>field</key>
						<string>kMDItemFinderComment</string>
						<key>not</key>
						<false/>
						<key>split</key>
						<true/>
						<key>value</key>
						<string>{query}</string>
						<key>words</key>
						<true/>
					</dict>
				</array>
				<key>includesystem</key>
				<false/>
				<key>keyword</key>
				<string>pix</string>
				<key>scopes</key>
				<array/>
				<key>subtext</key>
				<string>Choose a File to Open</string>
				<key>title</key>
				<string>Open File in Pixelmator</string>
				<key>types</key>
				<array>
					<string>com.microsoft.bmp</string>
					<string>public.jpeg</string>
					<string>public.png</string>
					<string>public.tiff</string>
				</array>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.filefilter</string>
			<key>uid</key>
			<string>FF8E3BE3-2E94-4801-8A01-9AA8DE17340B</string>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>74138C34-B8A1-4DE4-9E30-E9DF8DFDD232</key>
		<dict>
			<key>ypos</key>
			<real>60</real>
		</dict>
		<key>FF8E3BE3-2E94-4801-8A01-9AA8DE17340B</key>
		<dict>
			<key>ypos</key>
			<real>60</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>www.mikelipson.com</string>
</dict>
</plist>
