<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>net.jeeker.awf.Lyric</string>
	<key>connections</key>
	<dict>
		<key>15F0351A-1F37-4934-9C8A-20E0ECD268D0</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E575792F-5EEE-4796-AFFF-0030E8A8B28E</string>
				<key>modifiers</key>
				<integer>524288</integer>
				<key>modifiersubtext</key>
				<string>Show lyric in Large Type and copy to clipboard</string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>A6425D0B-6774-455F-B605-34C0FE772214</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string>Copy lyric to clipboard</string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>7CFF6421-0CB1-4025-8EFD-B9653B81D9E8</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>76E23349-F983-4A2C-A927-34D5D9E337EF</string>
				<key>modifiers</key>
				<integer>262144</integer>
				<key>modifiersubtext</key>
				<string>Save lyric to iTunes current playing track</string>
			</dict>
		</array>
		<key>76E23349-F983-4A2C-A927-34D5D9E337EF</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>28D3169A-852B-4293-B47C-8B87BBA322A7</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>7CFF6421-0CB1-4025-8EFD-B9653B81D9E8</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>81A8A25A-0EE2-4E4C-A18A-2124282C879F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>A6425D0B-6774-455F-B605-34C0FE772214</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>09C26590-F7F1-46C4-A291-25558C10B77B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>EAFF3DC7-D35A-4D4D-9FFB-C91AFDC871D6</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>E575792F-5EEE-4796-AFFF-0030E8A8B28E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>656321F6-1E05-4BF8-A4F9-140F00D171EC</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>09C26590-F7F1-46C4-A291-25558C10B77B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>JinnLynn</string>
	<key>description</key>
	<string></string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Lyric</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>36</integer>
				<key>script</key>
				<string>python lyric.py output-clean "{query}"</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>E575792F-5EEE-4796-AFFF-0030E8A8B28E</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>09C26590-F7F1-46C4-A291-25558C10B77B</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<true/>
				<key>output</key>
				<integer>0</integer>
				<key>removeextension</key>
				<false/>
				<key>sticky</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>Lyric Download</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>81A8A25A-0EE2-4E4C-A18A-2124282C879F</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>36</integer>
				<key>script</key>
				<string>python lyric.py output-clean "{query}"</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>A6425D0B-6774-455F-B605-34C0FE772214</string>
		</dict>
		<dict>
			<key>type</key>
			<string>alfred.workflow.output.largetype</string>
			<key>uid</key>
			<string>656321F6-1E05-4BF8-A4F9-140F00D171EC</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>63</integer>
				<key>script</key>
				<string>python lyric.py save-to-itunes "{query}"</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>76E23349-F983-4A2C-A927-34D5D9E337EF</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<true/>
				<key>output</key>
				<integer>0</integer>
				<key>removeextension</key>
				<false/>
				<key>sticky</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>Copy Lyric to clipboard</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>EAFF3DC7-D35A-4D4D-9FFB-C91AFDC871D6</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>26</integer>
				<key>keyword</key>
				<string>lrc</string>
				<key>runningsubtext</key>
				<string>please wait...</string>
				<key>script</key>
				<string>python lyric.py search {query}</string>
				<key>subtext</key>
				<string>Format: lrc TITLE ARTIST e.g. lrc 'Heal The World' 'Michael Jackson'</string>
				<key>title</key>
				<string>Search Lyric for `{query}`</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>15F0351A-1F37-4934-9C8A-20E0ECD268D0</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>63</integer>
				<key>script</key>
				<string>python lyric.py download '{query}'</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>7CFF6421-0CB1-4025-8EFD-B9653B81D9E8</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<true/>
				<key>output</key>
				<integer>0</integer>
				<key>removeextension</key>
				<false/>
				<key>sticky</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>Save to iTunes current playing song</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>28D3169A-852B-4293-B47C-8B87BBA322A7</string>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>09C26590-F7F1-46C4-A291-25558C10B77B</key>
		<dict>
			<key>ypos</key>
			<real>140</real>
		</dict>
		<key>15F0351A-1F37-4934-9C8A-20E0ECD268D0</key>
		<dict>
			<key>ypos</key>
			<real>210</real>
		</dict>
		<key>28D3169A-852B-4293-B47C-8B87BBA322A7</key>
		<dict>
			<key>ypos</key>
			<real>490</real>
		</dict>
		<key>656321F6-1E05-4BF8-A4F9-140F00D171EC</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>76E23349-F983-4A2C-A927-34D5D9E337EF</key>
		<dict>
			<key>ypos</key>
			<real>400</real>
		</dict>
		<key>7CFF6421-0CB1-4025-8EFD-B9653B81D9E8</key>
		<dict>
			<key>ypos</key>
			<real>270</real>
		</dict>
		<key>81A8A25A-0EE2-4E4C-A18A-2124282C879F</key>
		<dict>
			<key>ypos</key>
			<real>370</real>
		</dict>
		<key>A6425D0B-6774-455F-B605-34C0FE772214</key>
		<dict>
			<key>ypos</key>
			<real>140</real>
		</dict>
		<key>E575792F-5EEE-4796-AFFF-0030E8A8B28E</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>EAFF3DC7-D35A-4D4D-9FFB-C91AFDC871D6</key>
		<dict>
			<key>ypos</key>
			<real>260</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>http://jeeker.net</string>
</dict>
</plist>
