<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>pkdb_pokedex</string>
	<key>connections</key>
	<dict>
		<key>24DD3924-E746-4518-9678-32BE3E5B5779</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A076FBCE-3EC6-46DD-BA55-2A8AEBAC6C2A</string>
				<key>modifiers</key>
				<integer>524288</integer>
				<key>modifiersubtext</key>
				<string>Go to Pokemondb for more info</string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>2356B152-EF6D-416E-BEC2-29C9809685BD</string>
				<key>modifiers</key>
				<integer>262144</integer>
				<key>modifiersubtext</key>
				<string>Go to Serebii.net for more info</string>
			</dict>
		</array>
		<key>2882CE00-52E0-4A3D-AB78-7B0D5E82CFAA</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>9274C9EC-1949-4B87-8D3B-FB92C1305640</string>
				<key>modifiers</key>
				<integer>262144</integer>
				<key>modifiersubtext</key>
				<string>Go to Serebii.net for more info</string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>85C96953-5212-49E4-B014-126463893314</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>EF7A0519-BFAB-4E70-979E-162475816569</string>
				<key>modifiers</key>
				<integer>524288</integer>
				<key>modifiersubtext</key>
				<string>Go to Pokemondb for more info</string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>059AAD2F-6607-497B-B343-49EB2B06E7A4</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string>See in Large Type</string>
			</dict>
		</array>
		<key>5E2CC1A9-F5BD-4979-B816-403038C55674</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B13A76EB-BD79-4FF2-A718-80692942A7B9</string>
				<key>modifiers</key>
				<integer>524288</integer>
				<key>modifiersubtext</key>
				<string>Go to Pokemondb for more info</string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>C3B1BB60-F73E-4F11-95E6-52E34CE83213</string>
				<key>modifiers</key>
				<integer>262144</integer>
				<key>modifiersubtext</key>
				<string>Go to Serebii.net for more info</string>
			</dict>
		</array>
		<key>E2A7EAF3-1256-42ED-9A53-3D2BC3B33DB2</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>059AAD2F-6607-497B-B343-49EB2B06E7A4</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string>See in Large Type</string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>29C6042E-002F-43F6-ABB1-A25ACB919100</string>
				<key>modifiers</key>
				<integer>524288</integer>
				<key>modifiersubtext</key>
				<string>Go to Pokemondb for more info</string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>CF31C8D2-87CB-4ED4-B9AE-8B49417F194A</string>
				<key>modifiers</key>
				<integer>262144</integer>
				<key>modifiersubtext</key>
				<string>Go to Serebii.net for more info</string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Felipe Manoeli (original by Xac Stegner)</string>
	<key>description</key>
	<string>Look up Pokémon info, moves, abilities and items. (v 2.0)</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Pokédex</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>127</integer>
				<key>script</key>
				<string>/usr/bin/ruby ./serebii.rb {query}</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>9274C9EC-1949-4B87-8D3B-FB92C1305640</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>127</integer>
				<key>script</key>
				<string>/usr/bin/ruby ./default.rb {query}</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>85C96953-5212-49E4-B014-126463893314</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>127</integer>
				<key>keyword</key>
				<string>dex</string>
				<key>runningsubtext</key>
				<string>Searching Pokémon</string>
				<key>script</key>
				<string>/usr/bin/ruby ./alfredex.rb {query}</string>
				<key>subtext</key>
				<string>Enter a Pokémon's name or number</string>
				<key>title</key>
				<string>Search Pokédex</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>2882CE00-52E0-4A3D-AB78-7B0D5E82CFAA</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>127</integer>
				<key>script</key>
				<string>/usr/bin/ruby ./pokemondb.rb {query}</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>EF7A0519-BFAB-4E70-979E-162475816569</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>type</key>
			<string>alfred.workflow.output.largetype</string>
			<key>uid</key>
			<string>059AAD2F-6607-497B-B343-49EB2B06E7A4</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>127</integer>
				<key>script</key>
				<string>s = "{query}".split(' ')
dashedName = s.join('-')

`open http://pokemondb.net/move/#{dashedName}`</string>
				<key>type</key>
				<integer>2</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>29C6042E-002F-43F6-ABB1-A25ACB919100</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>127</integer>
				<key>keyword</key>
				<string>move</string>
				<key>runningsubtext</key>
				<string>Loading...</string>
				<key>script</key>
				<string>/usr/bin/ruby ./pokemoves.rb {query}</string>
				<key>title</key>
				<string>Search Pokémon Moves</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>E2A7EAF3-1256-42ED-9A53-3D2BC3B33DB2</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>127</integer>
				<key>script</key>
				<string>string = "{query}".delete(' ')

`open http://www.serebii.net/attackdex-xy/#{string.downcase}.shtml`</string>
				<key>type</key>
				<integer>2</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>CF31C8D2-87CB-4ED4-B9AE-8B49417F194A</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>127</integer>
				<key>script</key>
				<string>open http://pokemondb.net/ability/{query}</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>B13A76EB-BD79-4FF2-A718-80692942A7B9</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>127</integer>
				<key>keyword</key>
				<string>ability</string>
				<key>runningsubtext</key>
				<string>Loading...</string>
				<key>script</key>
				<string>/usr/bin/ruby ./pokeabilities.rb {query}</string>
				<key>title</key>
				<string>Search Pokémon Abilities</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>5E2CC1A9-F5BD-4979-B816-403038C55674</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>127</integer>
				<key>script</key>
				<string>string = "{query}".delete('-')

`open http://www.serebii.net/abilitydex/#{string.downcase}.shtml`</string>
				<key>type</key>
				<integer>2</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>C3B1BB60-F73E-4F11-95E6-52E34CE83213</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>127</integer>
				<key>script</key>
				<string>string = "{query}"

s = string.split(' ')
dashedName = s.join('-')

`open http://pokemondb.net/item/#{dashedName}`</string>
				<key>type</key>
				<integer>2</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>A076FBCE-3EC6-46DD-BA55-2A8AEBAC6C2A</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>127</integer>
				<key>script</key>
				<string>string = "{query}".delete(' ')

`open http://www.serebii.net/itemdex/#{string.downcase}.shtml`</string>
				<key>type</key>
				<integer>2</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>2356B152-EF6D-416E-BEC2-29C9809685BD</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>127</integer>
				<key>keyword</key>
				<string>item</string>
				<key>runningsubtext</key>
				<string>Loading...</string>
				<key>script</key>
				<string>/usr/bin/ruby ./pokeitems.rb {query}</string>
				<key>title</key>
				<string>Search Pokémon Items</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>24DD3924-E746-4518-9678-32BE3E5B5779</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>059AAD2F-6607-497B-B343-49EB2B06E7A4</key>
		<dict>
			<key>ypos</key>
			<real>340</real>
		</dict>
		<key>2356B152-EF6D-416E-BEC2-29C9809685BD</key>
		<dict>
			<key>ypos</key>
			<real>980</real>
		</dict>
		<key>24DD3924-E746-4518-9678-32BE3E5B5779</key>
		<dict>
			<key>ypos</key>
			<real>980</real>
		</dict>
		<key>2882CE00-52E0-4A3D-AB78-7B0D5E82CFAA</key>
		<dict>
			<key>ypos</key>
			<real>210</real>
		</dict>
		<key>29C6042E-002F-43F6-ABB1-A25ACB919100</key>
		<dict>
			<key>ypos</key>
			<real>400</real>
		</dict>
		<key>5E2CC1A9-F5BD-4979-B816-403038C55674</key>
		<dict>
			<key>ypos</key>
			<real>710</real>
		</dict>
		<key>85C96953-5212-49E4-B014-126463893314</key>
		<dict>
			<key>ypos</key>
			<real>140</real>
		</dict>
		<key>9274C9EC-1949-4B87-8D3B-FB92C1305640</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>A076FBCE-3EC6-46DD-BA55-2A8AEBAC6C2A</key>
		<dict>
			<key>ypos</key>
			<real>870</real>
		</dict>
		<key>B13A76EB-BD79-4FF2-A718-80692942A7B9</key>
		<dict>
			<key>ypos</key>
			<real>640</real>
		</dict>
		<key>C3B1BB60-F73E-4F11-95E6-52E34CE83213</key>
		<dict>
			<key>ypos</key>
			<real>750</real>
		</dict>
		<key>CF31C8D2-87CB-4ED4-B9AE-8B49417F194A</key>
		<dict>
			<key>ypos</key>
			<real>520</real>
		</dict>
		<key>E2A7EAF3-1256-42ED-9A53-3D2BC3B33DB2</key>
		<dict>
			<key>ypos</key>
			<real>460</real>
		</dict>
		<key>EF7A0519-BFAB-4E70-979E-162475816569</key>
		<dict>
			<key>ypos</key>
			<real>270</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
