<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.xirong.workflow.sales</string>
	<key>category</key>
	<string>Internet</string>
	<key>connections</key>
	<dict>
		<key>10641D20-33A5-456C-B9EA-72B7C93BE3B6</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>29BF98E0-E41C-40D8-A5B8-9CB95F505D2D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>6E4EEBD5-0AB8-4986-8EC0-1CD707F41689</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>11D5721D-E45C-4D45-82C8-2CC370002271</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>7470AA33-82E5-4E24-9B7B-59997360EDAA</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>825471B6-A08E-430F-86E5-C1B1077AF9BE</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>D25676F5-3EE2-4BA2-A6AA-44212280DDCC</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>78B1E372-149D-4ABA-A4B5-25E4CFFC08F0</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>xirong</string>
	<key>description</key>
	<string>京东/淘宝/天猫/亚马逊等搜索购物内容</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>购物搜索</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>plusspaces</key>
				<false/>
				<key>url</key>
				<string>http://search.jd.com/Search?keyword={query}&amp;enc=utf-8</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>11D5721D-E45C-4D45-82C8-2CC370002271</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>jd</string>
				<key>text</key>
				<string>京东</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>6E4EEBD5-0AB8-4986-8EC0-1CD707F41689</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>plusspaces</key>
				<false/>
				<key>url</key>
				<string>http://s.taobao.com/search?q={query}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>29BF98E0-E41C-40D8-A5B8-9CB95F505D2D</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>tb</string>
				<key>subtext</key>
				<string>searching things in taobao.com</string>
				<key>text</key>
				<string>淘宝搜索</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>10641D20-33A5-456C-B9EA-72B7C93BE3B6</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>tm</string>
				<key>subtext</key>
				<string>search things in tianmao.com</string>
				<key>text</key>
				<string>天猫搜索</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>7470AA33-82E5-4E24-9B7B-59997360EDAA</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>plusspaces</key>
				<false/>
				<key>url</key>
				<string>http://list.tmall.com/search_product.htm?q={query}&amp;type=p</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>825471B6-A08E-430F-86E5-C1B1077AF9BE</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>zcn</string>
				<key>subtext</key>
				<string>search things in Amazon.cn</string>
				<key>text</key>
				<string>亚马逊</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>D25676F5-3EE2-4BA2-A6AA-44212280DDCC</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>plusspaces</key>
				<false/>
				<key>url</key>
				<string>http://www.amazon.cn/s/ref=nb_sb_noss_1?__mk_zh_CN=%E4%BA%9A%E9%A9%AC%E9%80%8A%E7%BD%91%E7%AB%99&amp;url=search-alias%3Daps&amp;field-keywords={query}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>78B1E372-149D-4ABA-A4B5-25E4CFFC08F0</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>10641D20-33A5-456C-B9EA-72B7C93BE3B6</key>
		<dict>
			<key>ypos</key>
			<real>120</real>
		</dict>
		<key>11D5721D-E45C-4D45-82C8-2CC370002271</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>29BF98E0-E41C-40D8-A5B8-9CB95F505D2D</key>
		<dict>
			<key>ypos</key>
			<real>120</real>
		</dict>
		<key>6E4EEBD5-0AB8-4986-8EC0-1CD707F41689</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>7470AA33-82E5-4E24-9B7B-59997360EDAA</key>
		<dict>
			<key>ypos</key>
			<real>230</real>
		</dict>
		<key>78B1E372-149D-4ABA-A4B5-25E4CFFC08F0</key>
		<dict>
			<key>ypos</key>
			<real>360</real>
		</dict>
		<key>825471B6-A08E-430F-86E5-C1B1077AF9BE</key>
		<dict>
			<key>ypos</key>
			<real>240</real>
		</dict>
		<key>D25676F5-3EE2-4BA2-A6AA-44212280DDCC</key>
		<dict>
			<key>ypos</key>
			<real>350</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>www.ixirong.com</string>
</dict>
</plist>
