<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.gingerbeardman.alfred.6music</string>
	<key>connections</key>
	<dict>
		<key>23E65978-615B-48F1-8585-E17BAFC2FFA0</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>2D7BDF44-7696-4435-B384-5D5CF86D536D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>2D7BDF44-7696-4435-B384-5D5CF86D536D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>54E181A6-D56A-4E07-A6D4-9837DDE4D238</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>E5925DF2-39A1-4D9E-B244-47E5E4BA1433</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>2D7BDF44-7696-4435-B384-5D5CF86D536D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Matt Sephton</string>
	<key>description</key>
	<string>Display the most recently played song on BBC 6music.</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>What’s on 6music</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>23E65978-615B-48F1-8585-E17BAFC2FFA0</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>36</integer>
				<key>script</key>
				<string>php -f script.php</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>2D7BDF44-7696-4435-B384-5D5CF86D536D</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>output</key>
				<integer>2</integer>
				<key>removeextension</key>
				<false/>
				<key>sticky</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>What’s on 6music</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>54E181A6-D56A-4E07-A6D4-9837DDE4D238</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>6music</string>
				<key>subtext</key>
				<string>Display the most recently played song on BBC 6music.</string>
				<key>text</key>
				<string>What’s on 6music</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>E5925DF2-39A1-4D9E-B244-47E5E4BA1433</string>
		</dict>
	</array>
	<key>readme</key>
	<string>Changelog
2013-04-25: now using new realtime polling endpoint</string>
	<key>uidata</key>
	<dict>
		<key>23E65978-615B-48F1-8585-E17BAFC2FFA0</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>2D7BDF44-7696-4435-B384-5D5CF86D536D</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>54E181A6-D56A-4E07-A6D4-9837DDE4D238</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>E5925DF2-39A1-4D9E-B244-47E5E4BA1433</key>
		<dict>
			<key>ypos</key>
			<real>110</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>http://www.gingerbeardman.com/alfred/</string>
</dict>
</plist>
