<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string></string>
	<key>connections</key>
	<dict>
		<key>82231D02-5EF1-48B6-AE57-D6E65695A045</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>921D6775-0826-4194-9886-C1528143587C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>D56377CF-889C-45E3-9A25-017703D98AFE</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string>Limpiar escritorio y vaciar papelera</string>
			</dict>
		</array>
		<key>921D6775-0826-4194-9886-C1528143587C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>0CD72FC7-9EDE-4442-B9E0-0AB77F6B927F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>D56377CF-889C-45E3-9A25-017703D98AFE</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A065FE01-99FD-49F1-9E09-CAF8E788EB2C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>PSiCKo</string>
	<key>description</key>
	<string>Vaciar escritorio y papelera</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Limpiar escritorio</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>output</key>
				<integer>0</integer>
				<key>removeextension</key>
				<false/>
				<key>sticky</key>
				<false/>
				<key>title</key>
				<string>Escritorio limpio</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>0CD72FC7-9EDE-4442-B9E0-0AB77F6B927F</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>limpiar escritorio</string>
				<key>subtext</key>
				<string>Mover todos los archivos del escritorio a la papelera</string>
				<key>text</key>
				<string>Limpiar escritorio</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>82231D02-5EF1-48B6-AE57-D6E65695A045</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>127</integer>
				<key>script</key>
				<string>tell application "Finder"	set allDesktop to every item of folder (path to desktop folder as text)	delete allDesktopend tell</string>
				<key>type</key>
				<integer>6</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>921D6775-0826-4194-9886-C1528143587C</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>127</integer>
				<key>script</key>
				<string>tell application "Finder"	set allDesktop to every item of folder (path to desktop folder as text)	delete allDesktop
    empty trash end tell</string>
				<key>type</key>
				<integer>6</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>D56377CF-889C-45E3-9A25-017703D98AFE</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>output</key>
				<integer>0</integer>
				<key>removeextension</key>
				<false/>
				<key>sticky</key>
				<false/>
				<key>title</key>
				<string>Escritorio limpio y papelera vaciada</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>A065FE01-99FD-49F1-9E09-CAF8E788EB2C</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>0CD72FC7-9EDE-4442-B9E0-0AB77F6B927F</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>82231D02-5EF1-48B6-AE57-D6E65695A045</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>921D6775-0826-4194-9886-C1528143587C</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>A065FE01-99FD-49F1-9E09-CAF8E788EB2C</key>
		<dict>
			<key>ypos</key>
			<real>130</real>
		</dict>
		<key>D56377CF-889C-45E3-9A25-017703D98AFE</key>
		<dict>
			<key>ypos</key>
			<real>130</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
