<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>dk.afogh.couchpotato</string>
	<key>connections</key>
	<dict>
		<key>040049F8-E6EC-439F-8992-D8867357178C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>756FB138-C27A-484B-9FBA-72EC5657868E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>3961514A-2843-42AA-8226-F8B5EE6D3510</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>756FB138-C27A-484B-9FBA-72EC5657868E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>3EF28986-B831-4DF2-8E7A-1C1397A80304</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>756FB138-C27A-484B-9FBA-72EC5657868E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>43C0F2BC-BBCB-46D3-B236-D2CB16D72C99</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>962060A2-1595-4A68-9A02-65C83AB8E6A7</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>49355C68-5B5C-4119-B3A6-018F17336F37</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>756FB138-C27A-484B-9FBA-72EC5657868E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>5A5F7A0D-51CA-4F36-8BCC-EBA80B061093</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>33250252-1082-475B-9FB6-689D5DF600C7</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>618B8709-249D-4E0E-A3D8-322A79792A65</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>756FB138-C27A-484B-9FBA-72EC5657868E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>72A1A789-7145-4796-801D-7E0244D3C877</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>49355C68-5B5C-4119-B3A6-018F17336F37</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>8176D555-A0CF-45C6-B50B-F9B303D86C0C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>040049F8-E6EC-439F-8992-D8867357178C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>87DAA58E-CE0F-411F-AAE5-8350038C8EC7</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>618B8709-249D-4E0E-A3D8-322A79792A65</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>962060A2-1595-4A68-9A02-65C83AB8E6A7</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>1A397543-BB25-4BEA-BA71-9FEE3E811514</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>9C851669-46EF-4BD0-AE10-4F98598B5592</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>756FB138-C27A-484B-9FBA-72EC5657868E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>A7F569AE-7328-415F-9DB3-F834F3E15EDD</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>3961514A-2843-42AA-8226-F8B5EE6D3510</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>A947BF94-3DBF-43E2-82C0-0926E4FF820B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>49355C68-5B5C-4119-B3A6-018F17336F37</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>B1D7B248-CBA4-42B8-AB29-EB57EFC63ACC</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>1E595948-1B12-49BD-A2D3-FDAF006C426E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>C809FBDE-E7BB-4B58-BAD6-F8B867FDB3A8</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>756FB138-C27A-484B-9FBA-72EC5657868E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>D3424408-E6AA-49CF-A0DE-D210509459EB</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C809FBDE-E7BB-4B58-BAD6-F8B867FDB3A8</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>D5CDAA16-A52D-4B6A-87A2-EC2F4FD1D311</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B1D7B248-CBA4-42B8-AB29-EB57EFC63ACC</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>DAE472C5-E038-4353-9F6D-23B73F332F98</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>3EF28986-B831-4DF2-8E7A-1C1397A80304</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>DBCBBC3D-E34B-440F-84D1-DD9C0B564A97</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>9C851669-46EF-4BD0-AE10-4F98598B5592</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Anders Fogh Eriksen</string>
	<key>description</key>
	<string>Control CouchPotato from Alfred</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>CouchPotato</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string>from couchpotatoAlfred import forced_search
forced_search()</string>
				<key>type</key>
				<integer>3</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>3961514A-2843-42AA-8226-F8B5EE6D3510</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>couch ping</string>
				<key>text</key>
				<string>Check if CouchPotato is running and available</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>8176D555-A0CF-45C6-B50B-F9B303D86C0C</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<true/>
				<key>output</key>
				<integer>0</integer>
				<key>removeextension</key>
				<false/>
				<key>sticky</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>CouchPotato</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>756FB138-C27A-484B-9FBA-72EC5657868E</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>4</integer>
				<key>script</key>
				<string>from couchpotatoAlfred import set_host
set_host("{query}")</string>
				<key>type</key>
				<integer>3</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>962060A2-1595-4A68-9A02-65C83AB8E6A7</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>couch host</string>
				<key>subtext</key>
				<string>Default is http://localhost:5050</string>
				<key>text</key>
				<string>Set host URL of CouchPotato</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>43C0F2BC-BBCB-46D3-B236-D2CB16D72C99</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string>from couchpotatoAlfred import open_browser
open_browser()</string>
				<key>type</key>
				<integer>3</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>33250252-1082-475B-9FB6-689D5DF600C7</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>couch id</string>
				<key>subtext</key>
				<string>eg. tt0168122</string>
				<key>text</key>
				<string>Add movie to wanted list with IMDB id</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>72A1A789-7145-4796-801D-7E0244D3C877</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>couch version</string>
				<key>text</key>
				<string>Get version of CouchPotato</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>87DAA58E-CE0F-411F-AAE5-8350038C8EC7</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>output</key>
				<integer>0</integer>
				<key>removeextension</key>
				<false/>
				<key>sticky</key>
				<false/>
				<key>text</key>
				<string>Host changed!</string>
				<key>title</key>
				<string>CouchPotato</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>1A397543-BB25-4BEA-BA71-9FEE3E811514</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string>from couchpotatoAlfred import restart
restart()</string>
				<key>type</key>
				<integer>3</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>C809FBDE-E7BB-4B58-BAD6-F8B867FDB3A8</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>4</integer>
				<key>script</key>
				<string>from couchpotatoAlfred import add_movie_by_id
add_movie_by_id("{query}")</string>
				<key>type</key>
				<integer>3</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>49355C68-5B5C-4119-B3A6-018F17336F37</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string>from couchpotatoAlfred import get_version
get_version()</string>
				<key>type</key>
				<integer>3</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>618B8709-249D-4E0E-A3D8-322A79792A65</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>4</integer>
				<key>script</key>
				<string>from couchpotatoAlfred import set_APIKey
set_APIKey("{query}")</string>
				<key>type</key>
				<integer>3</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>B1D7B248-CBA4-42B8-AB29-EB57EFC63ACC</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>couch</string>
				<key>text</key>
				<string>Open CouchPotato in your browser</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>5A5F7A0D-51CA-4F36-8BCC-EBA80B061093</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string>from couchpotatoAlfred import ping
ping()</string>
				<key>type</key>
				<integer>3</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>040049F8-E6EC-439F-8992-D8867357178C</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>output</key>
				<integer>0</integer>
				<key>removeextension</key>
				<false/>
				<key>sticky</key>
				<false/>
				<key>text</key>
				<string>API Key changed!</string>
				<key>title</key>
				<string>CouchPotato</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>1E595948-1B12-49BD-A2D3-FDAF006C426E</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>couch update</string>
				<key>subtext</key>
				<string>Updates if a update is available</string>
				<key>text</key>
				<string>Check for CouchPotato update</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>DAE472C5-E038-4353-9F6D-23B73F332F98</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>couch api</string>
				<key>text</key>
				<string>Set the API key for CouchPotato</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>D5CDAA16-A52D-4B6A-87A2-EC2F4FD1D311</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>couch search</string>
				<key>text</key>
				<string>Start a full search for all wanted movies</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>A7F569AE-7328-415F-9DB3-F834F3E15EDD</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>4</integer>
				<key>keyword</key>
				<string>couch add</string>
				<key>runningsubtext</key>
				<string>Loading movies...</string>
				<key>script</key>
				<string>from couchpotatoAlfred import search_movie
search_movie("{query}")</string>
				<key>title</key>
				<string>Add movie to wanted list</string>
				<key>type</key>
				<integer>3</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>A947BF94-3DBF-43E2-82C0-0926E4FF820B</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string>from couchpotatoAlfred import shutdown
shutdown()</string>
				<key>type</key>
				<integer>3</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>9C851669-46EF-4BD0-AE10-4F98598B5592</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>couch restart</string>
				<key>text</key>
				<string>Restart CouchPotato</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>D3424408-E6AA-49CF-A0DE-D210509459EB</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>couch shutdown</string>
				<key>text</key>
				<string>Shutdown CouchPotato</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>DBCBBC3D-E34B-440F-84D1-DD9C0B564A97</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string>from couchpotatoAlfred import update
update()</string>
				<key>type</key>
				<integer>3</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>3EF28986-B831-4DF2-8E7A-1C1397A80304</string>
		</dict>
	</array>
	<key>readme</key>
	<string>Setup:

- Use the keyword couch api to set your API key.
- If you host CouchPotato elsewhere than localhost use the keyword couch host to set your host URL.</string>
	<key>uidata</key>
	<dict>
		<key>040049F8-E6EC-439F-8992-D8867357178C</key>
		<dict>
			<key>ypos</key>
			<real>610</real>
		</dict>
		<key>1A397543-BB25-4BEA-BA71-9FEE3E811514</key>
		<dict>
			<key>ypos</key>
			<real>1210</real>
		</dict>
		<key>1E595948-1B12-49BD-A2D3-FDAF006C426E</key>
		<dict>
			<key>ypos</key>
			<real>1090</real>
		</dict>
		<key>33250252-1082-475B-9FB6-689D5DF600C7</key>
		<dict>
			<key>ypos</key>
			<real>250</real>
		</dict>
		<key>3961514A-2843-42AA-8226-F8B5EE6D3510</key>
		<dict>
			<key>ypos</key>
			<real>730</real>
		</dict>
		<key>3EF28986-B831-4DF2-8E7A-1C1397A80304</key>
		<dict>
			<key>ypos</key>
			<real>370</real>
		</dict>
		<key>43C0F2BC-BBCB-46D3-B236-D2CB16D72C99</key>
		<dict>
			<key>ypos</key>
			<real>1210</real>
		</dict>
		<key>49355C68-5B5C-4119-B3A6-018F17336F37</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>5A5F7A0D-51CA-4F36-8BCC-EBA80B061093</key>
		<dict>
			<key>ypos</key>
			<real>250</real>
		</dict>
		<key>618B8709-249D-4E0E-A3D8-322A79792A65</key>
		<dict>
			<key>ypos</key>
			<real>970</real>
		</dict>
		<key>72A1A789-7145-4796-801D-7E0244D3C877</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>756FB138-C27A-484B-9FBA-72EC5657868E</key>
		<dict>
			<key>ypos</key>
			<real>520</real>
		</dict>
		<key>8176D555-A0CF-45C6-B50B-F9B303D86C0C</key>
		<dict>
			<key>ypos</key>
			<real>610</real>
		</dict>
		<key>87DAA58E-CE0F-411F-AAE5-8350038C8EC7</key>
		<dict>
			<key>ypos</key>
			<real>970</real>
		</dict>
		<key>962060A2-1595-4A68-9A02-65C83AB8E6A7</key>
		<dict>
			<key>ypos</key>
			<real>1210</real>
		</dict>
		<key>9C851669-46EF-4BD0-AE10-4F98598B5592</key>
		<dict>
			<key>ypos</key>
			<real>850</real>
		</dict>
		<key>A7F569AE-7328-415F-9DB3-F834F3E15EDD</key>
		<dict>
			<key>ypos</key>
			<real>730</real>
		</dict>
		<key>A947BF94-3DBF-43E2-82C0-0926E4FF820B</key>
		<dict>
			<key>ypos</key>
			<real>130</real>
		</dict>
		<key>B1D7B248-CBA4-42B8-AB29-EB57EFC63ACC</key>
		<dict>
			<key>ypos</key>
			<real>1090</real>
		</dict>
		<key>C809FBDE-E7BB-4B58-BAD6-F8B867FDB3A8</key>
		<dict>
			<key>ypos</key>
			<real>490</real>
		</dict>
		<key>D3424408-E6AA-49CF-A0DE-D210509459EB</key>
		<dict>
			<key>ypos</key>
			<real>490</real>
		</dict>
		<key>D5CDAA16-A52D-4B6A-87A2-EC2F4FD1D311</key>
		<dict>
			<key>ypos</key>
			<real>1090</real>
		</dict>
		<key>DAE472C5-E038-4353-9F6D-23B73F332F98</key>
		<dict>
			<key>ypos</key>
			<real>370</real>
		</dict>
		<key>DBCBBC3D-E34B-440F-84D1-DD9C0B564A97</key>
		<dict>
			<key>ypos</key>
			<real>850</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>afogh.dk</string>
</dict>
</plist>
